[submodule "third_party/heroprotocol"]
	path = third_party/heroprotocol
	url = https://github.com/Blizzard/heroprotocol.git
[submodule "app/third_party/heroprotocol"]
	path = app/third_party/heroprotocol
	url = https://github.com/Blizzard/heroprotocol.git
