#hero-collection-summary,
#hero-collection-picks,
#hero-collection-hero,
#hero-collection-pool,
#hero-collection-comps {
  height: calc(100% - 40px);
}

#hero-collection-summary .floatThead-wrapper,
#hero-collection-picks .floatThead-wrapper {
  height: calc(100% - 20px);
}

#hero-collection-hero .floatThead-wrapper,
#hero-collection-pool .floatThead-wrapper,
#hero-collection-comps .floatThead-wrapper {
  height: 100%;
}

#hero-collection-body {
  height: calc(100% - 40px);
}

#hero-collection-summary tbody,
#hero-collection-comps tbody {
  font-size: 14pt;
}

#hero-collection-picks tbody {
  font-size: 12pt;
}

#hero-collection-detail-map-summary
{
  height: 689px;
}

#hero-collection-detail-hero-talent .talent-detail-table {
  height: 650px;
  margin-top: 0;
}

#hero-collection-detail-hero-talent .table-wrapper,
#hero-collection-detail-with-summary .table-wrapper,
#hero-collection-detail-against-summary .table-wrapper,
#hero-collection-pool .table-wrapper,
#hero-collection-comps .table-wrapper {
  margin-top: 0!important;
  height: 100%;
}

#hero-collection-summary .hero-collection-wrapper,
#hero-collection-picks .hero-collection-wrapper,
#hero-collection-pool .hero-collection-wrapper,
#hero-collection-comps .hero-collection-wrapper {
  height: calc(100% - 40px);
  overflow-y: auto;
  overflow-x: hidden;
}

#hero-collection-comps table tbody tr td .mini.image,
#hero-collection-comps table tbody tr td .mini.image img,
#print-window table tbody tr td .mini.image,
#print-window table tbody tr td .mini.image img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

#hero-collection-comps table .ui.image>.ui.ribbon.label {
  left: calc(.05rem - 0.1em);
}

#hero-collection-pool .hero-collection-not-played {
  height: calc(100% - 280px);
}

#hero-collection-pool .hero-collection-not-played .grid {
  height: 100%;
}

#hero-collection-pool .hero-collection-not-played .segment {
  height: 100%;
}

#hero-collection-summary .table-wrapper,
#hero-collection-picks .table-wrapper {
  margin-top: 20px!important;
  height: calc(100% - 20px);
}

#hero-collection-hero .hero-collection-wrapper {
  height: calc(100% - 60px);
  overflow-y: auto;
  overflow-x: hidden;
}

#hero-collection-hero-header {
  height: 60px;
  position: relative;
}

#hero-collection-hero-select-menu {
  position: absolute;
  right: 0;
  top: 0;
}

#hero-collection-hero .player-win {
  height: 600px;
}

#hero-collection-detail-against-summary .player-win,
#hero-collection-detail-with-summary .player-win {
  height: 560px;
}

#hero-collection-hero .player-win {
  font-size: 11pt;
}

#hero-collection-body .plus {
  color: #21ba45;
}

#hero-collection-body .minus {
  color: #f74545;
}