#hero-trends-summary,
#hero-trends-picks,
#hero-trends-bans,
#hero-trends-comps
{
  height: calc(100% - 40px);
}

#hero-trends-body .floatThead-wrapper {
  height: calc(100% - 20px);
}

#hero-trends-body {
  height: calc(100% - 40px);
}

#hero-trends-body tbody {
  font-size: 14pt;
}

#hero-trends-body .plus {
  color: #21ba45;
}

#hero-trends-body .minus {
  color: #f74545;
}

#hero-trends-body .hero-trends-wrapper {
  height: calc(100% - 40px);
  overflow-y: auto;
  overflow-x: hidden;
}

#hero-trends-body .table-wrapper {
  margin-top: 20px!important;
  height: calc(100% - 20px);
}

#hero-trends-comps table tbody tr td .mini.image,
#hero-trends-comps table tbody tr td .mini.image img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

#hero-trends-comps table .ui.image>.ui.ribbon.label {
  left: calc(.05rem - 0.1em);
}