/* Main application style sheet */
body {
    background-color: #1b1c1d;
}

#page-wrapper {
    background-color: #5d5d5d;
}

.is-page {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 40px;
    padding: 1em;
    height: calc(100% - 40px);
}

.clear {
    clear: both;
}

#section-menu-back-button {
    display: none;
}

#section-menu-back-button.show {
    display: block;
}

.floatThead-container {
    z-index: 5!important;
}

.is-hidden {
    display: none!important;
}

#main-menu .app-title {
    font-size: 14pt;
    line-height: 1em;
}

#main-menu .app-title .image {
    float: left;
    margin-right: 10px;
}

#main-menu .app-version-number {
    font-size: 9pt;
}

.filter-popup-widget {
    width: 550px;
}

.secondary.pointing.menu {
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.table-wrapper {
    height: calc(100% - 2rem);
    overflow: auto;
    margin-top: 2rem!important;
}

#section-menu {
    -webkit-app-region: drag;
}

#section-menu .item {
    -webkit-app-region: no-drag;
}

#section-menu .collection-name {
    margin-left: 5px;
    font-weight: bold;
}

#about-page-content .segment {
    height: 100%;
}

.about-wrapper {
    height: calc(100% - 100px);
    overflow-y: auto;    
}

#app-quit-button:hover {
    background-color: #db2828;
}

#message-container {
    position: absolute;
    right: 14px;
    top: 60px;
}

#message-container .message {
    width: 500px;
}

#message-container .update-restart-link {
    font-weight: bolder;
    cursor: pointer;
}

.floatThead-wrapper .center.alligned {
    text-align: center;
}