#maps-page-header {
  margin-bottom: 10px;
}

#maps-page-content .maps-page-wrapper {
  height: calc(100% - 50px);
  overflow-y: auto;
  overflow-x: hidden;
}

#map-individual-stats {
  height: calc(100% - 160px);
}

#map-individual-stats .segment {
  height: 100%;
}

#maps-page-content .floatThead-wrapper {
  height: 100%;
}

#map-individual-stats td {
  font-size: 14pt;
}

#maps-page-content .match-link {
  cursor: pointer;
}

#maps-page-content .match-link:hover,
#maps-page-content .match-link .value:hover {
  color: #ffe21f!important;
}