#match-detail-page-header {
  height: 110px;
}

#match-detail-page-header .two.wide.column {
  text-align: center;
}

#match-detail-map-name {
  margin-bottom: 0.2em;
}

#match-detail-mode {
  margin: 0;
}

#match-detail-date {
  font-size: 10pt;
  color: #FFF;
  margin-top: 0.5em;
}

#match-detail-victor {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#match-detail-body {
  height: calc(100% - 110px);
}

#match-detail-body .tab.segment {
  height: 95%;
}

#match-detail-page-content .secondary.pointing.menu {
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

#match-detail-summary table {
  height: 100%;
}

#match-detail-summary tr.blue,
#match-detail-details th.blue {
  background-color: #125080;
}

#match-detail-summary tr.red,
#match-detail-details th.red {
  background-color: #8e0e0e;
}

#match-detail-summary td h3 {
  font-size: 1.5rem;
}

#match-detail-body .match-detail-wrapper {
  height: calc(100% - 40px);
  overflow-y: auto;
}

#match-detail-details th.corner {
  border: 0;
  background: #5d5d5d;
  border-radius: 0;
  box-shadow: 0px 0px 0 0px #fff;
  -webkit-box-shadow: 0px 0px 0 0px #FFF;
}

#match-detail-details td {
  border-left: 1px solid #FFF;
  font-size: 12pt;
}