#player-detail-body {
  height: calc(100% - 40px);
}

#player-detail-summary,
#player-progression {
  height: 100%;
}

#player-progression {
  position: relative;
}

#player-detail-summary .grid #player-detail-map-summary,
#player-detail-summary .grid #player-detail-hero-talent {
  height: 692px;
}

#player-detail-summary .grid #player-detail-hero-summary {
  height: 654px;
}

#player-detail-summary .floatThead-wrapper,
#player-detail-hero-summary .floatThead-wrapper,
#player-hero-detail-stats .floatThead-wrapper {
  height: 100%;
}

#player-detail-summary .grid .table-wrapper table,
#player-detail-hero-summary .table-wrapper,
#player-detail-hero-talent .table-wrapper,
#player-compare-table .table-wrapper,
#team-compare-table .table-wrapper {
  margin-top: 0!important;
}

#player-detail-hero-summary .table-wrapper,
#player-detail-hero-talent .table-wrapper {
  height: 100%;
}

#player-compare-table .table-wrapper,
#team-compare-table .table-wrapper {
  height: 100%;
}

#player-compare-table,
#team-compare-table {
  height: 558px;
}

#player-page-header .ui.buttons {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: right;
}

#player-compare-table td,
#team-compare-table td {
  font-size: 14pt;
}

#player-compare-segment .right.menu,
#team-compare-segment .right.menu {
  width: 300px;
}

#players-set-player.ui.icon.button .icon {
  vertical-align: middle;
}

#player-detail-summary .player-detail-wrapper {
  height: calc(100% - 110px);
}

.player-detail-wrapper {
  height: calc(100% - 40px);
  overflow-y: auto;
  overflow-x: hidden;
}

#player-detail-summary-header {
  height: 60px;
  position: relative;
}

#player-hero-select-menu {
  position: absolute;
  right: 0;
  top: 0;
}

#player-detail-hero-talent .talent-detail-table {
  margin-top: 0;
  height: 650px;
}

#player-detail-hero-summary td {
  font-size: 14pt;
}

#player-hero-detail-stats {
  height: calc(100% - 90px);
}

#player-hero-detail-stats .segment {
  height: 100%;
}

#player-hero-detail-stats .table-wrapper-xy {
  overflow: auto;
  height: 100%;
}

#player-hero-detail-stats tbody td {
  cursor: pointer;
  font-size: 12pt;
}

#player-detail-body .player-win {
  height: 600px;
}

#player-detail-body .player-win {
  font-size: 12pt;
}

.talent-detail-table .item .header,
.talent-detail-table .item .description {
  color: #FFFFFF!important;
}

.talent-detail-table .talent-stat,
.talent-build table td {
  font-size: 14pt;
}

.talent-build table td {
  text-align: center!important;
}

.talent-detail-table tr.level-header {
  font-size: 14pt;
  font-weight: bold;
}

.talent-detail-table tr.level-header:hover,
.talent-detail-table tr.level-header td:hover {
  background-color: #333;
}

.player-detail-graph-container {
  height: 477px;
}

.player-detail-graph-container .segment {
  height: 100%;
}

.player-detail-graphs-container canvas {
  height: 100%;
}

.player-detail-graph-container.player-detail-stat-graph {
  height: 500px;
}

.player-detail-graph-container.player-detail-stat-graph .segment {
  height: 100%;
}

.player-detail-graph-container.player-detail-stat-graph canvas {
  margin-top: 0;
}

.player-axis-settings {
  width: 700px;
}

#player-progression .player-progression-segment {
  height: 532px;
}

.player-detail-graph-container canvas {
  margin-top: 24px;
}

#player-progression .player-detail-wrapper {
  height: calc(100% - 90px);
  margin-top: 50px;
}

#progression-interval-menu {
  position: absolute;
  right: 0;
  top: -45px;
}

#player-overall-hero-pool {
  position: absolute;
  right: 15px;
  top: -8px;
}

#player-detail-hero-pool canvas {
  width: 100%;
  height: 299px;
}

#player-detail-hero-pool .column.graph {
  height: 299px;
}

#player-detail-hero-pool {
  height: 656px;
}

#player-hero-thresh {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: right;
  width: 100%;
}

.btag {
  font-size: 10pt;
  margin-left: 5px;
}

#players-set-player {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: right;
}