#player-detail-body {
  height: calc(100% - 40px);
}

#player-detail-summary {
  height: 100%;
}

#player-detail-summary .grid #player-detail-hero-summary,
#player-detail-summary .grid #player-detail-map-summary,
#player-detail-summary .grid #player-detail-hero-talent {
  height: 650px;
}

#player-detail-summary .floatThead-wrapper,
#player-hero-detail-stats .floatThead-wrapper {
  height: 100%;
}

#player-detail-summary .grid .table-wrapper {
  height: calc(100% - 2rem);
  overflow: auto;
  margin-top: 2rem!important;
}

#player-detail-summary .grid .table-wrapper table {
  margin-top: 0!important;
}

#players-set-player.ui.icon.button .icon {
  vertical-align: middle;
}

#player-detail-body .secondary.pointing.menu {
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.player-detail-wrapper {
  height: calc(100% - 40px);
  overflow-y: auto;
  overflow-x: hidden;
}

#player-detail-summary .player-detail-wrapper {
  height: calc(100% - 110px);
}

#player-detail-summary-header {
  height: 60px;
  position: relative;
}

#player-hero-select-menu {
  position: absolute;
  right: 0;
  top: 0;
}

#player-detail-hero-talent {
  margin-top: 0;
}

#player-detail-hero-summary td {
  font-size: 14pt;
}

#player-page-header .button {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: right;
}

#player-hero-detail-stats {
  height: calc(100% - 90px);
}

#player-hero-detail-stats .table-wrapper-xy {
  overflow: auto;
  height: calc(100% - 16px);
}

#player-hero-detail-stats tbody td {
  cursor: pointer;
  font-size: 12pt;
}

#player-detail-body .player-win {
  height: 600px;
}

#player-detail-body .player-win {
  font-size: 11pt;
}

#player-detail-hero-talent .item .header,
#player-detail-hero-talent .item .description {
  color: #FFFFFF;
}

#player-detail-hero-talent .talent-stat {
  font-size: 14pt;
}

#player-detail-hero-talent tr.level-header {
  font-size: 14pt;
  font-weight: bold;
}

#player-detail-hero-talent tr.level-header:hover,
#player-detail-hero-talent tr.level-header td:hover {
  background-color: #333;
}