#player-ranking-page-header {
  margin-bottom: 20px;
}

#player-ranking-body {
  height: calc(100% - 20px);
}

#player-ranking-body .floatThead-wrapper {
  height: 100%;
}

#player-ranking-body .section {
  height: 100%;
}

#player-ranking-body .section-wrapper {
  height: calc(100% - 90px);
  margin-top: 10px;
}

#player-ranking-body .section-wrapper .segment {
  height: 100%;
}

#player-ranking-body .table-wrapper {
  margin-top: 0!important;
  height: 100%;
}