#settings-layout {
    height: 100%;
}

.settings-table-wrapper {
    overflow-y: auto;
    height: 100%;
}

#settings-submenu {
    position: absolute;
    height: 40px;
}

#settings-layout .tab {
    height: calc(100% - 50px);
    margin-top: 50px;
}

#settings-page-content .floatThead-wrapper {
    height: 100%;
}

#settings-page-content .table-wrapper {
    margin-top: 0px!important;
    height: 100%;
}

#settings-page-content .checkbox label {
    color: #FFF!important;
}

.settings-db-wrapper {
    height: calc(100% - 24px);
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 3px;
}

#settings-db-settings {
    height: 60%;
}

#settings-app-settings {
    height: 40%;
}