/*
I know someone is going to yell at me about the fact that i literally copied the
literally copying the player-ranking css file and renamed all the IDS but in 
my defense maybe this page will someday be completely different?
*/
#team-ranking-page-header {
  margin-bottom: 20px;
}

#team-ranking-body {
  height: calc(100% - 20px);
}

#team-ranking-body .floatThead-wrapper {
  height: 100%;
}

#team-ranking-body .section {
  height: 100%;
}

#team-ranking-body .section-wrapper {
  height: calc(100% - 90px);
  margin-top: 10px;
}

#team-ranking-body .section-wrapper .segment {
  height: calc(100% - 30px);
}

#team-ranking-body .table-wrapper {
  margin-top: 0!important;
  height: 100%;
}

#team-progress-bar .progress.active .label {
  color: #FFFFFF!important;
}

#team-ranking-body table th {
  min-width: 80px;
}