#team-detail-body {
  height: calc(100% - 40px);
}

#team-detail-body .tab {
  height: 100%;
}

#team-detail-body #team-hero-summary .tab {
  height: 562px;
}

#team-hero-summary .table-wrapper {
  height: 100%;
  overflow: auto;
  margin-top: 0!important;
}

.team-page-wrapper {
  height: calc(100% - 40px);
  overflow-y: auto;
  overflow-x: hidden;
}

#team-detail-body .floatThead-wrapper {
  height: 100%;
}

#team-detail-body .player-win {
  height: 600px;
}

#team-detail-body .player-win tbody td {
  font-size: 12pt;
}

#team-roster-stats tbody td,
#team-hero-summary tbody td {
  font-size: 13pt;
}

#team-map-summary,
#team-hero-summary {
  height: 600px;
}

#team-add-player-button {
  margin-top: 10px;
}

#teams-page-content .table-wrapper-xy {
  overflow: auto;
  height: calc(100% - 16px);
}