#team-detail-body {
  height: calc(100% - 40px);
}

#team-detail-body .tab {
  height: 100%;
}

#team-detail-body #team-hero-summary .tab {
  height: 562px;
}

#team-hero-summary .table-wrapper {
  height: 100%;
  overflow: auto;
  margin-top: 0!important;
}

#team-detail-body #team-roster-stats .floatThead-wrapper {
  height: calc(100% - 45px);
}

#team-detail-body #team-roster-stats .table-wrapper {
  margin-top: 0!important;
  height: 100%;
}

.team-page-wrapper {
  height: calc(100% - 40px);
  overflow-y: auto;
  overflow-x: hidden;
}

#team-detail-body .floatThead-wrapper {
  height: 100%;
}

#team-detail-body .player-win {
  height: 600px;
}

#team-compare-picks tbody td,
#team-detail-body .player-win tbody td {
  font-size: 12pt;
}

#team-roster-stats tbody td,
#team-compare-stats tbody td,
#team-hero-summary tbody td {
  font-size: 13pt;
}

#team-roster-stats .segment {
  height: calc(100% - 60px);
}

#team-map-summary,
#team-hero-summary,
#team-compare-stats,
#team-compare-map-stats {
  height: 600px;
}

#team-compare-picks {
  height: 800px;
}

#teams-page-content .table-wrapper-xy {
  overflow: auto;
  height: calc(100% - 16px);
}

#team-add-player-button {
  margin-top: 10px;
}

#team-roster-stats .section-wrapper {
  height: calc(100% - 30px);
}

#team-compare-picks tr.contested {
  background-color: rgb(101, 78, 0);
}

#team-compare-picks tr.contested:hover {
  background-color: rgb(138, 117, 0) !important;
}

#team-duo-with h3.image.header,
#team-duo-against h3.image.header
{
  width: 200px;
}