<template id="about-page">
  <div id="about-page-content" class="is-page transition hidden" section-name="about">
    <div class="ui inverted segment">
      <h1 class="ui inverted header">About</h1>
      <h2 class="ui inverted header">Stats of the Storm - Version <span class="app-version-number"></span></h2>
      <div class="about-wrapper">
        <p>Stats of the Storm is maintained by Falindrith on GitHub.</p>
        <p>Found a bug? Want to help? Check out the <a href="https://github.com/ebshimizu/hots-analysis" type="github-external">project page</a>.</p>
        <p>
          If you found a bug with the parser, please include the replay file that caused the error with
          your report! The release builds have the development console available from the settings page, so please also check if there are any
          errors displayed there when reporting bugs.</p>
        <p>If you want to suggest features, or just chat, contact @falindrith on Twitter/Telegram, or Falindrith#0623 on Discord.</p>
        <p>
          Stats of the Storm uses Blizzard's <a href="https://github.com/Blizzard/heroprotocol">heroprotocol</a> via
          <a href="https://github.com/nydus/heroprotocol">heroprotocol.js</a> as its parser, and
          gets talent and hero information and images from <a href="https://github.com/heroespatchnotes/heroes-talents">heroes-talents</a>.
        </p>
        <div class="ui inverted horizontal divider">Change Log</div>
        <h3 class="ui inverted dividing header">Version 0.4.0</h3>
        <p>
          Version 0.4.0 brings another set of features, and takes the app closer to a full 1.0 release. Big changes in this update include
          a re-designed matches list to help out with smaller screen sizes, a new trends section to see how pick and ban rates change
          over time, player hero pool stats, and the ability to plot any average player stat over time. For a full list of changes,
          check out the list below.

          Thanks to AlexNewell and sakurinha on GitHub for suggesting some of the features in this release.
        </p>
        <p><a href="https://github.com/ebshimizu/stats-of-the-storm/issues/89">#89</a>
          New Feature: Trends. Specify two time spans and see changes in the win, pick, and ban rates of all heroes in the collection.
          All standard filters are available, so you can see stats for specific maps as well.
        </p>
        <p><a href="https://github.com/ebshimizu/stats-of-the-storm/issues/99">#99</a>
          Player Details: Hero pool stats added. This is a new tab in the All Hero Summary view.
        </p>
        <p><a href="https://github.com/ebshimizu/stats-of-the-storm/issues/109">#109</a>
          Player Details: Progression tab now allows the graphing of any non-map-specific stat.
        </p>
        <p><a href="https://github.com/ebshimizu/stats-of-the-storm/issues/95">#95</a>
          Matches: Re-designed the match list. Matches now scroll, and text does not shrink. Should help
          with viewing the match list on a small screen. Also added team nameplates (if there are any applicable teams).
        </p>
        <p><a href="https://github.com/ebshimizu/stats-of-the-storm/issues/110">#110</a>
          Match Details: Team XP graph can be toggled between 'Total XP vs Time' mode and 'Levels vs Time' mode.
        </p>
        <p><a href="https://github.com/ebshimizu/stats-of-the-storm/issues/108">#108</a>
          Player Details, Team Details, Collection: Heroes: A threshold can be set to filter out heroes that have fewer games
          than the specified threshold.
        </p>
        <p><a href="https://github.com/ebshimizu/stats-of-the-storm/issues/111">#111</a>
          Matches: Matches can be searched conditioned on the win/loss of a specified player or team.
        </p>
        <p><a href="https://github.com/ebshimizu/stats-of-the-storm/issues/112">#112</a>
          Heroes, Team Details: Pick stats have been changed to round based instead of the strict 1-5 order.
        </p>
        <p><a href="https://github.com/ebshimizu/stats-of-the-storm/issues/103">#103</a>
          App: Player names now link to their in-app profile.
        </p>
        <p><a href="https://github.com/ebshimizu/stats-of-the-storm/issues/97">#97</a>
          Player Details: Detailed stats table should no longer show NaN if a stat was missing from the replay.
        </p>
        <p><a href="https://github.com/ebshimizu/stats-of-the-storm/issues/107">#107</a>
          App: Database loading order has been changed in order to produce more detailed errors in case a database
          fails to load. If you see one of these errors, please report it on GitHub.
        </p>
        <p>
          Talent Descriptions: Updated heroes-talents to handle changes in most recent build 63070.
        </p>
        <h3 class="ui inverted dividing header">Version 0.3.1</h3>
        <p>Parser update for build 63070.</p>
        <h3 class="ui inverted dividing header">Version 0.3.0</h3>
        <p>
          Version 0.3.0 fixes a few bugs, adds additional data views for players and teams, lets you parse replays from 
          any language, and also allows you to
          compare player and team performance to the overall collection averages. Data for players and matches can
          now be exported in json format from the UI. If you have additional data you'd like to see in those exports,
          let me know what you'd like to see. 
        </p>
        <p><a href="https://github.com/ebshimizu/stats-of-the-storm/issues/85">#85</a>
          Parser: Able to parse replays in all languages.
        </p>
        <p><a href="https://github.com/ebshimizu/stats-of-the-storm/issues/90">#90</a>
          Players and Teams: Overall aggregate data now shows the average, total, min, max, and median for listed stats.
        </p>
        <p><a href="https://github.com/ebshimizu/stats-of-the-storm/issues/86">#86</a>
          Player and Team Details: Collection averages and comparison between selected collection averages
          now available. Player collection average comparison can be filtered by hero by selecting a hero from
          the player detail hero dropdown menu.
        </p>
        <p><a href="https://github.com/ebshimizu/stats-of-the-storm/issues/94">#94</a>
          App: Raw player and match data used by the app can now be exported in JSON format
          from Player Details, Matches, and Match Details.
        </p>
        <p><a href="https://github.com/ebshimizu/stats-of-the-storm/issues/100">#100</a>
          App: More dropdown menus are fully searchable
        </p>
        <p><a href="https://github.com/ebshimizu/stats-of-the-storm/issues/101">#101</a>
          Team Details: Roster list now scrolls properly.
        </p>
        <p><a href="https://github.com/ebshimizu/stats-of-the-storm/issues/106">#106</a>
          Player Details: Header displays what teams the player is on, if any.
        </p>
        <h3 class="ui inverted dividing header">Version 0.2.6</h3>
        <p>Parser updated to handle builds up to 2.30.4.62833.</p>
        <p>heroes-talents data updated.</p>
        <h3 class="ui inverted dividing header">Version 0.2.5</h3>
        <p>Teams: Corrected issue with pick priority not showing all heroes.</p>
        <h3 class="ui inverted dividing header">Version 0.2.4</h3>
        <p>Parser: Switch heroprotocol libraries to <a href="https://github.com/nydus/heroprotocol">nydus/heroprotocol</a>. Parser is way faster.</p>
        <p>App: Dev tools accessible from Settings menu.</p>
        <h3 class="ui inverted dividing header">Version 0.2.3</h3>
        <p>Parser: Corrected an issue where the path to the parser executable was accidentally left on dev settings.</p>
        <h3 class="ui inverted dividing header">Version 0.2.2</h3>
        <p>Match Details: Corrected an issue for Braxis Holdout, where beacons would spawn but the game would end before a wave would spawn, causing a crash in the timeline view</p>
        <h3 class="ui inverted dividing header">Version 0.2.1</h3>
        <p>Draft Stats: hotfix for pre-2.0 (client version 2.25.0) replays missing draft pick and ban data.</p>
        <p>Correctly applied player game threshold to Player Details with/against player tables.</p>
        <h3 class="ui inverted dividing header">Version 0.2.0</h3>
        <p>
          Version 0.2.0 brings talent builds and the full draft data to Stats of the Storm, along
          with a few changes that improve the general performance of the app. Since the draft data is contained
          in the replay file itself, you'll have to re-import your replays to use the new features. Unfortunately you'll
          have to do that any time the parser backend changes, so I'll try to keep those changes to a minimum.
        </p>
        <p><a href="https://github.com/ebshimizu/stats-of-the-storm/issues/92">#92</a> Parser: Added draft order. Parser is now at Version 2. Note: To use this feature you have to re-import your matches. Pick order stats are now shown on team summary pages and the Collection Stats: Heroes page. Thanks to /u/SlapJack1337 on Reddit for showing me where this data is.</p>
        <p><a href="https://github.com/ebshimizu/stats-of-the-storm/issues/93">#93</a> Allow re-import of duplicate</p>
        <p><a href="https://github.com/ebshimizu/stats-of-the-storm/issues/87">#87</a> Match Details: Shows time per talent tier for each team. Additionally, team summaries show average time per talent tier.</p>
        <p><a href="https://github.com/ebshimizu/stats-of-the-storm/issues/59">#59</a> Heroes: Added build stats, which display talent combinations and win rates. Available on Player summary pages and overall hero stat pages.</p>
        <p><a href="https://github.com/ebshimizu/stats-of-the-storm/issues/88">#88</a> App: Any menu that lets you select a player now has a threshold of required matches in the database. This improves the general performance of the app. This is adjustable in settings.</p>
        <p><a href="https://github.com/ebshimizu/stats-of-the-storm/issues/91">#91</a> Collection Stats: Players: Changing the focued hero data requires users to click the search button in the filters tab. Accidentally changing that menu's values could lead to an app hang with large databases.</p>
        <h3 class="ui inverted dividing header">Version 0.1.2</h3>
        <p>Parser: Corrected an issue where kills were incorrectly attributed to "Nexus Forces" (and also corrected an occasional crash).</p>
        <h3 class="ui inverted dividing header">Version 0.1.1</h3>
        <p>Teams: Corrected issue where players could not be added to teams with the Add Player button.</p>
        <h3 class="ui inverted dividing header">Version 0.1.0</h3>
        <p>This is the first public release of Stats of the Storm. See the <a href="https://ebshimizu.github.io/stats-of-the-storm/">project page</a> for a full list of features in this release.</p>
      </div>
    </div>
  </div>
</template>