<template id="about-page">
  <div id="about-page-content" class="is-page transition hidden" section-name="about">
    <div class="ui inverted segment">
      <h1 class="ui inverted header">About</h1>
      <h2 class="ui inverted header">Stats of the Storm - Version <span class="app-version-number"></span></h2>
      <div class="about-wrapper">
        <p>Stats of the Storm is maintained by Falindrith on GitHub.</p>
        <p>Found a bug? Want to help? Check out the <a href="https://github.com/ebshimizu/hots-analysis" type="github-external">project page</a>.</p>
        <p>If you found a bug with the parser, please include the replay file that caused the error with your report!</p>
        <p>If you want to suggest features, or just chat, contact @falindrith on Twitter/Telegram, or Falindrith#0623 on Discord.</p>
        <div class="ui inverted horizontal divider">Change Log</div>
        <h3 class="ui inverted dividing header">Version 0.1.0-alpha</h3>
        <p>This is the first public release of Stats of the Storm. See the repository for a full list of features in this release.</p>
      </div>
    </div>
  </div>
</template