<script src="../js/filter-popup-widget.js"></script>

<template id="filter-popup-widget-template">
  <div class="ui popup filter-popup-widget" data-variation="very wide" widget-name="">
    <div class="ui grid">
      <div class="three wide column">Mode</div>
      <div class="thirteen wide column">
        <div class="ui fluid multiple search selection dropdown filter-widget-mode">
          <i class="dropdown icon"></i>
          <div class="default text">All</div>
          <div class="menu">
            <div class="item" data-value="50001">Quick Match</div>
            <div class="item" data-value="50051">Unranked Draft</div>
            <div class="item" data-value="50061">Hero League</div>
            <div class="item" data-value="50071">Team League</div>
            <div class="item" data-value="-1">Custom</div>
          </div>
        </div>
      </div>
      <div class="three wide column">Map</div>
      <div class="thirteen wide column">
        <div class="ui fluid multiple search selection dropdown filter-widget-map">
          <i class="dropdown icon"></i>
          <div class="default text">All</div>
          <div class="menu">

          </div>
        </div>
      </div>
      <div class="three wide column">Patch</div>
      <div class="thirteen wide column">
        <div class="ui fluid multiple search selection dropdown filter-widget-patch">
          <i class="dropdown icon"></i>
          <div class="default text">All</div>
          <div class="menu">

          </div>
        </div>
      </div>
      <div class="three wide column">Season</div>
      <div class="thirteen wide column">
        <div class="ui fluid selection dropdown filter-widget-season">
          <i class="dropdown icon"></i>
          <div class="default text">All Dates</div>
          <div class="menu">
          </div>
        </div>
      </div>
      <div class="three wide column">Start Date</div>
      <div class="five wide column">
        <div class="ui fluid input">
          <input type="text" value="" class="filter-widget-start-date">
        </div>
      </div>
      <div class="three wide column">End Date</div>
      <div class="five wide column">
        <div class="ui fluid input">
          <input type="text" value="" class="filter-widget-end-date">
        </div>
      </div>
      <div class="three wide column">Hero Type</div>
      <div class="thirteen wide column">
        <div class="ui fluid multiple search selection dropdown filter-widget-hero-type">
          <i class="dropdown icon"></i>
          <span class="default text">All</span>
          <div class="menu">
            <div class="header">Role</div>
            <div class="item">Assassin</div>
            <div class="item">Warrior</div>
            <div class="item">Support</div>
            <div class="item">Specialist</div>
            <div class="divider"></div>
            <div class="header">Type</div>
            <div class="item">Melee</div>
            <div class="item">Ranged</div>
            <div class="divider"></div>
            <div class="header">Both</div>
            <div class="item">Melee Assassin</div>
            <div class="item">Ranged Assassin</div>
            <div class="item">Melee Warrior</div>
            <div class="item">Ranged Warrior</div>
            <div class="item">Melee Support</div>
            <div class="item">Ranged Support</div>
            <div class="item">Melee Specialist</div>
            <div class="item">Ranged Specialist</div>
          </div>
        </div>
      </div>
      <div class="eight wide column">
        <div class="ui fluid button filter-widget-reset">Reset</div>
      </div>
      <div class="eight wide column">
        <div class="ui fluid green button filter-widget-search">Search</div>
      </div>
    </div>
  </div>
</template>