<script src="../js/filter-popup-widget.js"></script>

<script id="filter-popup-widget-template" type="text/x-handlebars-template">
  <div class="ui popup filter-popup-widget" data-variation="very wide" widget-name="">
    <div class="ui grid filter-area">
      <div class="three wide column">Mode</div>
      <div class="thirteen wide column">
        <div class="ui fluid multiple search selection dropdown filter-widget-mode">
          <i class="dropdown icon"></i>
          <div class="default text">All</div>
          <div class="menu">
            <div class="item" data-value="50001">Quick Match</div>
            <div class="item" data-value="50051">Unranked Draft</div>
            <div class="item" data-value="50091">Storm League</div>
            <div class="item" data-value="-1">Custom</div>
            <div class="item" data-value="50061">Hero League</div>
            <div class="item" data-value="50071">Team League</div>
          </div>
        </div>
      </div>
      <div class="three wide column">Map</div>
      <div class="thirteen wide column">
        <div class="ui fluid multiple search selection dropdown filter-widget-map">
          <i class="dropdown icon"></i>
          <div class="default text">All</div>
          <div class="menu">

          </div>
        </div>
      </div>
      <div class="three wide column">Patch</div>
      <div class="thirteen wide column">
        <div class="ui fluid multiple search selection dropdown filter-widget-patch">
          <i class="dropdown icon"></i>
          <div class="default text">All</div>
          <div class="menu">

          </div>
        </div>
      </div>
      <div class="three wide column date-input">Season</div>
      <div class="thirteen wide column date-input">
        <div class="ui fluid selection dropdown filter-widget-season">
          <i class="dropdown icon"></i>
          <div class="default text">All Dates</div>
          <div class="menu">
          </div>
        </div>
      </div>
      <div class="three wide column date-input">Start Date</div>
      <div class="five wide column date-input">
        <div class="ui fluid input">
          <input type="text" value="" class="filter-widget-start-date">
        </div>
      </div>
      <div class="three wide column date-input">End Date</div>
      <div class="five wide column date-input">
        <div class="ui fluid input">
          <input type="text" value="" class="filter-widget-end-date">
        </div>
      </div>
      <div class="three wide column">
        Players
      </div>
      <div class="thirteen wide column">
        <div class="ui fluid multiple search selection dropdown player-menu filter-widget-search-players">
          <i class="dropdown icon"></i>
          <span class="default text">All Players</span>
          <div class="menu">

          </div>
        </div>
      </div>
      <div class="three wide column filter-widget-hero">Hero Type</div>
      <div class="thirteen wide column filter-widget-hero">
        <div class="ui fluid multiple search selection dropdown filter-widget-hero-type">
          <i class="dropdown icon"></i>
          <span class="default text">All</span>
          <div class="menu">
            <div class="header">Role</div>
            <div class="item" data-value="Melee Assassin">
              <div class="ui avatar image"><img class="ui avatar image" src="./assets/images/role_massassin.png"></div>
              Melee Assassin
            </div>
            <div class="item" data-value="Ranged Assassin">
              <div class="ui avatar image"><img class="ui avatar image" src="./assets/images/role_rassassin.png"></div>
              Ranged Assassin
            </div>
            <div class="item" data-value="Tank">
              <div class="ui avatar image"><img class="ui avatar image" src="./assets/images/role_tank.png"></div>
              Tank
            </div>
            <div class="item" data-value="Bruiser">
              <div class="ui avatar image"><img class="ui avatar image" src="./assets/images/role_bruiser.png"></div>
              Bruiser
            </div>
            <div class="item" data-value="Healer">
              <div class="ui avatar image"><img class="ui avatar image" src="./assets/images/role_healer.png"></div>
              Healer
            </div>
            <div class="item" data-value="Support">
              <div class="ui avatar image"><img class="ui avatar image" src="./assets/images/role_support2.png"></div>
              Support
            </div>
          </div>
        </div>
      </div>
      <div class="three wide column filter-widget-hero">Hero</div>
      <div class="thirteen wide column filter-widget-hero">
        <div class="ui fluid multiple search selection dropdown filter-widget-hero-search">
          <i class="dropdown icon"></i>
          <span class="default text">All Heroes</span>
          <div class="menu">

          </div>
        </div>
      </div>
      <!-- Waiting to activate this when individual heroes can be selected as filters -->
      <div class="sixteen wide column filter-widget-hero">
        <div class="ui toggle checkbox filter-widget-hero-team">
            <input type="checkbox" name="search-hero-on-team">
            <label>Require Hero On Team</label>
        </div>
      </div>
      <div class="three wide column filter-widget-team">Team</div>
      <div class="ten wide column filter-widget-team">
        <div class="ui fluid search selection dropdown team-menu filter-widget-team-menu">
          <i class="dropdown icon"></i>
          <span class="default text">Team</span>
          <div class="menu">

          </div>
        </div>
        <div class="ui right floated icon button filter-widget-clear-team filter-widget-team">
          <i class="eraser icon"></i>
        </div>
      </div>
      <div class="three wide column filter-widget-team">
        <div class="ui fluid selection dropdown filter-widget-team-win">
          <i class="dropdown icon"></i>
          <span class="default text">W/L</span>
          <div class="menu">
            <div class="item" data-value="both">W/L</div>
            <div class="item" data-value="win">Win</div>
            <div class="item" data-value="loss">Loss</div>
          </div>
        </div>
      </div>
      <div class="three wide column">Tags</div>
      <div class="thirteen wide column">
        <div class="ui fluid search selection multiple dropdown filter-widget-tags">
          <i class="dropdown icon"></i>
          <span class="default text">All Tags</span>
          <div class="menu">

          </div>
        </div>
      </div>
    </div>
    <div class="ui grid action-buttons">
      <div class="eight wide column">
        <div class="ui fluid button filter-widget-reset">Reset</div>
      </div>
      <div class="eight wide column">
        <div class="ui fluid green button filter-widget-search">Search</div>
      </div>
    </div>
  </div>
</script>
