<script src="../js/filter-popup-widget.js"></script>

<template id="filter-popup-widget-template">
  <div class="ui popup filter-popup-widget" data-variation="very wide" widget-name="">
    <div class="ui grid">
      <div class="three wide column">Mode</div>
      <div class="thirteen wide column">
        <div class="ui fluid multiple search selection dropdown filter-widget-mode">
          <i class="dropdown icon"></i>
          <div class="default text">All</div>
          <div class="menu">
            <div class="item" data-value="50001">Quick Match</div>
            <div class="item" data-value="50051">Unranked Draft</div>
            <div class="item" data-value="50061">Hero League</div>
            <div class="item" data-value="50071">Team League</div>
            <div class="item" data-value="-1">Custom</div>
          </div>
        </div>
      </div>
      <div class="three wide column">Map</div>
      <div class="thirteen wide column">
        <div class="ui fluid multiple search selection dropdown filter-widget-map">
          <i class="dropdown icon"></i>
          <div class="default text">All</div>
          <div class="menu">

          </div>
        </div>
      </div>
      <div class="three wide column">Patch</div>
      <div class="thirteen wide column">
        <div class="ui fluid multiple search selection dropdown filter-widget-patch">
          <i class="dropdown icon"></i>
          <div class="default text">All</div>
          <div class="menu">

          </div>
        </div>
      </div>
      <div class="three wide column date-input">Season</div>
      <div class="thirteen wide column date-input">
        <div class="ui fluid selection dropdown filter-widget-season">
          <i class="dropdown icon"></i>
          <div class="default text">All Dates</div>
          <div class="menu">
          </div>
        </div>
      </div>
      <div class="three wide column date-input">Start Date</div>
      <div class="five wide column date-input">
        <div class="ui fluid input">
          <input type="text" value="" class="filter-widget-start-date">
        </div>
      </div>
      <div class="three wide column date-input">End Date</div>
      <div class="five wide column date-input">
        <div class="ui fluid input">
          <input type="text" value="" class="filter-widget-end-date">
        </div>
      </div>
      <div class="three wide column filter-widget-hero">Hero Type</div>
      <div class="thirteen wide column filter-widget-hero">
        <div class="ui fluid multiple search selection dropdown filter-widget-hero-type">
          <i class="dropdown icon"></i>
          <span class="default text">All</span>
          <div class="menu">
            <div class="header">Role</div>
            <div class="item" data-value="Assassin">
              <div class="ui avatar image"><img class="ui avatar image" src="./assets/images/role_assassin.png"></div>
              Assassin
            </div>
            <div class="item" data-value="Warrior">
              <div class="ui avatar image"><img class="ui avatar image" src="./assets/images/role_warrior.png"></div>
              Warrior
            </div>
            <div class="item" data-value="Support">
              <div class="ui avatar image"><img class="ui avatar image" src="./assets/images/role_support.png"></div>
              Support
            </div>
            <div class="item" data-value="Specialist">
              <div class="ui avatar image"><img class="ui avatar image" src="./assets/images/role_specialist.png"></div>
              Specialist
            </div>
            <div class="item">Multiclass</div>
            <div class="divider"></div>
            <div class="header">Type</div>
            <div class="item">Melee</div>
            <div class="item">Ranged</div>
            <div class="divider"></div>
            <div class="header">Both</div>
            <div class="item">Melee Assassin</div>
            <div class="item">Ranged Assassin</div>
            <div class="item">Melee Warrior</div>
            <div class="item">Ranged Warrior</div>
            <div class="item">Melee Support</div>
            <div class="item">Ranged Support</div>
            <div class="item">Melee Specialist</div>
            <div class="item">Ranged Specialist</div>
            <div class="item">Melee Multiclass (Varian)</div>
          </div>
        </div>
      </div>
      <div class="sixteen wide column filter-widget-hero">
        <div class="ui toggle checkbox filter-widget-hero-team">
            <input type="checkbox" name="search-hero-on-team">
            <label>Require Hero On Team</label>
        </div>
      </div>
      <div class="three wide column filter-widget-team">Team</div>
      <div class="ten wide column filter-widget-team">
        <div class="ui fluid search selection dropdown team-menu filter-widget-team-menu">
          <i class="dropdown icon"></i>
          <span class="default text">Team</span>
          <div class="menu">

          </div>
        </div>
        <div class="ui right floated icon button filter-widget-clear-team filter-widget-team">
          <i class="eraser icon"></i>
        </div>
      </div>
      <div class="three wide column filter-widget-team">
        <div class="ui fluid selection dropdown filter-widget-team-win">
          <i class="dropdown icon"></i>
          <span class="default text">W/L</span>
          <div class="menu">
            <div class="item" data-value="both">W/L</div>
            <div class="item" data-value="win">Win</div>
            <div class="item" data-value="loss">Loss</div>
          </div>
        </div>
      </div>
      <div class="three wide column">Tags</div>
      <div class="thirteen wide column">
        <div class="ui fluid search selection multiple dropdown filter-widget-tags">
          <i class="dropdown icon"></i>
          <span class="default text">All Tags</span>
          <div class="menu">

          </div>
        </div>
      </div>
      <div class="eight wide column">
        <div class="ui fluid button filter-widget-reset">Reset</div>
      </div>
      <div class="eight wide column">
        <div class="ui fluid green button filter-widget-search">Search</div>
      </div>
    </div>
  </div>
</template>