<script src="../js/hero-collection.js"></script>
<link rel="stylesheet" type="text/css" href="../assets/css/hero-collection.css">

<template id="hero-collection-page">
  <div id="hero-collection-page-content" class="is-page transition hidden" section-name="hero-collection">
    <div id="hero-collection-page-header">
      <div class="ui grid">
        <div class="fourteen wide column">
          <h1 class="ui inverted header">Hero Statistics</h1>
        </div>
        <div class="two wide column">
          <button class="ui labeled right floated green icon button" id="hero-collection-filter-button" data-variation="very wide">
            <i class="filter icon"></i>
            Filter Matches
          </button>
        </div>
      </div>
    </div>
    <div id="hero-collection-body">
      <div class="ui secondary inverted pointing menu" id="hero-collection-submenu">
        <a class="active item" data-tab="hero-collection-overall">Overall</a>
        <a class="item" data-tab="hero-collection-hero">Hero Details</a>
      </div>
      <div class="ui active tab" data-tab="hero-collection-overall" id="hero-collection-summary">
        <div class="four ui buttons">
          <div class="ui red button">Assassin</div>
          <div class="ui blue button">Warrior</div>
          <div class="ui teal button">Support</div>
          <div class="ui violet button">Specialist</div>
        </div>
        <div class="hero-collection-wrapper">
          <div class="table-wrapper">
            <table class="ui sortable compact selectable inverted table">
              <thead>
                <tr>
                  <th>Hero</th>
                  <th class="center alligned stat">Win %</th>
                  <th class="center alligned stat">Ban %</th>
                  <th class="center alligned stat">Popularity</th>
                  <th class="center alligned stat">Win</th>
                  <th class="center alligned stat">Loss</th>
                  <th class="center alligned stat">Games</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="ui tab" data-tab="hero-collection-hero" id="hero-collection-hero">
        <div id="hero-collection-hero-header">
          <h2 class="ui inverted header">[Select a Hero]</h2>
          <div class="ui search selection dropdown" id="hero-collection-hero-select-menu">
            <i class="dropdown icon"></i>
            <div class="default text">Select a Hero</div>
            <div class="menu">

            </div>
          </div>
        </div>
        <div class="hero-collection-wrapper">
          <div class="ui grid">
            <div class="ten wide column">
              <div class="ui inverted segment talent-detail-table" id="hero-collection-detail-hero-talent">
                <div class="ui top attached label">Talents</div>
                <div class="table-wrapper">
                  <table class="ui selectable inverted table">
                    <thead>
                      <tr>
                        <th>Talent</th>
                        <th class="center aligned">Win %</th>
                        <th class="center aligned">Popularity</th>
                        <th class="center aligned">Games</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="four wide column">
              <div class="ui inverted segment" id="hero-collection-detail-map-summary">
                <div class="ui top attached label">Map Summary</div>
                <div class="table-wrapper">
                  <table class="ui sortable selectable inverted table">
                    <thead>
                      <tr>
                        <th>Map</th>
                        <th>Win %</th>
                        <th>Games</th>
                      </tr>
                    </thead>
                    <tbody>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="two wide column">
              <div class="ui inverted segment" id="hero-collection-detail-misc-summary">
                <div class="ui top attached label">Overall Stats</div>
                <div class="ui horizontal small inverted statistics">
                  <div class="statistic" name="overallWin">
                    <div class="value">###</div>
                    <div class="label">Win</div>
                  </div>
                  <div class="statistic" name="overallGames">
                    <div class="value">###</div>
                    <div class="label">Games</div>
                  </div>
                  <div class="statistic" name="overallTD">
                    <div class="value">###</div>
                    <div class="label">Avg. TDs</div>
                  </div>
                  <div class="statistic" name="overallDeaths">
                    <div class="value">###</div>
                    <div class="label">Avg. Deaths</div>
                  </div>
                  <div class="statistic" name="overallKDA">
                    <div class="value">###</div>
                    <div class="label">Total KDA</div>
                  </div>
                  <div class="statistic" name="overallMVP">
                    <div class="value">###</div>
                    <div class="label">MVP</div>
                  </div>
                  <div class="statistic" name="overallAward">
                    <div class="value">###</div>
                    <div class="label">Award</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="five wide column">
              <div class="ui inverted segment player-win" id="hero-collection-detail-with-summary">
                <div class="ui top attached label">Win Rate With Hero</div>
                <div class="table-wrapper">
                  <table class="ui sortable selectable inverted table">
                    <thead>
                      <tr>
                        <th>Hero</th>
                        <th>Win %</th>
                        <th>Games</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="five wide column">
              <div class="ui inverted segment player-win" id="hero-collection-detail-against-summary">
                <div class="ui top attached label">Win Rate Against Hero</div>
                <div class="table-wrapper">
                  <table class="ui sortable selectable inverted table">
                    <thead>
                      <tr>
                        <th>Hero</th>
                        <th>Win %</th>
                        <th>Games</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="six wide column">
              <div class="ui inverted segment player-win" id="hero-collection-award-summary">
                <div class="ui top attached label">Awards</div>
                <div class="table-wrapper">
                  <table class="ui sortable selectable inverted table">
                    <thead>
                      <tr>
                        <th>Award</th>
                        <th>Award %</th>
                        <th>Games</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template id="hero-collection-hero-summary-row-template">
  <tr class="hero-collection-hero-summary-row {{heroRole}}">
    <td data-sort-value="{{heroName}}">
      <h3 class="ui image inverted header">
        <img src="assets/heroes-talents/images/heroes/{{heroImg}}" class="ui rounded image">
        <div class="content">
          {{heroName}}
        </div>
      </h3>
    </td>
    <td class="center aligned" data-sort-value="{{winPercent}}">{{formatWinPercent}}</td>
    <td class="center aligned" data-sort-value="{{banPercent}}">{{formatBanPercent}}</td>
    <td class="center aligned" data-sort-value="{{popPercent}}">{{formatPopPercent}}</td>
    <td class="center aligned" data-sort-value="{{win}}">{{win}}</td>
    <td class="center aligned" data-sort-value="{{loss}}">{{loss}}</td>
    <td class="center aligned" data-sort-value="{{games}}">{{games}}</td>
  </tr>
</template>