<script src="../js/hero-collection.js"></script>
<link rel="stylesheet" type="text/css" href="../assets/css/hero-collection.css">

<template id="hero-collection-page">
  <div id="hero-collection-page-content" class="is-page transition hidden" section-name="hero-collection">
    <div id="hero-collection-page-header">
      <div class="ui grid">
        <div class="fourteen wide column">
          <h1 class="ui inverted header">Hero Statistics</h1>
        </div>
        <div class="two wide column">
          <button class="ui labeled right floated green icon button" id="hero-collection-filter-button" data-variation="very wide">
            <i class="filter icon"></i>
            Filter Matches
          </button>
        </div>
      </div>
    </div>
    <div id="hero-collection-body">
      <div class="ui secondary inverted pointing menu" id="hero-collection-submenu">
        <a class="active item" data-tab="hero-collection-overall">Overall</a>
        <a class="item" data-tab="hero-collection-picks">Picks and Bans</a>
        <a class="item" data-tab="hero-collection-hero">Hero Details</a>
      </div>
      <div class="ui tab" data-tab="hero-collection-overall" id="hero-collection-summary">
        <div class="five ui buttons">
          <div class="ui red button">Assassin</div>
          <div class="ui blue button">Warrior</div>
          <div class="ui teal button">Support</div>
          <div class="ui violet button">Specialist</div>
          <div class="ui purple button">Multiclass</div>
        </div>
        <div class="hero-collection-wrapper">
          <div class="table-wrapper">
            <table class="ui sortable compact selectable inverted table">
              <thead>
                <tr>
                  <th>Hero</th>
                  <th class="center aligned stat">Win %</th>
                  <th class="center aligned stat">Ban %</th>
                  <th class="center aligned stat">Popularity</th>
                  <th class="center aligned stat">Win</th>
                  <th class="center aligned stat">Loss</th>
                  <th class="center aligned stat">Games</th>
                  <th class="center aligned stat">Bans</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="ui active tab" data-tab="hero-collection-picks" id="hero-collection-picks">
        <div class="five ui buttons">
          <div class="ui red button">Assassin</div>
          <div class="ui blue button">Warrior</div>
          <div class="ui teal button">Support</div>
          <div class="ui violet button">Specialist</div>
          <div class="ui purple button">Multiclass</div>
        </div>
        <div class="hero-collection-wrapper">
          <div class="table-wrapper">
            <table class="ui sortable compact selectable inverted table">
              <thead>
                <tr>
                  <th>Hero</th>
                  <th class="center aligned stat">Games</th> 
                  <th class="center aligned stat">Win %</th>
                  <th class="center aligned stat">Bans</th>
                  <th class="center aligned stat">Ban %</th>
                  <th class="center aligned stat">1st Ban</th>
                  <th class="center aligned stat">1st Ban %</th>
                  <th class="center aligned stat">2nd Ban</th>
                  <th class="center aligned stat">2nd Ban %</th>
                  <th class="center aligned stat">1st</th>
                  <th class="center aligned stat">1st %</th>
                  <th class="center aligned stat">1st Wins</th>
                  <th class="center aligned stat">2nd</th>
                  <th class="center aligned stat">2nd %</th>
                  <th class="center aligned stat">2nd Wins</th>
                  <th class="center aligned stat">3rd</th>
                  <th class="center aligned stat">3rd %</th>
                  <th class="center aligned stat">3rd Wins</th>
                  <th class="center aligned stat">4th</th>
                  <th class="center aligned stat">4th %</th>
                  <th class="center aligned stat">4th Wins</th>
                  <th class="center aligned stat">5th</th>
                  <th class="center aligned stat">5th %</th>
                  <th class="center aligned stat">5th Wins</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="ui tab" data-tab="hero-collection-hero" id="hero-collection-hero">
        <div id="hero-collection-hero-header">
          <h2 class="ui inverted header">[Select a Hero]</h2>
          <div class="ui search selection dropdown" id="hero-collection-hero-select-menu">
            <i class="dropdown icon"></i>
            <div class="default text">Select a Hero</div>
            <div class="menu">

            </div>
          </div>
        </div>
        <div class="hero-collection-wrapper">
          <div class="ui grid">
            <div class="ten wide column">
              <div id="hero-collection-detail-hero-talent">
                <div class="ui top attached small menu">
                  <a class="active item" data-tab="hero-collection-talent-pick">Talents</a>
                  <a class="item" data-tab="hero-collection-talent-builds">Builds</a>
                </div>
                <div class="ui active tab inverted attached segment talent-detail-table talent-pick" data-tab="hero-collection-talent-pick">
                  <div class="table-wrapper">
                    <table class="ui selectable inverted table">
                      <thead>
                        <tr>
                          <th>Talent</th>
                          <th class="center aligned">Win %</th>
                          <th class="center aligned">Popularity</th>
                          <th class="center aligned">Games</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="ui tab inverted attached segment talent-detail-table talent-build" data-tab="hero-collection-talent-builds">
                  <div class="table-wrapper">
                    <table class="ui selectable inverted sortable table">
                      <thead>
                        <tr>
                          <th class="center aligned">1</th>
                          <th class="center aligned">4</th>
                          <th class="center aligned">7</th>
                          <th class="center aligned">10</th>
                          <th class="center aligned">13</th>
                          <th class="center aligned">16</th>
                          <th class="center aligned">20</th>
                          <th class="center aligned stat">Win %</th>
                          <th class="center aligned stat">Games</th>
                          <th class="center aligned stat">Popularity</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="four wide column">
              <div class="ui inverted segment" id="hero-collection-detail-map-summary">
                <div class="ui top attached label">Map Summary</div>
                <div class="table-wrapper">
                  <table class="ui sortable selectable inverted table">
                    <thead>
                      <tr>
                        <th>Map</th>
                        <th>Win %</th>
                        <th>Games</th>
                      </tr>
                    </thead>
                    <tbody>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="two wide column">
              <div class="ui inverted segment" id="hero-collection-detail-misc-summary">
                <div class="ui top attached label">Overall Stats</div>
                <div class="ui horizontal small inverted statistics">
                  <div class="statistic" name="overallWin">
                    <div class="value">###</div>
                    <div class="label">Win</div>
                  </div>
                  <div class="statistic" name="overallGames">
                    <div class="value">###</div>
                    <div class="label">Games</div>
                  </div>
                  <div class="statistic" name="overallTD">
                    <div class="value">###</div>
                    <div class="label">Avg. TDs</div>
                  </div>
                  <div class="statistic" name="overallDeaths">
                    <div class="value">###</div>
                    <div class="label">Avg. Deaths</div>
                  </div>
                  <div class="statistic" name="overallKDA">
                    <div class="value">###</div>
                    <div class="label">Total KDA</div>
                  </div>
                  <div class="statistic" name="overallMVP">
                    <div class="value">###</div>
                    <div class="label">MVP</div>
                  </div>
                  <div class="statistic" name="overallAward">
                    <div class="value">###</div>
                    <div class="label">Award</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="five wide column">
              <div class="ui inverted segment player-win" id="hero-collection-detail-with-summary">
                <div class="ui top attached label">Win Rate With Hero</div>
                <div class="table-wrapper">
                  <table class="ui sortable selectable inverted table">
                    <thead>
                      <tr>
                        <th>Hero</th>
                        <th>Win %</th>
                        <th>Games</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="five wide column">
              <div class="ui inverted segment player-win" id="hero-collection-detail-against-summary">
                <div class="ui top attached label">Win Rate Against Hero</div>
                <div class="table-wrapper">
                  <table class="ui sortable selectable inverted table">
                    <thead>
                      <tr>
                        <th>Hero</th>
                        <th>Win %</th>
                        <th>Games</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="six wide column">
              <div class="ui inverted segment player-win" id="hero-collection-award-summary">
                <div class="ui top attached label">Awards</div>
                <div class="table-wrapper">
                  <table class="ui sortable selectable inverted table">
                    <thead>
                      <tr>
                        <th>Award</th>
                        <th>Award %</th>
                        <th>Games</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template id="hero-collection-hero-summary-row-template">
  <tr class="hero-collection-hero-summary-row {{heroRole}}">
    <td data-sort-value="{{heroName}}">
      <h3 class="ui image inverted header">
        <img src="assets/heroes-talents/images/heroes/{{heroImg}}" class="ui rounded image">
        <div class="content">
          {{heroName}}
        </div>
      </h3>
    </td>
    <td class="center aligned" data-sort-value="{{winPercent}}">{{formatWinPercent}}</td>
    <td class="center aligned" data-sort-value="{{banPercent}}">{{formatBanPercent}}</td>
    <td class="center aligned" data-sort-value="{{popPercent}}">{{formatPopPercent}}</td>
    <td class="center aligned" data-sort-value="{{win}}">{{win}}</td>
    <td class="center aligned" data-sort-value="{{loss}}">{{loss}}</td>
    <td class="center aligned" data-sort-value="{{games}}">{{games}}</td>
    <td class="center aligned" data-sort-value="{{bans}}">{{bans}}</td>
  </tr>
</template>

<template id="hero-collection-hero-pick-row-template">
  <tr class="hero-collection-hero-summary-row {{heroRole}}">
    <td data-sort-value="{{heroName}}">
      <h3 class="ui image inverted header">
        <img src="assets/heroes-talents/images/heroes/{{heroImg}}" class="ui rounded image">
        <div class="content">
          {{heroName}}
        </div>
      </h3>
    </td>
    <td class="center aligned" data-sort-value="{{games}}">{{games}}</td>
    <td class="center aligned" data-sort-value="{{winPercent}}">{{format.winPercent}}</td>
    <td class="center aligned" data-sort-value="{{bans.total}}">{{bans.total}}</td>
    <td class="center aligned" data-sort-value="{{banPercent}}">{{format.banPercent}}</td>
    <td class="center aligned" data-sort-value="{{bans.first}}">{{bans.first}}</td>
    <td class="center aligned" data-sort-value="{{firstBanPercent}}">{{format.firstBanPercent}}</td>
    <td class="center aligned" data-sort-value="{{bans.second}}">{{bans.first}}</td>
    <td class="center aligned" data-sort-value="{{secondBanPercent}}">{{format.secondBanPercent}}</td>
    <td class="center aligned" data-sort-value="{{picks.p1.count}}">{{picks.p1.count}}</td>
    <td class="center aligned" data-sort-value="{{picks.p1.pct}}">{{picks.p1.formatPct}}</td>
    <td class="center aligned" data-sort-value="{{picks.p1.wins}}">{{picks.p1.wins}}</td>
    <td class="center aligned" data-sort-value="{{picks.p2.count}}">{{picks.p2.count}}</td>
    <td class="center aligned" data-sort-value="{{picks.p2.pct}}">{{picks.p2.formatPct}}</td>
    <td class="center aligned" data-sort-value="{{picks.p2.wins}}">{{picks.p2.wins}}</td>
    <td class="center aligned" data-sort-value="{{picks.p3.count}}">{{picks.p3.count}}</td>
    <td class="center aligned" data-sort-value="{{picks.p3.pct}}">{{picks.p3.formatPct}}</td>
    <td class="center aligned" data-sort-value="{{picks.p3.wins}}">{{picks.p3.wins}}</td>
    <td class="center aligned" data-sort-value="{{picks.p4.count}}">{{picks.p4.count}}</td>
    <td class="center aligned" data-sort-value="{{picks.p4.pct}}">{{picks.p4.formatPct}}</td>
    <td class="center aligned" data-sort-value="{{picks.p4.wins}}">{{picks.p4.wins}}</td>
    <td class="center aligned" data-sort-value="{{picks.p5.count}}">{{picks.p5.count}}</td>
    <td class="center aligned" data-sort-value="{{picks.p5.pct}}">{{picks.p5.formatPct}}</td>
    <td class="center aligned" data-sort-value="{{picks.p5.wins}}">{{picks.p5.wins}}</td>
  </tr>
</template>