<script src="../js/maps.js"></script>
<link rel="stylesheet" type="text/css" href="../assets/css/maps.css">

<template id="maps-page">
  <div id="maps-page-content" class="is-page transition hidden" section-name="maps">
    <div id="maps-page-header">
      <div class="ui grid">
        <div class="fourteen wide column">
          <h1 class="ui inverted header">Battleground Stats</h1>
        </div>
        <div class="two wide column">
          <button class="ui labeled fluid right floated icon button" id="maps-filter-button" data-variation="very wide">
            <i class="filter icon"></i>
            Filter Matches
          </button>
        </div>
      </div>
    </div>
    <div class="maps-page-wrapper">
      <div class="ui inverted segment" id="map-overall-stats">
        <div class="ui top attached label">Match Statistics</div>
        <div class="ui eight inverted statistics">
          <div class="statistic" name="average">
            <div class="value">###</div>
            <div class="label">Average Length</div>
          </div>
          <div class="statistic" name="median">
            <div class="value">###</div>
            <div class="label">Median Length</div>
          </div>
          <div class="statistic match-link" name="min">
            <div class="value">###</div>
            <div class="label">Shortest Game</div>
          </div>
          <div class="statistic match-link" name="max">
            <div class="value">###</div>
            <div class="label">Longest Game</div>
          </div>
          <div class="statistic" name="firstPickWin">
            <div class="value">###</div>
            <div class="label">First Pick Win %</div>
          </div>
          <div class="statistic" name="firstObjectiveWins">
            <div class="value">###</div>
            <div class="label">First Objective Win %</div>
          </div>
          <div class="blue statistic" name="blueWin">
            <div class="value">###</div>
            <div class="label">Blue Side Win %</div>
          </div>
          <div class="red statistic" name="redWin">
            <div class="value">###</div>
            <div class="label">Red Side Win %</div>
          </div>
        </div>
      </div>
      <div id="map-individual-stats">
        <div class="ui inverted segment">
          <div class="ui top attached label">Stats Per Map</div>
          <div class="table-wrapper">
            <table class="ui sortable selectable inverted table">
              <thead>
                <tr>
                  <th>Map Name</th>
                  <th class="center aligned stat">Games</th>
                  <th class="center aligned stat">Average Length</th>
                  <th class="center aligned stat">Median Length</th>
                  <th class="center aligned stat">Shortest</th>
                  <th class="center aligned stat">Longest</th>
                  <th class="center aligned stat">First Pick Win %</th>
                  <th class="center aligned stat">First Objective Win %</th>
                  <th class="center aligned stat">Blue Side Win %</th>
                  <th class="center aligned stat">Red Side Win %</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template id="map-table-row-template">
  <tr class="map-table-row">
    <td><h3 class="ui inverted header">{{map}}</h3></td>
    <td class="center aligned" data-sort-value="{{games}}">{{games}}</td>
    <td class="center aligned" data-sort-value="{{average}}">{{formatSeconds average}}</td>
    <td class="center aligned" data-sort-value="{{median}}">{{formatSeconds median}}</td>
    <td class="center aligned match-link" data-sort-value="{{min}}" matchID="{{minId}}">{{formatSeconds min}}</td>
    <td class="center aligned match-link" data-sort-value="{{max}}" matchID="{{maxId}}">{{formatSeconds max}}</td>
    <td class="center aligned" data-sort-value="{{firstPickWinPct}}">{{formatPct firstPickWinPct}}</td>
    <td class="center aligned" data-sort-value="{{firstObjectiveWinsPct}}">{{formatPct firstObjectiveWinsPct}}</td>
    <td class="center aligned" data-sort-value="{{blueWinPct}}">{{formatPct blueWinPct}}</td>
    <td class="center aligned" data-sort-value="{{redWinPct}}">{{formatPct redWinPct}}</td>
  </tr>
</template>
