
<script src="../js/matches.js"></script>
<link rel="stylesheet" type="text/css" href="../assets/css/matches.css">

<template id="matches-page">
  <div id="matches-page-content" class="is-page transition hidden" section-name="matches">
    <div id="matches-page-header">
      <div class="ui grid">
        <div class="eight wide column">
          <h1 class="ui inverted header">Matches</h1>
        </div>
        <div class="eight wide column">
          
        </div>
      </div>
    </div>
    <div class="ui grid" id="match-page-table">
      <div class="eleven wide column">
        <table class="ui inverted selectable table" id="match-list">
          <tbody>
            <tr slot="0">

            </tr>
            <tr slot="1">

            </tr>
            <tr slot="2">

            </tr>
            <tr slot="3">

            </tr>
            <tr slot="4">

            </tr>
            <tr slot="5">

            </tr>
            <tr slot="6">

            </tr>
          </tbody>
          <tfoot>
            <tr><th>
              <div class="ui inverted tiny statistics">
                  <div class="ui statistic">
                    <div class="value" id="matches-selected">800</div>
                    <div class="label">Selected</div>
                  </div>
                  <div class="ui statistic">
                    <div class="value" id="matches-in-database-stat">0</div>
                    <div class="label">Total</div>
                  </div>
                </div>
              <div class="ui right floated inverted pagination menu" id="match-list-page-menu">
                <a class="icon item prev"><i class="left chevron icon"></i></a>
                <a class="item page-num">1</a>
                <a class="item page-num">...</a>
                <a class="item page-num">2</a>
                <a class="item page-num">3</a>
                <a class="item page-num">4</a>
                <a class="item page-num">5</a>
                <a class="item page-num">6</a>
                <a class="item page-num">...</a>
                <a class="item page-num">7</a>
                <a class="icon item next"><i class="right chevron icon"></i></a>
              </div>
            </th></tr>
          </tfoot>
        </table>
      </div>
      <div class="five wide column">
        <div class="ui inverted segment" id="match-search-segment">
          <div class="ui top attached label">Search Matches</div>
          <div class="ui grid">
            <div class="eight wide column"></div>
            <div class="four wide column">
              <div class="ui fluid button" id="match-search-reset-button">Reset</div>
            </div>
            <div class="four wide column">
              <div class="ui fluid green button" id="match-search-button">Search</div>
            </div>
            <div class="three wide column">Mode</div>
            <div class="thirteen wide column">
              <div class="ui fluid multiple search selection dropdown" id="match-mode-select">
                <i class="dropdown icon"></i>
                <div class="default text">All</div>
                <div class="menu">
                  <div class="item" data-value="50001">Quick Match</div>
                  <div class="item" data-value="50051">Unranked Draft</div>
                  <div class="item" data-value="50061">Hero League</div>
                  <div class="item" data-value="50071">Team League</div>
                  <div class="item" data-value="-1">Custom</div>
                </div>
              </div>
            </div>
            <div class="three wide column">Map</div>
            <div class="thirteen wide column">
              <div class="ui fluid multiple search selection dropdown" id="match-map-select">
                <i class="dropdown icon"></i>
                <div class="default text">All</div>
                <div class="menu">

                </div>
              </div>
            </div>
            <div class="three wide column">Patch</div>
            <div class="thirteen wide column">
              <div class="ui fluid multiple search selection dropdown" id="match-patch-select">
                <i class="dropdown icon"></i>
                <div class="default text">All</div>
                <div class="menu">

                </div>
              </div>
            </div>
            <div class="three wide column">Season</div>
            <div class="thirteen wide column">
              <div class="ui fluid selection dropdown" id="match-search-seasons">
                <i class="dropdown icon"></i>
                <div class="default text">All Dates</div>
                <div class="menu">
                </div>
              </div>
            </div>
            <div class="three wide column">Start Date</div>
            <div class="five wide column">
              <div class="ui inverted fluid input">
                <input type="text" value="" id="match-search-start-date">
              </div>
            </div>
            <div class="three wide column">End Date</div>
            <div class="five wide column">
              <div class="ui inverted fluid input">
                <input type="text" value="" id="match-search-end-date">
              </div>
            </div>
            <div class="three wide column">Hero</div>
            <div class="ten wide column">
              <div class="ui fluid multiple search selection dropdown" id="match-search-heroes">
                <i class="dropdown icon"></i>
                <span class="default text">All Heroes</span>
                <div class="menu">

                </div>
              </div>
            </div>
            <div class="three wide column">
              <div class="ui fluid selection dropdown" id="match-search-heroes-mode">
                <i class="dropdown icon"></i>
                <span class="default text">Any</span>
                <div class="menu">
                  <div class="item" data-value="or">Any</div>
                  <div class="item" data-value="and">All</div>
                </div>
              </div>
            </div>
            <div class="three wide column">Player</div>
            <div class="seven wide column">
              <div class="ui fluid multiple search selection dropdown player-menu" id="match-search-players">
                <i class="dropdown icon"></i>
                <span class="default text">All Players</span>
                <div class="menu">
    
                </div>
              </div>
            </div>
            <div class="three wide column">
              <div class="ui fluid selection dropdown" id="match-search-players-win">
                <i class="dropdown icon"></i>
                <span class="default text">W/L</span>
                <div class="menu">
                  <div class="item" data-value="both">W/L</div>
                  <div class="item" data-value="win">Win</div>
                  <div class="item" data-value="loss">Loss</div>
                </div>
              </div>
            </div>
            <div class="three wide column">
              <div class="ui fluid selection dropdown" id="match-search-players-mode">
                <i class="dropdown icon"></i>
                <span class="default text">Any</span>
                <div class="menu">
                  <div class="item" data-value="or">Any</div>
                  <div class="item" data-value="and">All</div>
                </div>
              </div>
            </div>
            <div class="three wide column">Team</div>
            <div class="ten wide column">
              <div class="ui fluid search selection dropdown team-menu" id="match-search-team">
                <i class="dropdown icon"></i>
                <span class="default text">Team</span>
                <div class="menu">
    
                </div>
              </div>
              <div class="ui right floated icon button" id="match-search-clear-team">
                <i class="eraser icon"></i>
              </div>
            </div>
            <div class="three wide column">
              <div class="ui fluid selection dropdown" id="match-search-team-win">
                <i class="dropdown icon"></i>
                <span class="default text">W/L</span>
                <div class="menu">
                  <div class="item" data-value="both">W/L</div>
                  <div class="item" data-value="win">Win</div>
                  <div class="item" data-value="loss">Loss</div>
                </div>
              </div>
            </div>
            <!-- Planned features -->
            <!-- <div class="three wide column">Tags</div>
            <div class="thirteen wide column">-->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui modal" id="matches-collection-select">
    <div class="header"></div>
    <div class="content">
      <p class="text"></p>
      <div class="ui fluid search selection dropdown collection-menu">
        <i class="dropdown icon"></i>
        <span class="text">Collection</span>
        <div class="menu">

        </div>
      </div>
    </div>
    <div class="actions">
      <div class="ui green approve button">OK</div>
      <div class="ui red deny button">Cancel</div>
    </div>
  </div>
</template>

<template id="match-summary-row">
  <td>
    <div class="match-summary" match-id="{{id}}">
      <div class="match-basic-info">
        <div class="match-map-name"><h2 class="ui inverted header match-map-name">{{map}}</h2></div>
        <div class="match-mode"><h4 class="ui inverted header match-mode">{{mode}}</h3></div>
        <div class="match-team-winner"><h4 class="ui {{winClass}} header match-team-winner">{{winText}}</h3></div>
      </div>
      <div class="match-date">{{date}}</div>
      <div class="match-details">
        <div class="ui tiny circular images match-blue-heroes">
          {{#each blueHeroes}}
          <img class="ui image {{isFocus}}" src="assets/heroes-talents/images/heroes/{{heroImg}}" data-content="{{playerName}}" player-id="{{playerID}}" data-position="top center">
          {{/each}}
        </div>
        <div class="ui tiny circular images match-red-heroes">
          {{#each redHeroes}}
          <img class="ui image {{isFocus}}" src="assets/heroes-talents/images/heroes/{{heroImg}}" data-content="{{playerName}}" player-id="{{playerID}}" data-position="top center">
          {{/each}}
        </div>
        <div class="match-center-stats">
          <div class="match-game-length">{{length}}</div>
          <div class="match-takedown-score">
            <div class="blue">{{takedowns.blue}}</div>
            <div class="red">{{takedowns.red}}</div>
          </div>
          <div class="match-levels">
            <div class="blue">Level {{level.blue}}</div>
            <div class="red">Level {{level.red}}</div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </td>
</template>