
<script src="../js/matches.js"></script>
<link rel="stylesheet" type="text/css" href="../assets/css/matches.css">

<script id="matches-page" type="text/x-handlebars-template">
  <div id="matches-page-content" class="is-page transition hidden" section-name="matches">
    <div id="matches-page-header">
      <div class="ui grid">
        <div class="eight wide column">
          <h1 class="ui inverted header">Matches</h1>
        </div>
        <div class="eight wide column">
          
        </div>
      </div>
    </div>
    <div class="ui grid" id="match-page-table">
      <div class="eleven wide column">
        <div class="match-wrapper">
          <table class="ui inverted selectable table" id="match-list">
            <tbody>
              <tr slot="0">

              </tr>
              <tr slot="1">

              </tr>
              <tr slot="2">

              </tr>
              <tr slot="3">

              </tr>
              <tr slot="4">

              </tr>
              <tr slot="5">

              </tr>
              <tr slot="6">

              </tr>
              <tr slot="7">

              </tr>
              <tr slot="8">

              </tr>
              <tr slot="9">

              </tr>
            </tbody>
          </table>
        </div>
        <div class="match-navigation">
          <div class="ui inverted tiny statistics">
            <div class="ui statistic">
              <div class="value" id="matches-selected">800</div>
              <div class="label">Selected</div>
            </div>
            <div class="ui statistic">
              <div class="value" id="matches-in-database-stat">0</div>
              <div class="label">Total</div>
            </div>
          </div>
          <div class="ui right floated pagination menu" id="match-list-page-menu">
            <a class="icon item prev"><i class="left chevron icon"></i></a>
            <a class="item page-num">1</a>
            <a class="item page-num">...</a>
            <a class="item page-num">2</a>
            <a class="item page-num">3</a>
            <a class="item page-num">4</a>
            <a class="item page-num">5</a>
            <a class="item page-num">6</a>
            <a class="item page-num">...</a>
            <a class="item page-num">7</a>
            <a class="icon item next"><i class="right chevron icon"></i></a>
          </div>
        </div>
      </div>
      <div class="five wide column">
        <div class="ui inverted segment" id="match-search-segment">
          <div class="ui top attached label">Search Matches</div>
          <div class="ui grid">
            <div class="eight wide column"></div>
            <div class="four wide column">
              <div class="ui fluid button" id="match-search-reset-button">Reset</div>
            </div>
            <div class="four wide column">
              <div class="ui fluid green button" id="match-search-button">Search</div>
            </div>
            <div class="three wide column">Mode</div>
            <div class="thirteen wide column">
              <div class="ui fluid multiple search selection dropdown" id="match-mode-select">
                <i class="dropdown icon"></i>
                <div class="default text">All</div>
                <div class="menu">
                  <div class="item" data-value="50001">Quick Match</div>
                  <div class="item" data-value="50051">Unranked Draft</div>
                  <div class="item" data-value="50061">Hero League</div>
                  <div class="item" data-value="50071">Team League</div>
                  <div class="item" data-value="-1">Custom</div>
                </div>
              </div>
            </div>
            <div class="three wide column">Map</div>
            <div class="thirteen wide column">
              <div class="ui fluid multiple search selection dropdown" id="match-map-select">
                <i class="dropdown icon"></i>
                <div class="default text">All</div>
                <div class="menu">

                </div>
              </div>
            </div>
            <div class="three wide column">Patch</div>
            <div class="thirteen wide column">
              <div class="ui fluid multiple search selection dropdown" id="match-patch-select">
                <i class="dropdown icon"></i>
                <div class="default text">All</div>
                <div class="menu">

                </div>
              </div>
            </div>
            <div class="three wide column">Season</div>
            <div class="thirteen wide column">
              <div class="ui fluid selection dropdown" id="match-search-seasons">
                <i class="dropdown icon"></i>
                <div class="default text">All Dates</div>
                <div class="menu">
                </div>
              </div>
            </div>
            <div class="three wide column">Start Date</div>
            <div class="five wide column">
              <div class="ui inverted fluid input">
                <input type="text" value="" id="match-search-start-date">
              </div>
            </div>
            <div class="three wide column">End Date</div>
            <div class="five wide column">
              <div class="ui inverted fluid input">
                <input type="text" value="" id="match-search-end-date">
              </div>
            </div>
            <div class="three wide column">Hero</div>
            <div class="ten wide column">
              <div class="ui fluid multiple search selection dropdown" id="match-search-heroes">
                <i class="dropdown icon"></i>
                <span class="default text">All Heroes</span>
                <div class="menu">

                </div>
              </div>
            </div>
            <div class="three wide column">
              <div class="ui fluid selection dropdown" id="match-search-heroes-mode">
                <i class="dropdown icon"></i>
                <span class="default text">Any</span>
                <div class="menu">
                  <div class="item" data-value="or">Any</div>
                  <div class="item" data-value="and">All</div>
                </div>
              </div>
            </div>
            <div class="sixteen wide column">
              <div class="ui toggle inverted checkbox" id="search-hero-on-team">
                  <input type="checkbox" name="search-hero-on-team">
                  <label>Require Hero On Selected Team</label>
              </div>
            </div>
            <div class="three wide column">Player</div>
            <div class="seven wide column">
              <div class="ui fluid multiple search selection dropdown player-menu" id="match-search-players">
                <i class="dropdown icon"></i>
                <span class="default text">All Players</span>
                <div class="menu">
    
                </div>
              </div>
            </div>
            <div class="three wide column">
              <div class="ui fluid selection dropdown" id="match-search-players-win">
                <i class="dropdown icon"></i>
                <span class="default text">W/L</span>
                <div class="menu">
                  <div class="item" data-value="both">W/L</div>
                  <div class="item" data-value="win">Win</div>
                  <div class="item" data-value="loss">Loss</div>
                </div>
              </div>
            </div>
            <div class="three wide column">
              <div class="ui fluid selection dropdown" id="match-search-players-mode">
                <i class="dropdown icon"></i>
                <span class="default text">Any</span>
                <div class="menu">
                  <div class="item" data-value="or">Any</div>
                  <div class="item" data-value="and">All</div>
                </div>
              </div>
            </div>
            <div class="three wide column">Team</div>
            <div class="ten wide column">
              <div class="ui fluid search selection dropdown team-menu" id="match-search-team">
                <i class="dropdown icon"></i>
                <span class="default text">Team</span>
                <div class="menu">
    
                </div>
              </div>
              <div class="ui right floated icon button" id="match-search-clear-team">
                <i class="eraser icon"></i>
              </div>
            </div>
            <div class="three wide column">
              <div class="ui fluid selection dropdown" id="match-search-team-win">
                <i class="dropdown icon"></i>
                <span class="default text">W/L</span>
                <div class="menu">
                  <div class="item" data-value="both">W/L</div>
                  <div class="item" data-value="win">Win</div>
                  <div class="item" data-value="loss">Loss</div>
                </div>
              </div>
            </div>
            <div class="three wide column">Tags</div>
            <div class="thirteen wide column">
              <div class="ui fluid search multiple selection dropdown" id="match-search-tags">
                <i class="dropdown icon"></i>
                <span class="default text">All Tags</span>
                <div class="menu">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui modal" id="matches-collection-select">
    <div class="header"></div>
    <div class="content">
      <p class="text"></p>
      <div class="ui fluid search selection dropdown collection-menu">
        <i class="dropdown icon"></i>
        <span class="text">Collection</span>
        <div class="menu">

        </div>
      </div>
    </div>
    <div class="actions">
      <div class="ui green approve button">OK</div>
      <div class="ui red deny button">Cancel</div>
    </div>
  </div>
  <div id="matches-confirm-delete-matches" class="ui modal">
    <div class="header">Delete Selected Matches</div>
    <div class="content">
      <p>Are you sure you want to delete all selected matches? This will <b>permanently</b> remove the matches from the database.</p>
    </div>
    <div class="actions">
      <div class="ui green approve button">Yes</div>
      <div class="ui red deny button">No</div>
    </div>
  </div>
</script>

<script id="match-summary-row" type="text/x-handlebars-template">
  <td class="{{mapClass}}">
    <div class="bg-dimmer"></div>
    <div class="match-summary {{mapClass}}" match-id="{{id}}">
      <div class="ui three column grid match-basic-info">
        <div class="column match-map-name">
          <h2 class="ui inverted header match-map-name">{{map}}</h2>
        </div>
        <div class="column match-team-winner">
          <h3 class="ui {{winClass}} header match-team-winner">{{winText}}</h3>
        </div>
        <div class="column match-mode">
          <h3 class="ui inverted header match-mode">{{mode}}</h3>
          <div class="match-date">{{date}}</div>
        </div>
      </div>
      <div class="ui grid match-details">
        <div class="ui two wide column blue-bans">
          <div class="ui inverted blue horizontal divider {{hideBans}}">Blue Bans</div>
          <div class="ui two column grid {{hideBans}}">
            <div class="column">
              <img class="ui circular blue-hero middle-align image" src="assets/heroes-talents/images/heroes/{{bban1Img}}">
            </div>
            <div class="column">
              <img class="ui circular blue-hero middle-align image" src="assets/heroes-talents/images/heroes/{{bban2Img}}">
            </div>
          </div>
          <div class="blue-team-nameplate"></div>
        </div>
        {{#each blueHeroes}}
        <div class="ui column">
          <img class="ui circular blue-hero middle-align image {{isFocus}}" src="assets/heroes-talents/images/heroes/{{heroImg}}" data-content="{{playerName}}" player-id="{{playerID}}" data-position="top center">
        </div>
        {{/each}}
        <div class="ui two wide column match-center-stats">
          <div class="ui grid">
            <div class="sixteen wide column no-bottom-pad">
              <div class="match-game-length">{{length}}</div>
            </div>
            <div class="eight wide column no-bottom-pad">
              <div class="blue match-takedown-score">{{takedowns.blue}}</div>
            </div>
            <div class="eight wide column no-bottom-pad">
              <div class="red match-takedown-score">{{takedowns.red}}</div>
            </div>
            <div class="eight wide column no-right-pad">
              <div class="blue match-levels">Level {{level.blue}}</div>
            </div>
            <div class="eight wide column no-left-pad">
              <div class="red match-levels">Level {{level.red}}</div>
            </div>
          </div>
        </div>
        {{#each redHeroes}}
        <div class="ui column">
          <img class="ui circular red-hero middle-align image {{isFocus}}" src="assets/heroes-talents/images/heroes/{{heroImg}}" data-content="{{playerName}}" player-id="{{playerID}}" data-position="top center">
        </div>
        {{/each}}
        <div class="ui two wide column red-bans">
          <div class="ui inverted red horizontal divider {{hideBans}}">Red Bans</div>
          <div class="ui two column grid {{hideBans}}">
            <div class="column">
              <img class="ui circular red-hero middle-align image" src="assets/heroes-talents/images/heroes/{{rban1Img}}">
            </div>
            <div class="column">
              <img class="ui circular red-hero middle-align image" src="assets/heroes-talents/images/heroes/{{rban2Img}}">
            </div>
          </div>
          <div class="red-team-nameplate"></div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </td>
</script>