
<script src="../js/match-detail.js"></script>

<script id="match-detail-page" type="text/x-handlebars-template">
  <div id="match-detail-page-content" class="is-page transition hidden" section-name="match-detail">
    <div id="match-detail-page-header">
      <div class="ui grid">
        <div class="four wide column">
          <h1 class="ui inverted header" id="match-detail-map-name">[MAP NAME]</h1>
          <h2 class="ui inverted header" id="match-detail-mode"></h2>
          <div class="" id="match-detail-date"></div>
          <div class="" id="match-detail-file"></div>
        </div>
        <div class="two wide column">
          <h2 class="ui inverted header" id="match-detail-victor"></h2>
        </div>
        <div class="two wide column">
          <div class="ui blue inverted statistic">
            <div class="value" id="match-detail-blue-level">15</div>
            <div class="label">Level</div>
          </div>
        </div>
        <div class="two wide column">
          <div class="ui blue inverted statistic">
            <div class="value" id="match-detail-blue-takedowns">28</div>
            <div class="label">Takedowns</div>
          </div>
        </div>
        <div class="two wide column">
          <div class="ui inverted statistic">
            <div class="value" id="match-detail-duration">13:24</div>
            <div class="label">Game Length</div>
          </div>
        </div>
        <div class="two wide column">
          <div class="ui red inverted statistic">
            <div class="value" id="match-detail-red-takedowns">28</div>
            <div class="label">Takedowns</div>
          </div>
        </div>
        <div class="two wide column">
          <div class="ui red inverted statistic">
            <div class="value" id="match-detail-red-level">28</div>
            <div class="label">Level</div>
          </div>
        </div>
      </div>
    </div>
    <div id="match-detail-body">
      <div class="ui secondary inverted pointing menu" id="match-detail-submenu">
        <a class="active item" data-tab="summary">Summary</a>
        <a class="item" data-tab="talents">Talents</a>
        <a class="item" data-tab="details">Detailed Stats</a>
        <a class="item" data-tab="match-detail-xp">XP Breakdown</a>
        <a class="item" data-tab="match-detail-timeline">Timeline</a>
        <a class="item" data-tab="match-detail-log">Chat and Taunt Log</a>
      </div>
      <div class="ui active tab match-detail-wrapper" data-tab="summary" id="match-detail-summary">
        <div class="match-detail-team-names">
          <div class="ui grid">
            <div class="six wide column">
              <h3 class="ui blue-team inverted small blue header">BLUE TEAM</h3>
            </div>
            <div class="four wide column vs">
              VS
            </div>
            <div class="six wide column">
              <h3 class="ui red-team inverted small red header">RED Team</h3>
            </div>
          </div>
        </div>
        <table class="ui sortable selectable inverted table">
          <thead>
            <tr>
              <th>Player</th>
              <th class="center aligned">Award</th>
              <th class="center aligned">Kills</th>
              <th class="center aligned">Assists</th>
              <th class="center aligned">Deaths</th>
              <th class="center aligned">Hero Damage</th>
              <th class="center aligned">Siege Damage</th>
              <th class="center aligned">Healing</th>
              <th class="center aligned">Damage Taken</th>
              <th class="center aligned">XP Contribution</th>
            </tr>
          </thead>
          <tbody>
            <!-- matchSummaryRowTemplate target area -->
          </tbody>
        </table>
        <div class="ui inverted segment" id="match-detail-draft">
          <div class="ui top left attached label">Draft</div>
          <div class="ui tiny images draft-display-compact is-hidden">
            <div class="ui rounded image" ban-slot="first-1">
              <img src="">
              <div class="ui floating circular label">Ban</div>
            </div>
            <div class="ui rounded image" ban-slot="second-1">
              <img src="">
              <div class="ui floating circular label">Ban</div>
            </div>
            <div class="ui rounded image" ban-slot="first-1a">
              <img src="">
              <div class="ui floating circular label">Ban</div>
            </div>
            <div class="ui rounded image" ban-slot="second-1a">
              <img src="">
              <div class="ui floating circular label">Ban</div>
            </div>
            <div class="ui rounded image" pick-slot="first-1">
              <img src="">
              <div class="ui floating circular label">Pick</div>
            </div>
            <div class="ui rounded image" pick-slot="second-1">
              <img src="">
              <div class="ui floating circular label">Pick</div>
            </div>
            <div class="ui rounded image" pick-slot="second-2">
              <img src="">
              <div class="ui floating circular label">Pick</div>
            </div>
            <div class="ui rounded image" pick-slot="first-2">
              <img src="">
              <div class="ui floating circular label">Pick</div>
            </div>
            <div class="ui rounded image" pick-slot="first-3">
              <img src="">
              <div class="ui floating circular label">Pick</div>
            </div>
            <div class="ui rounded image" ban-slot="second-2">
              <img src="">
              <div class="ui floating circular label">Ban</div>
            </div>
            <div class="ui rounded image" ban-slot="first-2">
              <img src="">
              <div class="ui floating circular label">Ban</div>
            </div>
            <div class="ui rounded image" pick-slot="second-3">
              <img src="">
              <div class="ui floating circular label">Pick</div>
            </div>
            <div class="ui rounded image" pick-slot="second-4">
              <img src="">
              <div class="ui floating circular label">Pick</div>
            </div>
            <div class="ui rounded image" pick-slot="first-4">
              <img src="">
              <div class="ui floating circular label">Pick</div>
            </div>
            <div class="ui rounded image" pick-slot="first-5">
              <img src="">
              <div class="ui floating circular label">Pick</div>
            </div>
            <div class="ui rounded image" pick-slot="second-5">
              <img src="">
              <div class="ui floating circular label">Pick</div>
            </div>
          </div>
          <div class="ui two column grid draft-display-expanded">
            <div class="ui column">
              <div class="ui grid blue-team-draft">
                <div class="sixteen wide column">
                  <div class="ui blue tiny rounded image" ban-slot="blue-1">
                    <img src="">
                    <div class="ui blue floating circular label">Ban</div>
                  </div>
                  <div class="ui blue tiny rounded image" ban-slot="blue-1a">
                    <img src="">
                    <div class="ui blue floating circular label">Ban</div>
                  </div>
                  <div class="ui blue tiny rounded image" ban-slot="blue-2">
                    <img src="">
                    <div class="ui blue floating circular label">Ban</div>
                  </div>
                </div>
                <div class="sixteen wide column">
                  <div class="ui blue tiny rounded image" pick-slot="blue-1">
                    <img src="">
                    <div class="ui blue floating circular label">Pick</div>
                  </div>
                  <div class="ui blue tiny rounded image" pick-slot="blue-2">
                    <img src="">
                    <div class="ui blue floating circular label">Pick</div>
                  </div>
                  <div class="ui blue tiny rounded image" pick-slot="blue-3">
                    <img src="">
                    <div class="ui blue floating circular label">Pick</div>
                  </div>
                  <div class="ui blue tiny rounded image" pick-slot="blue-4">
                    <img src="">
                    <div class="ui blue floating circular label">Pick</div>
                  </div>
                  <div class="ui blue tiny rounded image" pick-slot="blue-5">
                    <img src="">
                    <div class="ui blue floating circular label">Pick</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ui column">
              <div class="ui grid red-team-draft">
                <div class="sixteen wide column">
                  <div class="ui red tiny rounded image" ban-slot="red-1">
                    <img src="">
                    <div class="ui red floating circular label">Ban</div>
                  </div>
                  <div class="ui red tiny rounded image" ban-slot="red-1a">
                    <img src="">
                    <div class="ui red floating circular label">Ban</div>
                  </div>
                  <div class="ui red tiny rounded image" ban-slot="red-2">
                    <img src="">
                    <div class="ui red floating circular label">Ban</div>
                  </div>
                </div>
                <div class="sixteen wide column">
                  <div class="ui red tiny rounded image" pick-slot="red-1">
                    <img src="">
                    <div class="ui red floating circular label">Pick</div>
                  </div>
                  <div class="ui red tiny rounded image" pick-slot="red-2">
                    <img src="">
                    <div class="ui red floating circular label">Pick</div>
                  </div>
                  <div class="ui red tiny rounded image" pick-slot="red-3">
                    <img src="">
                    <div class="ui red floating circular label">Pick</div>
                  </div>
                  <div class="ui red tiny rounded image" pick-slot="red-4">
                    <img src="">
                    <div class="ui red floating circular label">Pick</div>
                  </div>
                  <div class="ui red tiny rounded image" pick-slot="red-5">
                    <img src="">
                    <div class="ui red floating circular label">Pick</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ui inverted vertical divider">
            VS
          </div>
        </div>
        <div class="ui column grid">
          <div class="ui eight wide column">
            <div class="ui inverted segment">
              <div id="match-detail-team-members-container">
                <div class="ui top attached label">Overall Stats</div>
                <canvas id="match-detail-team-numbers"></canvas>
              </div>
            </div>
          </div>
          <div class="ui eight wide column">
            <div class="ui one column grid">
              <div class="ui column">
                <div class="ui inverted segment">
                  <div class="match-detail-sub-graph-container">
                    <div class="ui top attached label">Teamfight Stats</div>
                    <canvas id="match-detail-teamfight-numbers"></canvas>
                  </div>
                </div>
              </div>
              <div class="ui column">
                <div class="ui inverted segment">
                  <div class="match-detail-sub-graph-container">
                    <div class="ui top attached label">CC Time</div>
                    <canvas id="match-detail-team-cc"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ui eight wide column print-team-stats">
            <div class="ui inverted segment" id="match-detail-blue-team-stats">
              <div class="ui top attached label">Blue Team Stats</div>
              <div class="ui six inverted small blue statistics">
                <div class="statistic" name="team-kda">
                  <div class="value">###</div>
                  <div class="label">Team KDA</div>
                </div>
                <div class="statistic" name="team-ppk">
                  <div class="value">###</div>
                  <div class="label">Team PPK</div>
                </div>
                <div class="statistic" name="team-hero-aces">
                  <div class="value">###</div>
                  <div class="label">Aces</div>
                </div>
                <div class="statistic" name="team-hero-wipes">
                  <div class="value">###</div>
                  <div class="label">Wipes</div>
                </div>
                <div class="statistic" name="team-hero-alive">
                  <div class="value">###</div>
                  <div class="label">Avg. Heroes Alive</div>
                </div>
                <div class="statistic" name="team-hero-time-adv">
                  <div class="value">###</div>
                  <div class="label">Time w/ Hero Adv.</div>
                </div>
              </div>
              <div class="ui inverted horizontal divider">Levels</div>
              <div class="ui five inverted small blue statistics">
                <div class="statistic" name="team-time-to-10">
                  <div class="value">###</div>
                  <div class="label">Time To 10</div>
                </div>
                <div class="statistic" name="team-time-to-20">
                  <div class="value">###</div>
                  <div class="label">Time To 20</div>
                </div>
                <div class="statistic" name="team-avg-level-adv">
                  <div class="value">###</div>
                  <div class="label">Avg. Level Adv.</div>
                </div>
                <div class="statistic" name="team-max-level-adv">
                  <div class="value">###</div>
                  <div class="label">Max Level Adv.</div>
                </div>
                <div class="statistic" name="team-time-level-adv">
                  <div class="value">###</div>
                  <div class="label">Level Adv. Time</div>
                </div>
              </div>
              <div class="ui inverted horizontal divider">Passive XP</div>
              <div class="ui three inverted small blue statistics">
                <div class="statistic" name="team-passive-xp-rate">
                  <div class="value">###</div>
                  <div class="label">Passive XP/second</div>
                </div>
                <div class="statistic" name="team-passive-xp-diff">
                  <div class="value">###</div>
                  <div class="label">Passive XP Gain %</div>
                </div>
                <div class="statistic" name="team-passive-xp-total">
                  <div class="value">###</div>
                  <div class="label">Passive XP Gain</div>
                </div>
              </div>
              <div class="ui inverted horizontal divider">Mercenaries</div>
              <div class="ui three inverted small blue statistics">
                <div class="statistic" name="merc-capture">
                  <div class="value">####</div>
                  <div class="label">Captures</div>
                </div>
                <div class="statistic" name="merc-uptime">
                  <div class="value">####</div>
                  <div class="label">Uptime</div>
                </div>
                <div class="statistic" name="merc-uptime-pct">
                  <div class="value">####</div>
                  <div class="label">Uptime %</div>
                </div>
              </div>
              <div class="ui inverted horizontal divider">Structures</div>
              <div class="ui two column grid">
                <div class="column">
                  <div class="ui inverted horizontal divider">Forts</div>
                  <div class="ui three inverted tiny blue statistics">
                    <div class="statistic" name="forts-destroyed">
                      <div class="value">####</div>
                      <div class="label">Destroyed</div>
                    </div>
                    <div class="statistic" name="first-fort">
                      <div class="value">####</div>
                      <div class="label">First Destroyed</div>
                    </div>
                    <div class="statistic" name="forts-lost">
                      <div class="value">####</div>
                      <div class="label">Lost</div>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="ui inverted horizontal divider">Keeps</div>
                  <div class="ui three inverted tiny blue statistics">
                    <div class="statistic" name="keeps-destroyed">
                      <div class="value">####</div>
                      <div class="label">Destroyed</div>
                    </div>
                    <div class="statistic" name="first-keep">
                      <div class="value">####</div>
                      <div class="label">First Destroyed</div>
                    </div>
                    <div class="statistic" name="keeps-lost">
                      <div class="value">####</div>
                      <div class="label">Lost</div>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="ui inverted horizontal divider">Wells</div>
                  <div class="ui three inverted tiny blue statistics">
                    <div class="statistic" name="wells-destroyed">
                      <div class="value">####</div>
                      <div class="label">Destroyed</div>
                    </div>
                    <div class="statistic" name="first-well">
                      <div class="value">####</div>
                      <div class="label">First Destroyed</div>
                    </div>
                    <div class="statistic" name="wells-lost">
                      <div class="value">####</div>
                      <div class="label">Lost</div>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="ui inverted horizontal divider">Towers</div>
                  <div class="ui three inverted tiny blue statistics">
                    <div class="statistic" name="towers-destroyed">
                      <div class="value">####</div>
                      <div class="label">Destroyed</div>
                    </div>
                    <div class="statistic" name="first-tower">
                      <div class="value">####</div>
                      <div class="label">First Destroyed</div>
                    </div>
                    <div class="statistic" name="towers-lost">
                      <div class="value">####</div>
                      <div class="label">Lost</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ui eight wide column print-team-stats">
            <div class="ui inverted segment" id="match-detail-red-team-stats">
              <div class="ui top attached label">Red Team Stats</div>
              <div class="ui six inverted small red statistics">
                <div class="statistic" name="team-kda">
                  <div class="value">###</div>
                  <div class="label">Team KDA</div>
                </div>
                <div class="statistic" name="team-ppk">
                  <div class="value">###</div>
                  <div class="label">Team PPK</div>
                </div>
                <div class="statistic" name="team-hero-aces">
                  <div class="value">###</div>
                  <div class="label">Aces</div>
                </div>
                <div class="statistic" name="team-hero-wipes">
                  <div class="value">###</div>
                  <div class="label">Wipes</div>
                </div>
                <div class="statistic" name="team-hero-alive">
                  <div class="value">###</div>
                  <div class="label">Avg. Heroes Alive</div>
                </div>
                <div class="statistic" name="team-hero-time-adv">
                  <div class="value">###</div>
                  <div class="label">Time w/ Hero Adv.</div>
                </div>
              </div>
              <div class="ui inverted horizontal divider">Levels</div>
              <div class="ui five inverted small red statistics">
                <div class="statistic" name="team-time-to-10">
                  <div class="value">###</div>
                  <div class="label">Time To 10</div>
                </div>
                <div class="statistic" name="team-time-to-20">
                  <div class="value">###</div>
                  <div class="label">Time To 20</div>
                </div>
                <div class="statistic" name="team-avg-level-adv">
                  <div class="value">###</div>
                  <div class="label">Avg. Level Adv.</div>
                </div>
                <div class="statistic" name="team-max-level-adv">
                  <div class="value">###</div>
                  <div class="label">Max Level Adv.</div>
                </div>
                <div class="statistic" name="team-time-level-adv">
                  <div class="value">###</div>
                  <div class="label">Level Adv. Time</div>
                </div>
              </div>
              <div class="ui inverted horizontal divider">Passive XP</div>
              <div class="ui three inverted small red statistics">
                <div class="statistic" name="team-passive-xp-rate">
                  <div class="value">###</div>
                  <div class="label">Passive XP/second</div>
                </div>
                <div class="statistic" name="team-passive-xp-diff">
                  <div class="value">###</div>
                  <div class="label">Passive XP Gain %</div>
                </div>
                <div class="statistic" name="team-passive-xp-total">
                  <div class="value">###</div>
                  <div class="label">Passive XP Gain</div>
                </div>
              </div>
              <div class="ui inverted horizontal divider">Mercenaries</div>
              <div class="ui three inverted small red statistics">
                <div class="statistic" name="merc-capture">
                  <div class="value">####</div>
                  <div class="label">Captures</div>
                </div>
                <div class="statistic" name="merc-uptime">
                  <div class="value">####</div>
                  <div class="label">Uptime</div>
                </div>
                <div class="statistic" name="merc-uptime-pct">
                  <div class="value">####</div>
                  <div class="label">Uptime %</div>
                </div>
              </div>
              <div class="ui inverted horizontal divider">Structures</div>
              <div class="ui two column grid">
                <div class="column">
                  <div class="ui inverted horizontal divider">Forts</div>
                  <div class="ui three inverted tiny red statistics">
                    <div class="statistic" name="forts-destroyed">
                      <div class="value">####</div>
                      <div class="label">Destroyed</div>
                    </div>
                    <div class="statistic" name="first-fort">
                      <div class="value">####</div>
                      <div class="label">First Destroyed</div>
                    </div>
                    <div class="statistic" name="forts-lost">
                      <div class="value">####</div>
                      <div class="label">Lost</div>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="ui inverted horizontal divider">Keeps</div>
                  <div class="ui three inverted tiny red statistics">
                    <div class="statistic" name="keeps-destroyed">
                      <div class="value">####</div>
                      <div class="label">Destroyed</div>
                    </div>
                    <div class="statistic" name="first-keep">
                      <div class="value">####</div>
                      <div class="label">First Destroyed</div>
                    </div>
                    <div class="statistic" name="keeps-lost">
                      <div class="value">####</div>
                      <div class="label">Lost</div>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="ui inverted horizontal divider">Wells</div>
                  <div class="ui three inverted tiny red statistics">
                    <div class="statistic" name="wells-destroyed">
                      <div class="value">####</div>
                      <div class="label">Destroyed</div>
                    </div>
                    <div class="statistic" name="first-well">
                      <div class="value">####</div>
                      <div class="label">First Destroyed</div>
                    </div>
                    <div class="statistic" name="wells-lost">
                      <div class="value">####</div>
                      <div class="label">Lost</div>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="ui inverted horizontal divider">Towers</div>
                  <div class="ui three inverted tiny red statistics">
                    <div class="statistic" name="towers-destroyed">
                      <div class="value">####</div>
                      <div class="label">Destroyed</div>
                    </div>
                    <div class="statistic" name="first-tower">
                      <div class="value">####</div>
                      <div class="label">First Destroyed</div>
                    </div>
                    <div class="statistic" name="towers-lost">
                      <div class="value">####</div>
                      <div class="label">Lost</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui tab match-detail-wrapper" data-tab="talents" id="match-detail-talents">
        <table class="ui fixed inverted table">
          <thead>
            <tr>
              <th>Player</th>
              <th class="center aligned">1</th>
              <th class="center aligned">4</th>
              <th class="center aligned">7</th>
              <th class="center aligned">10</th>
              <th class="center aligned">13</th>
              <th class="center aligned">16</th>
              <th class="center aligned">20</th>
            </tr>
          </thead>
          <tbody>
            <!-- appendTalentRow output here -->
          </tbody>
        </table>
      </div>
      <div class="ui tab full-height" data-tab="details">
        <div class="match-detail-wrapper" id="match-detail-details">
          <table class="ui selectable fixed definition inverted table">
            <thead>
              <tr>
                <!-- matchDetailHeaderTemplate target area -->
              </tr>
            </thead>
            <tbody>
                <!-- matchDetailRowTemplate target area -->
            </tbody>
          </table>
        </div>
      </div>
      <div class="ui tab match-detail-wrapper" data-tab="match-detail-xp" id="match-detail-xp-graphs">
        <div class="ui grid">
          <div class="eight wide column">
            <div class="ui top attached tiny menu" id="match-detail-xp-graph-menu">
              <a class="active item" data-tab="match-detail-overall-xp">Total XP vs Time</a>
              <a class="item" data-tab="match-detail-levels-time">Levels vs Time</a>
            </div>
            <div class="ui active tab has-team-xp-menu" data-tab="match-detail-overall-xp">
              <div class="ui bottom attached inverted segment">
                <div class="team-xp-graph-segment">
                  <canvas id="match-detail-overall-xp"></canvas>
                </div>
              </div>
            </div>
            <div class="ui tab has-team-xp-menu" data-tab="match-detail-levels-time">
              <div class="ui bottom attached inverted segment">
                <div class="team-xp-graph-segment">
                  <canvas id="match-detail-levels-xp"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="eight wide column">
            <div class="ui inverted segment">
              <div class="ui top attached label">Team Soak</div>
              <div class="team-xp-graph-segment">
                <canvas id="match-detail-xp-soak"></canvas>
              </div>
            </div>
          </div>
          <div class="eight wide column">
            <div class="ui inverted segment">
              <div class="ui top attached label">Blue Team XP Breakdown</div>
              <div class="team-xp-graph-segment">
                <canvas id="match-detail-blue-xpb"></canvas>
              </div>
            </div>
          </div>
          <div class="eight wide column">
            <div class="ui inverted segment">
              <div class="ui top attached label">Red Team XP Breakdown</div>
              <div class="team-xp-graph-segment">
                <canvas id="match-detail-red-xpb"></canvas>
              </div>
            </div>
          </div>
          <div class="eight wide column">
            <div class="ui inverted segment">
              <div class="ui top attached label">Time Per Talent Tier</div>
              <div class="team-xp-graph-segment">
                <canvas id="match-detail-time-per-tier"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui tab match-detail-wrapper" data-tab="match-detail-timeline" id="match-detail-timeline">
        <div id="match-detail-timeline-buttons">
          <div class="seven ui buttons">
            <button class="ui button" button-id="0">Takedowns</button>
            <button class="ui button" button-id="1">Levels</button>
            <button class="ui button" button-id="2">Level Advantage</button>
            <button class="ui button" button-id="3">Structures Destroyed</button>
            <button class="ui button" button-id="4">Objective</button>
            <button class="ui button" button-id="5">Mercenary Captures</button>
            <button class="ui button" button-id="6">Mercenary Units</button>
          </div>
        </div>
        <div id="match-detail-timeline-wrapper">

        </div>
      </div>
      <div class="ui tab match-detail-wrapper" data-tab="match-detail-log" id="match-detail-chat-log">
        <div class="ui grid full-height">
          <div class="twelve wide column">
            <div class="ui inverted segment full-height">
              <div class="ui top attached label">Chat Log</div>
              <div class="ui feed" id="match-detail-chat">

              </div>
            </div>
          </div>
          <div class="four wide column">
            <div class="ui inverted segment full-height">
              <div class="ui top attached label">Taunt Log</div>
                <div class='table-wrapper'>
                  <table class="ui inverted sortable table" id="match-detail-taunt-table">
                  <thead>
                    <tr>
                      <th>Player</th>
                      <th>Taunt</th>
                      <th class="time-sort">Time</th>
                      <th>TD</th>
                      <th>Death</th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="match-detail-existing-team" class="ui modal">
    <div class="header">Add Players to Existing Team</div>
    <div class="content">
      <div class="ui fluid search selection dropdown team-menu">
        <i class="dropdown icon"></i>
        <span class="default text">Team</span>
        <div class="menu">

        </div>
      </div>
    </div>
    <div class="actions">
      <div class="ui green approve button">Add</div>
      <div class="ui red deny button">Cancel</div>
    </div>
  </div>
  <div id="match-detail-confirm-delete-match" class="ui modal">
    <div class="header">Delete Match</div>
    <div class="content">
      <p>Are you sure you want to delete this match? All associated data will be permanently removed from the database.</p>
    </div>
    <div class="actions">
      <div class="ui green approve button">Yes</div>
      <div class="ui red deny button">No</div>
    </div>
  </div>
  <div class="ui modal" id="match-detail-print-sections">
    <div class="header">Select Sections to Print</div>
    <div class="content">
      <div class="ui fluid search multiple selection dropdown">
        <i class="dropdown icon"></i>
        <div class="default text">Select Sections</div>
        <div class="menu">
          <div class="item" data-value="summary">Summary and Draft</div>
          <div class="item" data-value="talents">Talents</div>
          <div class="item" data-value="graphs">Stat Graphs</div>
          <div class="item" data-value="team-stats">Team Statistics</div>
          <div class="item" data-value="details">Detailed Stats</div>
          <div class="item" data-value="xp">XP Graphs</div>
          <div class="item" data-value="chat">Chat</div>
          <div class="item" data-value="taunts">Taunts</div>
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="ui green approve button">Print</div>
      <div class="ui red deny button">Cancel</div>
    </div>
  </div>
  <div class="ui modal" id="match-detail-fix-draft">
    <div class="header">Modify Draft</div>
    <div class="scrolling content">
      <div class="ui segment">
        <div class="ui top attached label">First Pick</div>
        <div class="ui fluid selection dropdown first-pick">
          <i class="dropdown icon"></i>
          <span class="text"></span>
          <div class="menu">
            <div class="item" data-value="1">Blue</div>
            <div class="item" data-value="2">Red</div>
          </div>
        </div>
      </div>
      <div class="ui two column grid">
        <div class="column"><h2 class="ui blue header">Blue Team</h2></div>
        <div class="column"><h2 class="ui red header">Red Team</h2></div>
        <!-- BLUE PICKS -->
        <div class="column">
          <h3 class="ui dividing header">Pick Order</h3>
          <div class="ui list">
            <div class="item blue-1">
              <img class="ui tiny circular image draft-pick" src="">
              <div class="content">
                <div class="ui selection dropdown pick-order">
                  <i class="dropdown icon"></i>
                  <span class="text"></span>
                  <div class="menu">
                    <div class="item" data-value="1">1st</div>
                    <div class="item" data-value="2">2nd</div>
                    <div class="item" data-value="3">3rd</div>
                    <div class="item" data-value="4">4th</div>
                    <div class="item" data-value="5">5th</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item blue-2">
              <img class="ui tiny circular image draft-pick" src="">
              <div class="content">
                <div class="ui selection dropdown pick-order">
                  <i class="dropdown icon"></i>
                  <span class="text"></span>
                  <div class="menu">
                    <div class="item" data-value="1">1st</div>
                    <div class="item" data-value="2">2nd</div>
                    <div class="item" data-value="3">3rd</div>
                    <div class="item" data-value="4">4th</div>
                    <div class="item" data-value="5">5th</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item blue-3">
              <img class="ui tiny circular image draft-pick" src="">
              <div class="content">
                <div class="ui selection dropdown pick-order">
                  <i class="dropdown icon"></i>
                  <span class="text"></span>
                  <div class="menu">
                    <div class="item" data-value="1">1st</div>
                    <div class="item" data-value="2">2nd</div>
                    <div class="item" data-value="3">3rd</div>
                    <div class="item" data-value="4">4th</div>
                    <div class="item" data-value="5">5th</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item blue-4">
              <img class="ui tiny circular image draft-pick" src="">
              <div class="content">
                <div class="ui selection dropdown pick-order">
                  <i class="dropdown icon"></i>
                  <span class="text"></span>
                  <div class="menu">
                    <div class="item" data-value="1">1st</div>
                    <div class="item" data-value="2">2nd</div>
                    <div class="item" data-value="3">3rd</div>
                    <div class="item" data-value="4">4th</div>
                    <div class="item" data-value="5">5th</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item blue-5">
              <img class="ui tiny circular image draft-pick" src="">
              <div class="content">
                <div class="ui selection dropdown pick-order">
                  <i class="dropdown icon"></i>
                  <span class="text"></span>
                  <div class="menu">
                    <div class="item" data-value="1">1st</div>
                    <div class="item" data-value="2">2nd</div>
                    <div class="item" data-value="3">3rd</div>
                    <div class="item" data-value="4">4th</div>
                    <div class="item" data-value="5">5th</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- RED PICKS -->
        <div class="column">
          <h3 class="ui dividing header">Pick Order</h3>
          <div class="ui list">
            <div class="item red-1">
              <img class="ui tiny circular image draft-pick" src="">
              <div class="content">
                <div class="ui selection dropdown pick-order">
                  <i class="dropdown icon"></i>
                  <span class="text"></span>
                  <div class="menu">
                    <div class="item" data-value="1">1st</div>
                    <div class="item" data-value="2">2nd</div>
                    <div class="item" data-value="3">3rd</div>
                    <div class="item" data-value="4">4th</div>
                    <div class="item" data-value="5">5th</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item red-2">
              <img class="ui tiny circular image draft-pick" src="">
              <div class="content">
                <div class="ui selection dropdown pick-order">
                  <i class="dropdown icon"></i>
                  <span class="text"></span>
                  <div class="menu">
                    <div class="item" data-value="1">1st</div>
                    <div class="item" data-value="2">2nd</div>
                    <div class="item" data-value="3">3rd</div>
                    <div class="item" data-value="4">4th</div>
                    <div class="item" data-value="5">5th</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item red-3">
              <img class="ui tiny circular image draft-pick" src="">
              <div class="content">
                <div class="ui selection dropdown pick-order">
                  <i class="dropdown icon"></i>
                  <span class="text"></span>
                  <div class="menu">
                    <div class="item" data-value="1">1st</div>
                    <div class="item" data-value="2">2nd</div>
                    <div class="item" data-value="3">3rd</div>
                    <div class="item" data-value="4">4th</div>
                    <div class="item" data-value="5">5th</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item red-4">
              <img class="ui tiny circular image draft-pick" src="">
              <div class="content">
                <div class="ui selection dropdown pick-order">
                  <i class="dropdown icon"></i>
                  <span class="text"></span>
                  <div class="menu">
                    <div class="item" data-value="1">1st</div>
                    <div class="item" data-value="2">2nd</div>
                    <div class="item" data-value="3">3rd</div>
                    <div class="item" data-value="4">4th</div>
                    <div class="item" data-value="5">5th</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item red-5">
              <img class="ui tiny circular image draft-pick" src="">
              <div class="content">
                <div class="ui selection dropdown pick-order">
                  <i class="dropdown icon"></i>
                  <span class="text"></span>
                  <div class="menu">
                    <div class="item" data-value="1">1st</div>
                    <div class="item" data-value="2">2nd</div>
                    <div class="item" data-value="3">3rd</div>
                    <div class="item" data-value="4">4th</div>
                    <div class="item" data-value="5">5th</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- BLUE BANS -->
        <div class="column">
          <h3 class="ui dividing header">Bans</h3>
          <div class="ui form">
            <div class="field blue-1">
              <label>Ban 1</label>
              <div class="ui selection dropdown search ban-order">
                <i class="dropdown icon"></i>
                <span class="text"></span>
                <div class="menu">
                </div>
              </div>
            </div>
            <div class="field blue-2">
              <label>Ban 2</label>
              <div class="ui selection dropdown search ban-order">
                <i class="dropdown icon"></i>
                <span class="text"></span>
                <div class="menu">
                </div>
              </div>
            </div>
            <div class="field blue-3">
              <label>Ban 3</label>
              <div class="ui selection dropdown search ban-order">
                <i class="dropdown icon"></i>
                <span class="text"></span>
                <div class="menu">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- RED BANS -->
        <div class="column">
          <h3 class="ui dividing header">Bans</h3>
          <div class="ui form">
            <div class="field red-1">
              <label>Ban 1</label>
              <div class="ui selection dropdown search ban-order">
                <i class="dropdown icon"></i>
                <span class="text"></span>
                <div class="menu">
                </div>
              </div>
            </div>
            <div class="field red-2">
              <label>Ban 2</label>
              <div class="ui selection dropdown search ban-order">
                <i class="dropdown icon"></i>
                <span class="text"></span>
                <div class="menu">
                </div>
              </div>
            </div>
            <div class="field red-3">
              <label>Ban 3</label>
              <div class="ui selection dropdown search ban-order">
                <i class="dropdown icon"></i>
                <span class="text"></span>
                <div class="menu">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="ui green approve button">Update</div>
      <div class="ui red cancel button">Cancel</div>
    </div>
  </div>
</script>

<script id="match-detail-summary-row-template" type="text/x-handlebars-template">
  <tr class="match-detail-summary-row {{teamColor}}" playerID="{{playerID}}">
    <td data-sort-value="{{teamColor}}">
      <h3 class="ui image inverted header">
        <img src="{{heroImage heroName}}" class="ui large rounded image">
        <div class="content">
          {{heroName}}
          <div class="sub header player-name" playerID="{{playerID}}">{{playerName}}</div>
        </div>
      </h3>
    </td>
    <td class="center aligned">
      <img class="ui mini image {{hasAwardClass}}" src="./assets/images/{{awardImg}}" data-position="left center" data-html='<div class="ui header">{{awardName}}</div><div class="content">{{awardSub}}</div></div>'>
    </td>
    <td class="center aligned" data-sort-value="{{kills}}"><div class="ui inverted mini statistic"><div class="value">{{kills}}</div></div></td>
    <td class="center aligned" data-sort-value="{{gameStats.Assists}}"><div class="ui inverted mini statistic"><div class="value">{{gameStats.Assists}}</div></div></td>
    <td class="center aligned" data-sort-value="{{gameStats.Deaths}}"><div class="ui inverted mini statistic"><div class="value">{{gameStats.Deaths}}</div></div></td>
    <td class="center aligned" data-sort-value="{{gameStats.HeroDamage}}"><div class="ui inverted mini statistic"><div class="value">{{format.HeroDamage}}</div></div></td>
    <td class="center aligned" data-sort-value="{{gameStats.SiegeDamage}}"><div class="ui inverted mini statistic"><div class="value">{{format.SiegeDamage}}</div></div></td>
    <td class="center aligned" data-sort-value="{{gameStats.Healing}}"><div class="ui inverted mini statistic"><div class="value">{{format.Healing}}</div></div></td>
    <td class="center aligned" data-sort-value="{{gameStats.DamageTaken}}"><div class="ui inverted mini statistic"><div class="value">{{format.DamageTaken}}</div></div></td>
    <td class="center aligned" data-sort-value="{{gameStats.ExperienceContribution}}"><div class="ui inverted mini statistic"><div class="value">{{format.ExperienceContribution}}</div></div></td>
  </tr>
</script>

<script id="match-detail-detail-header" type="text/x-handlebars-template">
  <th class="{{teamColor}}">
    <h4 class="ui image inverted header">
      <img src="{{heroImage heroName}}" class="ui tiny rounded image">
      <div class="content">
        {{heroName}}
        <div class="sub header player-name" playerID="{{playerID}}">{{playerName}}</div>
      </div>
    </h4>
  </th>
</script>

<script id="match-detail-talents-row-title-template" type="text/x-handlebars-template">
  <tr class="match-detail-talents-row {{teamColor}}" playerID="{{playerID}}">
    <td>
      <h3 class="ui image inverted header">
        <img src="{{heroImage heroName}}" class="ui large rounded image">
        <div class="content">
          {{heroName}}
          <div class="sub header player-name" playerID="{{playerID}}">{{playerName}}</div>
        </div>
      </h3>
    </td>
  </tr>
</script>

<script id="match-detail-talents-row-cell-template" type="text/x-handlebars-template">
  <td data-sort-value="{{name}}">
    <div class="ui content">
      <img src="assets/heroes-talents/images/talents/{{img}}" class="ui centered tiny rounded image"
        data-html='<div class="header">{{name}}</div><div class="content">{{description}}</div>' data-position="left center">
    </div>
  </td>
</script>

<script id="match-detail-chat-log-entry" type="text/x-handlebars-template">
  <div class="event">
    <div class="label {{showImg}}">
      <img src="{{heroImage heroName}}">
    </div>
    <div class="content">
      <div class="date">{{time}}</div>
      <div class="summary">
        {{playerName}}: {{message}}
      </div>
    </div>
  </div>
</script>

<script id="match-detail-taunt-entry" type="text/x-handlebars-template">
  <tr>
    <td>{{name}}</td>
    <td>{{type}}</td>
    <td data-sort-value="{{loop}}">{{time}}</td>
    <td>{{kills}}</td>
    <td>{{deaths}}</td>
  </tr>
</script>
