
<script src="../js/match-detail.js"></script>
<link rel="stylesheet" type="text/css" href="../assets/css/match-detail.css">

<template id="match-detail-page">
  <div id="match-detail-page-content" class="is-page transition hidden" section-name="match-detail">
    <div id="match-detail-page-header">
      <div class="ui grid">
        <div class="four wide column">
          <h1 class="ui inverted header" id="match-detail-map-name">[MAP NAME]</h1>
          <h2 class="ui inverted header" id="match-detail-mode"></h2>
          <div class="" id="match-detail-date"></div>
        </div>
        <div class="two wide column">
          <h2 class="ui inverted header" id="match-detail-victor"></h2>
        </div>
        <div class="two wide column">
          <div class="ui blue inverted statistic">
            <div class="value" id="match-detail-blue-level">15</div>
            <div class="label">Level</div>
          </div>
        </div>
        <div class="two wide column">
          <div class="ui blue inverted statistic">
            <div class="value" id="match-detail-blue-takedowns">28</div>
            <div class="label">Takedowns</div>
          </div>
        </div>
        <div class="two wide column">
          <div class="ui inverted statistic">
            <div class="value" id="match-detail-duration">13:24</div>
            <div class="label">Game Length</div>
          </div>
        </div>
        <div class="two wide column">
          <div class="ui red inverted statistic">
            <div class="value" id="match-detail-red-takedowns">28</div>
            <div class="label">Takedowns</div>
          </div>
        </div>
        <div class="two wide column">
          <div class="ui red inverted statistic">
            <div class="value" id="match-detail-red-level">28</div>
            <div class="label">Level</div>
          </div>
        </div>
      </div>
    </div>
    <div id="match-detail-body">
      <div class="ui secondary inverted pointing menu" id="match-detail-submenu">
        <a class="active item" data-tab="summary">Summary</a>
        <a class="item" data-tab="talents">Talents</a>
        <a class="item" data-tab="details">Detailed Stats</a>
        <a class="item" data-tab="match-detail-xp">XP Breakdown</a>
        <a class="item" data-tab="match-detail-timeline">Timeline</a>
        <a class="item" data-tab="match-detail-log">Chat and Taunt Log</a>
      </div>
      <div class="ui active tab match-detail-wrapper" data-tab="summary" id="match-detail-summary">
        <table class="ui sortable selectable inverted table">
          <thead>
            <tr>
              <th>Player</th>
              <th class="center aligned">Award</th>
              <th class="center aligned">Kills</th>
              <th class="center aligned">Assists</th>
              <th class="center aligned">Deaths</th>
              <th class="center aligned">Hero Damage</th>
              <th class="center aligned">Siege Damage</th>
              <th class="center aligned">Healing</th>
              <th class="center aligned">Damage Taken</th>
              <th class="center aligned">XP Contribution</th>
            </tr>
          </thead>
          <tbody>
            <!-- matchSummaryRowTemplate target area -->
          </tbody>
        </table>
        <div class="ui inverted segment" id="match-detail-draft">
          <div class="ui top left attached label">Draft</div>
          <div class="ui tiny images">
            <div class="ui rounded image" ban-slot="first-1">
              <img src="">
              <div class="ui floating circular label">Ban</div>
            </div>
            <div class="ui rounded image" ban-slot="second-1">
              <img src="">
              <div class="ui floating circular label">Ban</div>
            </div>
            <div class="ui rounded image" pick-slot="first-1">
              <img src="">
              <div class="ui floating circular label">Pick</div>
            </div>
            <div class="ui rounded image" pick-slot="second-1">
              <img src="">
              <div class="ui floating circular label">Pick</div>
            </div>
            <div class="ui rounded image" pick-slot="second-2">
              <img src="">
              <div class="ui floating circular label">Pick</div>
            </div>
            <div class="ui rounded image" pick-slot="first-2">
              <img src="">
              <div class="ui floating circular label">Pick</div>
            </div>
            <div class="ui rounded image" pick-slot="first-3">
              <img src="">
              <div class="ui floating circular label">Pick</div>
            </div>
            <div class="ui rounded image" ban-slot="second-2">
              <img src="">
              <div class="ui floating circular label">Ban</div>
            </div>
            <div class="ui rounded image" ban-slot="first-2">
              <img src="">
              <div class="ui floating circular label">Ban</div>
            </div>
            <div class="ui rounded image" pick-slot="second-3">
              <img src="">
              <div class="ui floating circular label">Pick</div>
            </div>
            <div class="ui rounded image" pick-slot="second-4">
              <img src="">
              <div class="ui floating circular label">Pick</div>
            </div>
            <div class="ui rounded image" pick-slot="first-4">
              <img src="">
              <div class="ui floating circular label">Pick</div>
            </div>
            <div class="ui rounded image" pick-slot="first-5">
              <img src="">
              <div class="ui floating circular label">Pick</div>
            </div>
            <div class="ui rounded image" pick-slot="second-5">
              <img src="">
              <div class="ui floating circular label">Pick</div>
            </div>
          </div>
        </div>
        <div class="ui column grid">
          <div class="ui eight wide column">
            <div class="ui inverted segment">
              <div id="match-detail-team-members-container">
                <div class="ui top attached label">Overall Stats</div>
                <canvas id="match-detail-team-numbers"></canvas>
              </div>
            </div>
          </div>
          <div class="ui eight wide column">
            <div class="ui one column grid">
              <div class="ui column">
                <div class="ui inverted segment">
                  <div class="match-detail-sub-graph-container">
                    <div class="ui top attached label">Teamfight Stats</div>
                    <canvas id="match-detail-teamfight-numbers"></canvas>
                  </div>
                </div>
              </div>
              <div class="ui column">
                <div class="ui inverted segment">
                  <div class="match-detail-sub-graph-container">
                    <div class="ui top attached label">CC Time</div>
                    <canvas id="match-detail-team-cc"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ui eight wide column">
            <div class="ui inverted segment" id="match-detail-blue-team-stats">
              <div class="ui top attached label">Blue Team Stats</div>
              <div class="ui four inverted blue statistics">
                <div class="statistic" name="team-kda">
                  <div class="value">###</div>
                  <div class="label">Team KDA</div>
                </div>
                <div class="statistic" name="team-ppk">
                  <div class="value">###</div>
                  <div class="label">Team PPK</div>
                </div>
                <div class="statistic" name="team-time-to-10">
                  <div class="value">###</div>
                  <div class="label">Time To 10</div>
                </div> 
                <div class="statistic" name="team-time-to-20">
                  <div class="value">###</div>
                  <div class="label">Time To 20</div>
                </div> 
              </div>
              <div class="ui inverted horizontal divider">Mercenaries</div>
              <div class="ui three inverted blue statistics">
                <div class="statistic" name="merc-capture">
                  <div class="value">####</div>
                  <div class="label">Captures</div>
                </div>
                <div class="statistic" name="merc-uptime">
                  <div class="value">####</div>
                  <div class="label">Uptime</div>
                </div>
                <div class="statistic" name="merc-uptime-pct">
                  <div class="value">####</div>
                  <div class="label">Uptime %</div>
                </div>
              </div>
              <div class="ui inverted horizontal divider">Structures</div>
              <div class="ui two column grid">
                <div class="column">
                  <div class="ui inverted horizontal divider">Forts</div>
                  <div class="ui three inverted tiny blue statistics">
                    <div class="statistic" name="forts-destroyed">
                      <div class="value">####</div>
                      <div class="label">Destroyed</div>
                    </div>
                    <div class="statistic" name="first-fort">
                      <div class="value">####</div>
                      <div class="label">First Destroyed</div>
                    </div>
                    <div class="statistic" name="forts-lost">
                      <div class="value">####</div>
                      <div class="label">Lost</div>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="ui inverted horizontal divider">Keeps</div>
                  <div class="ui three inverted tiny blue statistics">
                    <div class="statistic" name="keeps-destroyed">
                      <div class="value">####</div>
                      <div class="label">Destroyed</div>
                    </div>
                    <div class="statistic" name="first-keep">
                      <div class="value">####</div>
                      <div class="label">First Destroyed</div>
                    </div>
                    <div class="statistic" name="keeps-lost">
                      <div class="value">####</div>
                      <div class="label">Lost</div>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="ui inverted horizontal divider">Wells</div>
                  <div class="ui three inverted tiny blue statistics">
                    <div class="statistic" name="wells-destroyed">
                      <div class="value">####</div>
                      <div class="label">Destroyed</div>
                    </div>
                    <div class="statistic" name="first-well">
                      <div class="value">####</div>
                      <div class="label">First Destroyed</div>
                    </div>
                    <div class="statistic" name="wells-lost">
                      <div class="value">####</div>
                      <div class="label">Lost</div>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="ui inverted horizontal divider">Towers</div>
                  <div class="ui three inverted tiny blue statistics">
                    <div class="statistic" name="towers-destroyed">
                      <div class="value">####</div>
                      <div class="label">Destroyed</div>
                    </div>
                    <div class="statistic" name="first-tower">
                      <div class="value">####</div>
                      <div class="label">First Destroyed</div>
                    </div>
                    <div class="statistic" name="towers-lost">
                      <div class="value">####</div>
                      <div class="label">Lost</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ui eight wide column">
            <div class="ui inverted segment" id="match-detail-red-team-stats">
              <div class="ui top attached label">Red Team Stats</div>
              <div class="ui four inverted red statistics">
                <div class="statistic" name="team-kda">
                  <div class="value">###</div>
                  <div class="label">Team KDA</div>
                </div>
                <div class="statistic" name="team-ppk">
                  <div class="value">###</div>
                  <div class="label">Team PPK</div>
                </div>
                <div class="statistic" name="team-time-to-10">
                  <div class="value">###</div>
                  <div class="label">Time To 10</div>
                </div> 
                <div class="statistic" name="team-time-to-20">
                  <div class="value">###</div>
                  <div class="label">Time To 20</div>
                </div> 
              </div>
              <div class="ui inverted horizontal divider">Mercenaries</div>
              <div class="ui three inverted red statistics">
                <div class="statistic" name="merc-capture">
                  <div class="value">####</div>
                  <div class="label">Captures</div>
                </div>
                <div class="statistic" name="merc-uptime">
                  <div class="value">####</div>
                  <div class="label">Uptime</div>
                </div>
                <div class="statistic" name="merc-uptime-pct">
                  <div class="value">####</div>
                  <div class="label">Uptime %</div>
                </div>
              </div>
              <div class="ui inverted horizontal divider">Structures</div>
              <div class="ui two column grid">
                <div class="column">
                  <div class="ui inverted horizontal divider">Forts</div>
                  <div class="ui three inverted tiny red statistics">
                    <div class="statistic" name="forts-destroyed">
                      <div class="value">####</div>
                      <div class="label">Destroyed</div>
                    </div>
                    <div class="statistic" name="first-fort">
                      <div class="value">####</div>
                      <div class="label">First Destroyed</div>
                    </div>
                    <div class="statistic" name="forts-lost">
                      <div class="value">####</div>
                      <div class="label">Lost</div>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="ui inverted horizontal divider">Keeps</div>
                  <div class="ui three inverted tiny red statistics">
                    <div class="statistic" name="keeps-destroyed">
                      <div class="value">####</div>
                      <div class="label">Destroyed</div>
                    </div>
                    <div class="statistic" name="first-keep">
                      <div class="value">####</div>
                      <div class="label">First Destroyed</div>
                    </div>
                    <div class="statistic" name="keeps-lost">
                      <div class="value">####</div>
                      <div class="label">Lost</div>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="ui inverted horizontal divider">Wells</div>
                  <div class="ui three inverted tiny red statistics">
                    <div class="statistic" name="wells-destroyed">
                      <div class="value">####</div>
                      <div class="label">Destroyed</div>
                    </div>
                    <div class="statistic" name="first-well">
                      <div class="value">####</div>
                      <div class="label">First Destroyed</div>
                    </div>
                    <div class="statistic" name="wells-lost">
                      <div class="value">####</div>
                      <div class="label">Lost</div>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="ui inverted horizontal divider">Towers</div>
                  <div class="ui three inverted tiny red statistics">
                    <div class="statistic" name="towers-destroyed">
                      <div class="value">####</div>
                      <div class="label">Destroyed</div>
                    </div>
                    <div class="statistic" name="first-tower">
                      <div class="value">####</div>
                      <div class="label">First Destroyed</div>
                    </div>
                    <div class="statistic" name="towers-lost">
                      <div class="value">####</div>
                      <div class="label">Lost</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui tab match-detail-wrapper" data-tab="talents" id="match-detail-talents">
        <table class="ui fixed inverted table">
          <thead>
            <tr>
              <th>Player</th>
              <th class="center aligned">1</th>
              <th class="center aligned">4</th>
              <th class="center aligned">7</th>
              <th class="center aligned">10</th>
              <th class="center aligned">13</th>
              <th class="center aligned">16</th>
              <th class="center aligned">20</th>
            </tr>
          </thead>
          <tbody>
            <!-- appendTalentRow output here -->
          </tbody>
        </table>
      </div>
      <div class="ui tab full-height" data-tab="details">
        <div class="match-detail-wrapper" id="match-detail-details">
          <table class="ui selectable fixed definition inverted table">
            <thead>
              <tr>
                <!-- matchDetailHeaderTemplate target area -->
              </tr>
            </thead>
            <tbody>
                <!-- matchDetailRowTemplate target area -->
            </tbody>
          </table>
        </div>
      </div>
      <div class="ui tab match-detail-wrapper" data-tab="match-detail-xp" id="match-detail-xp-graphs">
        <div class="ui grid">
          <div class="eight wide column">
            <div class="ui inverted segment">
              <div class="ui top attached label">Overall XP Graph</div>
              <div class="team-xp-graph-segment">
                <canvas id="match-detail-overall-xp"></canvas>
              </div>
            </div>
          </div>
          <div class="eight wide column">
            <div class="ui inverted segment">
              <div class="ui top attached label">Team Soak</div>
              <div class="team-xp-graph-segment">
                <canvas id="match-detail-xp-soak"></canvas>
              </div>
            </div>
          </div>
          <div class="eight wide column">
            <div class="ui inverted segment">
              <div class="ui top attached label">Blue Team XP Breakdown</div>
              <div class="team-xp-graph-segment">
                <canvas id="match-detail-blue-xpb"></canvas>
              </div>
            </div>
          </div>
          <div class="eight wide column">
            <div class="ui inverted segment">
              <div class="ui top attached label">Red Team XP Breakdown</div>
              <div class="team-xp-graph-segment">
                <canvas id="match-detail-red-xpb"></canvas>
              </div>
            </div>
          </div>
          <div class="eight wide column">
            <div class="ui inverted segment">
              <div class="ui top attached label">Time Per Talent Tier</div>
              <div class="team-xp-graph-segment">
                <canvas id="match-detail-time-per-tier"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui tab match-detail-wrapper" data-tab="match-detail-timeline" id="match-detail-timeline">
        <div id="match-detail-timeline-buttons">
          <div class="seven ui buttons">
            <button class="ui button" button-id="0">Takedowns</button>
            <button class="ui button" button-id="1">Levels</button>
            <button class="ui button" button-id="2">Level Advantage</button>
            <button class="ui button" button-id="3">Structures Destroyed</button>
            <button class="ui button" button-id="4">Objective</button>
            <button class="ui button" button-id="5">Mercenary Captures</button>
            <button class="ui button" button-id="6">Mercenary Units</button>
          </div>
        </div>
        <div id="match-detail-timeline-wrapper">

        </div>
      </div>
      <div class="ui tab match-detail-wrapper" data-tab="match-detail-log" id="match-detail-chat-log">
        <div class="ui grid full-height">
          <div class="twelve wide column">
            <div class="ui inverted segment full-height">
              <div class="ui top attached label">Chat Log</div>
              <div class="ui feed" id="match-detail-chat">

              </div>
            </div>
          </div>
          <div class="four wide column">
            <div class="ui inverted segment full-height">
              <div class="ui top attached label">Taunt Log</div>
                <div class='table-wrapper'>
                  <table class="ui inverted sortable table" id="match-detail-taunt-table">
                  <thead>
                    <tr>
                      <th>Player</th>
                      <th>Taunt</th>
                      <th class="time-sort">Time</th>
                      <th>TD</th>
                      <th>Death</th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="match-detail-existing-team" class="ui modal">
    <div class="header">Add Players to Existing Team</div>
    <div class="content">
      <div class="ui fluid search selection dropdown team-menu">
        <i class="dropdown icon"></i>
        <span class="default text">Team</span>
        <div class="menu">

        </div>
      </div>
    </div>
    <div class="actions">
      <div class="ui green approve button">Add</div>
      <div class="ui red deny button">Cancel</div>
    </div>
  </div>
</template>

<template id="match-detail-summary-row-template">
  <tr class="match-detail-summary-row {{teamColor}}" playerID="{{playerID}}">
    <td data-sort-value="{{teamColor}}">
      <h3 class="ui image inverted header">
        <img src="assets/heroes-talents/images/heroes/{{heroImg}}" class="ui large rounded image">
        <div class="content">
          {{heroName}}
          <div class="sub header player-name">{{playerName}}</div>
        </div>
      </h3>
    </td>
    <td class="center aligned">
      <img class="ui mini image {{hasAwardClass}}" src="./assets/images/{{awardImg}}" data-position="left center" data-html='<div class="ui header">{{awardName}}</div><div class="content">{{awardSub}}</div></div>'>
    </td>
    <td class="center aligned" data-sort-value="{{kills}}"><div class="ui inverted mini statistic"><div class="value">{{kills}}</div></div></td>
    <td class="center aligned" data-sort-value="{{gameStats.Assists}}"><div class="ui inverted mini statistic"><div class="value">{{gameStats.Assists}}</div></div></td>
    <td class="center aligned" data-sort-value="{{gameStats.Deaths}}"><div class="ui inverted mini statistic"><div class="value">{{gameStats.Deaths}}</div></div></td>
    <td class="center aligned" data-sort-value="{{gameStats.HeroDamage}}"><div class="ui inverted mini statistic"><div class="value">{{gameStats.HeroDamage}}</div></div></td>
    <td class="center aligned" data-sort-value="{{gameStats.SiegeDamage}}"><div class="ui inverted mini statistic"><div class="value">{{gameStats.SiegeDamage}}</div></div></td>
    <td class="center aligned" data-sort-value="{{gameStats.Healing}}"><div class="ui inverted mini statistic"><div class="value">{{gameStats.Healing}}</div></div></td>
    <td class="center aligned" data-sort-value="{{gameStats.DamageTaken}}"><div class="ui inverted mini statistic"><div class="value">{{gameStats.DamageTaken}}</div></div></td>
    <td class="center aligned" data-sort-value="{{gameStats.ExperienceContribution}}"><div class="ui inverted mini statistic"><div class="value">{{gameStats.ExperienceContribution}}</div></div></td>
  </tr>
</template>

<template id="match-detail-detail-header">
  <th class="{{teamColor}}">
    <h4 class="ui image inverted header">
      <img src="assets/heroes-talents/images/heroes/{{heroImg}}" class="ui tiny rounded image">
      <div class="content">
        {{heroName}}
        <div class="sub header player-name" playerID="{{playerID}}">{{playerName}}</div>
      </div>
    </h4>
  </th>
</template>

<template id="match-detail-talents-row-title-template">
  <tr class="match-detail-talents-row {{teamColor}}" playerID="{{playerID}}">
    <td>
      <h3 class="ui image inverted header">
        <img src="assets/heroes-talents/images/heroes/{{heroImg}}" class="ui large rounded image">
        <div class="content">
          {{heroName}}
          <div class="sub header player-name">{{playerName}}</div>
        </div>
      </h3>
    </td>
  </tr>
</template>

<template id="match-detail-talents-row-cell-template">
  <td data-sort-value="{{name}}">
    <div class="ui content">
      <img src="assets/heroes-talents/images/talents/{{img}}" class="ui centered tiny rounded image"
        data-html='<div class="header">{{name}}</div><div class="content">{{description}}</div>' data-position="left center">
    </div>
  </td>
</template>

<template id="match-detail-chat-log-entry">
  <div class="event">
    <div class="label {{showImg}}">
      <img src="assets/heroes-talents/images/heroes/{{heroImg}}">
    </div>
    <div class="content">
      <div class="date">{{time}}</div>
      <div class="summary">
        {{playerName}}: {{message}}
      </div>
    </div>
  </div> 
</template>

<template id="match-detail-taunt-entry">
  <tr>
    <td>{{name}}</td>
    <td>{{type}}</td>
    <td data-sort-value="{{loop}}">{{time}}</td>
    <td>{{kills}}</td>
    <td>{{deaths}}</td>
  </tr>
</template>