<script src="../js/player-ranking.js"></script>

<script id="player-ranking-page" type="text/x-handlebars-template">
  <div id="player-ranking-page-content" class="is-page transition hidden" section-name="player-ranking">
    <div id="player-ranking-page-header">
      <div class="ui grid">
        <div class="nine wide column">
          <h1 class="ui inverted header">Player Statistics</h1>
        </div>
        <div class="two wide column">
          <div class="ui fluid labeled input" id="player-ranking-match-thresh">
            <div class="ui label">
              Req. Matches
            </div>
            <input type="text" data-content="A player needs this many matches to show up in the table">
          </div>
        </div>
        <div class="two wide column">
          <div class="ui fluid search selection dropdown" id="player-ranking-hero-filter-menu">
            <i class="dropdown icon"></i>
            <div class="default text">All Heroes</div>
            <div class="menu">

            </div>
          </div>
        </div>
        <div class="three wide column">
          <div class="ui fluid buttons">
            <button class="ui labeled icon button" id="player-ranking-filter-button">
              <i class="filter icon"></i>
              Filter
            </button>
            <div class="ui right labeled green icon button" id="player-ranking-alt-search-button">
              Search
              <i class="search icon"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="player-ranking-body">
      <div class="section-wrapper">
        <div class="ui top attached small menu">
          <a class="active item" data-mode="averages">Average</a>
          <a class="item" data-mode="total">Total</a>
          <a class="item" data-mode="min">Minimum</a>
          <a class="item" data-mode="max">Maximum</a>
          <a class="item" data-mode="median">Median</a>
        </div>
        <div class="ui attached inverted segment">
          <div table-name="General" class="section" table-print="general">
            <table class="ui inverted sortable selectable table" id="player-ranking-general-table">
              <thead>
                <tr>
                  
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
          <div class="ui dimmer">
            <div class="ui text loader">Loading Player Stats</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>