<script src="../js/player.js"></script>
<link rel="stylesheet" type="text/css" href="../assets/css/player.css">

<template id="player-page">
  <div id="player-page-content" class="is-page transition hidden" section-name="player">
    <div id="player-page-header">
      <div class="ui grid">
        <div class="ten wide column">
          <h1 class="ui inverted header player-name">[Player Name]</h1>
        </div>
        <div class="two wide column">
          <button class="ui labeled icon button" id="players-filter-button" data-variation="very wide">
            <i class="filter icon"></i>
            Filter Matches
          </button>
        </div>
        <div class="four wide column">
          <div class="ui fluid search selection dropdown player-menu" id="players-set-player">
            <i class="dropdown icon"></i>
            <span class="text">Player ID</span>
            <div class="menu">

            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="player-detail-body">
      <div class="ui secondary inverted pointing menu" id="player-detail-submenu">
        <a class="item" data-tab="player-summary">Summary</a>
        <a class="item" data-tab="player-hero-detail">Detailed Hero Stats Table</a>
        <a class="active item" data-tab="player-progression">Progression</a>
      </div>
      <div class="ui tab" data-tab="player-summary" id="player-detail-summary">
        <div id="player-detail-summary-header">
          <h2 class="ui inverted header">All Hero Summary</h2>
          <div class="ui search selection dropdown" id="player-hero-select-menu">
            <i class="dropdown icon"></i>
            <div class="default text">All Heroes</div>
            <div class="menu">

            </div>
          </div>
        </div>
        <div class="player-detail-wrapper">
          <div class="ui grid">
            <div class="ten wide column">
              <div class="ui inverted segment" id="player-detail-hero-summary">
                <div class="ui top attached label">Hero Summary</div>
                <div class="table-wrapper">
                  <table class="ui sortable selectable inverted table">
                    <thead>
                      <tr>
                        <th>Hero</th>
                        <th class="center aligned stat">Win %</th>
                        <th class="center aligned stat">Games</th>
                        <th class="center aligned stat">Takedowns</th>
                        <th class="center aligned stat">Deaths</th>
                        <th class="center aligned stat">KDA</th>
                        <th class="center aligned stat">MVP %</th>
                        <th class="center aligned stat">Award %</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="ui inverted segment is-hidden talent-detail-table" id="player-detail-hero-talent">
                <div class="ui top attached label">Talents</div>
                <div class="table-wrapper">
                  <table class="ui selectable inverted table">
                    <thead>
                      <tr>
                        <th>Talent</th>
                        <th class="center aligned">Win %</th>
                        <th class="center aligned">Popularity</th>
                        <th class="center aligned">Games</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="four wide column">
              <div class="ui inverted segment" id="player-detail-map-summary">
                <div class="ui top attached label">Map Summary</div>
                <div class="table-wrapper">
                  <table class="ui sortable selectable inverted table">
                    <thead>
                      <tr>
                        <th>Map</th>
                        <th>Win %</th>
                        <th>Games</th>
                      </tr>
                    </thead>
                    <tbody>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="two wide column">
              <div class="ui inverted segment" id="player-detail-misc-summary">
                <div class="ui top attached label">Overall Stats</div>
                <div class="ui horizontal small inverted statistics">
                  <div class="statistic" name="overallWin">
                    <div class="value">###</div>
                    <div class="label">Win</div>
                  </div>
                  <div class="statistic" name="overallGames">
                    <div class="value">###</div>
                    <div class="label">Games</div>
                  </div>
                  <div class="statistic" name="overallTD">
                    <div class="value">###</div>
                    <div class="label">TDs</div>
                  </div>
                  <div class="statistic" name="overallDeaths">
                    <div class="value">###</div>
                    <div class="label">Deaths</div>
                  </div>
                  <div class="statistic" name="overallKDA">
                    <div class="value">###</div>
                    <div class="label">KDA</div>
                  </div>
                  <div class="statistic" name="overallMVP">
                    <div class="value">###</div>
                    <div class="label">MVP </div>
                  </div>
                  <div class="statistic" name="overallAward">
                    <div class="value">###</div>
                    <div class="label">Award</div>
                  </div>
                  <div class="statistic" name="soloKills">
                    <div class="value">###</div>
                    <div class="label">Solo Kills</div>
                  </div>
                  <div class="statistic" name="soloDeaths">
                    <div class="value">###</div>
                    <div class="label">Solo Deaths</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="four wide column">
              <div class="ui inverted segment player-win" id="player-detail-with-summary">
                <div class="ui top attached label">Win Rate With Hero</div>
                <div class="table-wrapper">
                  <table class="ui sortable selectable inverted table">
                    <thead>
                      <tr>
                        <th>Hero</th>
                        <th>Win %</th>
                        <th>Games</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="four wide column">
              <div class="ui inverted segment player-win" id="player-detail-against-summary">
                <div class="ui top attached label">Win Rate Against Hero</div>
                <div class="table-wrapper">
                  <table class="ui sortable selectable inverted table">
                    <thead>
                      <tr>
                        <th>Hero</th>
                        <th>Win %</th>
                        <th>Games</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="four wide column">
              <div class="ui inverted segment player-win" id="player-detail-friend-summary">
                <div class="ui top attached label">Win Rate With Player</div>
                <div class="table-wrapper">
                  <table class="ui sortable selectable inverted table">
                    <thead>
                      <tr>
                        <th>Player</th>
                        <th>Win %</th>
                        <th>Games</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="four wide column">
              <div class="ui inverted segment player-win" id="player-detail-rival-summary">
                <div class="ui top attached label">Win Rate Against Player</div>
                <div class="table-wrapper">
                  <table class="ui sortable selectable inverted table">
                    <thead>
                      <tr>
                        <th>Player</th>
                        <th>Win %</th>
                        <th>Games</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="five wide column">
              <div class="ui inverted segment player-win" id="player-detail-award-summary">
                <div class="ui top attached label">Awards</div>
                <div class="table-wrapper">
                  <table class="ui sortable selectable inverted table">
                    <thead>
                      <tr>
                        <th>Award</th>
                        <th>Award %</th>
                        <th>Games</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="four wide column">
              <div class="ui inverted segment player-win" id="player-detail-skin-summary">
                <div class="ui top attached label">Win Rate By Skin</div>
                <div class="table-wrapper">
                  <table class="ui sortable selectable inverted table">
                    <thead>
                      <tr>
                        <th>Skin ID</th>
                        <th>Win %</th>
                        <th>Games</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="three wide column">
              <div class="ui inverted segment" id="player-detail-taunt-summary">
                <div class="ui top attached label">Taunt Stats</div>
                <div class="ui three inverted mini statistics">
                  <div class="ui statistic" name="bstep-total">
                    <div class="value">###</div>
                    <div class="label">Bsteps</div>
                  </div>
                  <div class="ui statistic" name="bstep-tds">
                    <div class="value">###</div>
                    <div class="label">Takedowns</div>
                  </div>
                  <div class="ui statistic" name="bstep-deaths">
                    <div class="value">###</div>
                    <div class="label">Deaths</div>
                  </div>
                </div>
                <div class="ui inverted divider"></div>
                <div class="ui three inverted mini statistics">
                  <div class="ui statistic" name="taunt-total">
                    <div class="value">###</div>
                    <div class="label">Taunts</div>
                  </div>
                  <div class="ui statistic" name="taunt-tds">
                    <div class="value">###</div>
                    <div class="label">Takedowns</div>
                  </div>
                  <div class="ui statistic" name="taunt-deaths">
                    <div class="value">###</div>
                    <div class="label">Deaths</div>
                  </div>
                </div>
                <div class="ui inverted divider"></div>
                <div class="ui three inverted mini statistics">
                  <div class="ui statistic" name="spray-total">
                    <div class="value">###</div>
                    <div class="label">Sprays</div>
                  </div>
                  <div class="ui statistic" name="spray-tds">
                    <div class="value">###</div>
                    <div class="label">Takedowns</div>
                  </div>
                  <div class="ui statistic" name="spray-deaths">
                    <div class="value">###</div>
                    <div class="label">Deaths</div>
                  </div>
                </div>
                <div class="ui inverted divider"></div>
                <div class="ui three inverted mini statistics">
                  <div class="ui statistic" name="dance-total">
                    <div class="value">###</div>
                    <div class="label">Dances</div>
                  </div>
                  <div class="ui statistic" name="dance-tds">
                    <div class="value">###</div>
                    <div class="label">Takedowns</div>
                  </div>
                  <div class="ui statistic" name="dance-deaths">
                    <div class="value">###</div>
                    <div class="label">Deaths</div>
                  </div>
                </div>
                <div class="ui inverted divider"></div>
                <div class="ui three inverted mini statistics">
                  <div class="ui statistic" name="voice-total">
                    <div class="value">###</div>
                    <div class="label">Voice Lines</div>
                  </div>
                  <div class="ui statistic" name="voice-tds">
                    <div class="value">###</div>
                    <div class="label">Takedowns</div>
                  </div>
                  <div class="ui statistic" name="voice-deaths">
                    <div class="value">###</div>
                    <div class="label">Deaths</div>
                  </div>
                </div>
                <div class="ui inverted divider"></div> 
              </div>
            </div>
            
          </div>
        </div>
      </div>
      <div class="ui tab player-detail-wrapper" data-tab="player-hero-detail" id="player-detail-hero">
        <div class="ui inverted segment" id="player-hero-detail-stats" data-tab="player-hero-detail-stats">
          <div class="ui top attached label">Detailed Average Stats</div>
          <div class="table-wrapper-xy">
            <table class="ui sortable selectable celled inverted table">
              <thead>
                <tr>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="ui active tab" data-tab="player-progression" id="player-progression">
        <div id="progression-interval-menu">
          <div class="ui label">
            Interval
          </div>
          <div class="ui selection dropdown">
            <i class="dropdown icon"></i>
            <div class="default text">Month</div>
            <div class="menu">
              <div class="item" data-value="month">Month</div>
              <div class="item" data-value="week">Week</div>
              <div class="item" data-value="season">Season</div>
              <div class="item" data-value="patch">Patch</div>
            </div>
          </div>
        </div>
        <div class="player-detail-wrapper">
          <div class="ui two column grid">
            <div class="column">
              <div class="ui inverted segment">
                <div class="ui top attached label">Win %</div>
                <canvas id="player-progression-win-rate"></canvas>
              </div>
            </div>
            <div class="column">
              <div class="ui inverted segment">
                <div class="ui top attached label">KDA</div>
                <canvas id="player-progression-kda"></canvas>
              </div>
            </div>
            <div class="column">
              <div class="ui inverted segment">
                <div class="ui top attached label">Awards</div>
                <canvas id="player-progression-awards"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template id="player-detail-hero-summary-row">
  <tr class="player-detail-summary-row">
    <td data-sort-value="{{heroName}}">
      <h3 class="ui image inverted header">
        <img src="assets/heroes-talents/images/heroes/{{heroImg}}" class="ui rounded image">
        <div class="content">
          {{heroName}}
        </div>
      </h3>
    </td>
    <td class="center aligned" data-sort-value="{{winPercent}}">{{formatWinPercent}}</td>
    <td class="center aligned" data-sort-value="{{games}}">{{games}}</td>
    <td class="center aligned" data-sort-value="{{stats.Takedowns}}">{{stats.Takedowns}}</td>
    <td class="center aligned" data-sort-value="{{stats.Deaths}}">{{stats.Deaths}}</td>
    <td class="center aligned" data-sort-value="{{stats.totalKDA}}">{{stats.totalKDA}}</td>
    <td class="center aligned" data-sort-value="{{stats.MVPPct}}">{{stats.formatMVPPct}}</td>
    <td class="center aligned" data-sort-value="{{stats.AwardPct}}">{{stats.formatAwardPct}}</td>
  </tr>
</template>

<template id="player-detail-map-summary-row">
  <tr class="player-detail-map-summary-row">
    <td>
      <h4 class="ui inverted header">{{mapName}}</h3>
    </td>
    <td class="center aligned" data-sort-value="{{winPct}}">{{formatWinPct}}</td>
    <td class="center aligned" data-sort-value="{{games}}">{{games}}</td>
  </tr>
</template>

<template id="player-detail-player-win-row">
  <tr>
    <td>
      <h4 class="ui inverted header">{{name}}</h4>
    </td>
    <td class="center aligned" data-sort-value="{{winPercent}}">{{formatWinPercent}}</td>
    <td class="center aligned" data-sort-value="{{games}}">{{games}}</td>
  </tr>
</template>

<template id="player-detail-hero-win-row">
  <tr>
    <td data-sort-value="{{name}}">
      <h3 class="ui image inverted header">
        <img src="assets/heroes-talents/images/heroes/{{heroImg}}" class="ui rounded image">
        <div class="content">
          {{name}}
        </div>
      </h3>
    </td>
    <td class="center aligned" data-sort-value="{{winPercent}}">{{formatWinPercent}}</td>
    <td class="center aligned" data-sort-value="{{games}}">{{games}}</td>
  </tr>
</template>

<template id="player-detail-talent-row">
  <tr>
    <td>
      <div class="ui items">
        <div class="ui item">
          <div class="ui rounded image">
            <img src="assets/heroes-talents/images/talents/{{icon}}">
          </div>
          <div class="content">
            <div class="ui inverted header">{{name}}</div>
            <div class="description">
              {{description}}
            </div>
          </div>
        </div>
      </div>
    </td>
    <td class="center aligned talent-stat">{{formatWinPercent}}</td>
    <td class="center aligned talent-stat">{{formatPop}}</td>
    <td class="center aligned talent-stat">{{games}}</td>
  </tr>
</template>

<template id="player-detail-hero-award-row">
  <tr>
    <td data-sort-value="{{name}}">
      <h3 class="ui image inverted header">
        <img src="assets/images/{{image}}" class="ui rounded small image">
        <div class="content">
          {{name}}
          <div class="sub header">{{subtitle}}</div>
        </div>
      </h3>
    </td>
    <td class="center aligned" data-sort-value="{{winPercent}}">{{formatWinPercent}}</td>
    <td class="center aligned" data-sort-value="{{games}}">{{games}}</td>
  </tr>
</template>