<script src="../js/player.js"></script>

<script id="player-page" type="text/x-handlebars-template">
  <div id="player-page-content" class="is-page transition hidden" section-name="player">
    <div id="player-page-header">
      <div class="ui grid">
        <div class="eight wide column">
          <h1 class="ui inverted header">
            <i class="ui is-hidden user secret icon" id="player-alias-icon" data-html='This user has aliases.<br>Click to Manage Aliases.' data-variation="wide"></i>
            <div class="content">
              <span class="player">[Player Name]</span>
              <div class="sub header teams"></div>
            </div>
          </h1>
        </div>
        <div class="two wide column">
          <div class="ui fluid labeled input" id="player-hero-thresh">
            <div class="ui label">
              Min. Matches
            </div>
            <input type="text" data-content="A hero/player needs this many matches to show up in the data tables">
          </div>
        </div>
        <div class="three wide column">
          <div class="ui fluid buttons high-z">
            <button class="ui labeled icon button" id="players-filter-button">
              <i class="filter icon"></i>
              Filter
            </button>
            <div class="ui right labeled green icon button" id="players-alt-search-button">
              Search
              <i class="search icon"></i>
            </div>
          </div>
        </div>
        <div class="three wide column">
          <div class="ui fluid search selection dropdown player-menu" id="players-set-player">
            <i class="dropdown icon"></i>
            <span class="text">Player ID</span>
            <div class="menu">

            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="player-detail-body">
      <div class="ui secondary inverted pointing menu" id="player-detail-submenu">
        <a class="active item" data-tab="player-summary">Summary</a>
        <a class="item" data-tab="player-hero-detail">Detailed Hero Stats Table</a>
        <a class="item" data-tab="player-progression">Progression</a>
      </div>
      <div class="ui active tab" data-tab="player-summary" id="player-detail-summary">
        <div id="player-detail-summary-header">
          <h2 class="ui inverted header">All Hero Summary</h2>
          <div class="ui search selection dropdown" id="player-hero-select-menu">
            <i class="dropdown icon"></i>
            <div class="default text">All Heroes</div>
            <div class="menu">

            </div>
          </div>
        </div>
        <div class="player-detail-wrapper">
          <div class="ui grid">
            <div class="ten wide column">
              <div class="" id="player-detail-hero-summary-segment">
                <div class="ui top attached small menu">
                  <a class="active item" data-tab="player-hero-summary">Hero Summary</a>
                  <a class="item" data-tab="player-hero-pool">Hero Pool</a>
                </div>
                <div class="ui active tab inverted attached segment" data-tab="player-hero-summary" id="player-detail-hero-summary">
                  <table class="ui selectable inverted table">
                    <thead>
                      <tr>
                        <th>Hero</th>
                        <th class="center aligned stat">Win %</th>
                        <th class="center aligned stat">Games</th>
                        <th class="center aligned stat">KDA</th>
                        <th class="center aligned stat">Takedowns</th>
                        <th class="center aligned stat">Kills</th>
                        <th class="center aligned stat">Assists</th>
                        <th class="center aligned stat">Deaths</th>
                        <th class="center aligned stat">MVP %</th>
                        <th class="center aligned stat">Award %</th>
                      </tr>
                    </thead>
                    <tbody>

                    </tbody>
                  </table>
                </div>
                <div class="ui tab inverted attached segment" data-tab="player-hero-pool" id="player-detail-hero-pool">
                  <h2 class="ui inverted dividing header">Hero Pool</h2>
                  <div class="ui inverted tiny horizontal statistic" id="player-overall-hero-pool">
                    <div class="value"></div>
                    <div class="label">Heroes Played Overall</div>
                  </div>
                  <div class="ui five column grid">
                    <div class="ui column" role="Assassin">
                      <h3 class="ui dividing inverted red header">
                        <img class="ui image" src="./assets/images/role_assassin.png">
                        <div class="content">
                          Assassin
                        </div>
                      </h3>
                      <div class="ui horizontal mini inverted red statistics">
                        <div class="ui statistic" name="games">
                          <div class="value">###</div>
                          <div class="label">Games</div>
                        </div>
                        <div class="ui statistic" name="win">
                          <div class="value">###</div>
                          <div class="label">Win</div>
                        </div>
                        <div class="ui statistic" name="pool">
                          <div class="value">###</div>
                          <div class="label">Heroes Played</div>
                        </div>
                      </div>
                    </div>
                    <div class="ui column" role="Warrior">
                      <h3 class="ui dividing inverted blue header">
                        <img class="ui image" src="./assets/images/role_warrior.png">
                        <div class="content">
                          Warrior
                        </div>
                      </h3>
                      <div class="ui horizontal mini inverted blue statistics">
                        <div class="ui statistic" name="games">
                          <div class="value">###</div>
                          <div class="label">Games</div>
                        </div>
                        <div class="ui statistic" name="win">
                          <div class="value">###</div>
                          <div class="label">Win</div>
                        </div>
                        <div class="ui statistic" name="pool">
                          <div class="value">###</div>
                          <div class="label">Heroes Played</div>
                        </div>
                      </div>
                    </div>
                    <div class="ui column" role="Support">
                      <h3 class="ui dividing inverted teal header">
                        <img class="ui image" src="./assets/images/role_support.png">
                        <div class="content">
                          Support
                        </div>
                      </h3>
                      <div class="ui horizontal mini inverted teal statistics">
                        <div class="ui statistic" name="games">
                          <div class="value">###</div>
                          <div class="label">Games</div>
                        </div>
                        <div class="ui statistic" name="win">
                          <div class="value">###</div>
                          <div class="label">Win</div>
                        </div>
                        <div class="ui statistic" name="pool">
                          <div class="value">###</div>
                          <div class="label">Heroes Played</div>
                        </div>
                      </div>
                    </div>
                    <div class="ui column" role="Specialist">
                      <h3 class="ui dividing inverted violet header">
                        <img class="ui image" src="./assets/images/role_specialist.png">
                        <div class="content">
                          Specialist
                        </div>
                      </h3>
                      <div class="ui horizontal mini inverted violet statistics">
                        <div class="ui statistic" name="games">
                          <div class="value">###</div>
                          <div class="label">Games</div>
                        </div>
                        <div class="ui statistic" name="win">
                          <div class="value">###</div>
                          <div class="label">Win</div>
                        </div>
                        <div class="ui statistic" name="pool">
                          <div class="value">###</div>
                          <div class="label">Heroes Played</div>
                        </div>
                      </div>
                    </div>
                    <div class="ui column" role="Multiclass">
                      <h3 class="ui dividing inverted purple header">
                        <img class="ui image" src="./assets/images/role_specialist.png">
                        <div class="content">
                          Multiclass
                        </div>
                      </h3>
                      <div class="ui horizontal mini inverted purple statistics">
                        <div class="ui statistic" name="games">
                          <div class="value">###</div>
                          <div class="label">Games</div>
                        </div>
                        <div class="ui statistic" name="win">
                          <div class="value">###</div>
                          <div class="label">Win</div>
                        </div>
                        <div class="ui statistic" name="pool">
                          <div class="value">###</div>
                          <div class="label">Heroes Played</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ui two column grid">
                    <div class="ui column graph">
                      <h3 class="ui inverted dividing header">Games Played by Role</h3>
                      <canvas class="role-graph" id="player-hero-pool-games-graph"></canvas>
                    </div>
                    <div class="ui column graph">
                      <h3 class="ui inverted dividing header">Games Won by Role</h3>
                      <canvas class="role-graph" id="player-hero-pool-win-graph"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              <div class="is-hidden" id="player-detail-hero-talent">
                <div class="ui top attached small menu">
                  <a class="active item" data-tab="player-talent-pick">Talents</a>
                  <a class="item" data-tab="player-talent-builds">Builds</a>
                </div>
                <div class="ui active tab inverted attached segment talent-detail-table talent-pick" data-tab="player-talent-pick">
                  <div class="table-wrapper">
                    <table class="ui selectable inverted table">
                      <thead>
                        <tr>
                          <th>Talent</th>
                          <th class="center aligned">Win %</th>
                          <th class="center aligned">Popularity</th>
                          <th class="center aligned">Games</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="ui tab inverted attached segment talent-detail-table talent-build" data-tab="player-talent-builds">
                  <div class="table-wrapper">
                    <table class="ui selectable inverted sortable table">
                      <thead>
                        <tr>
                          <th class="center aligned">1</th>
                          <th class="center aligned">4</th>
                          <th class="center aligned">7</th>
                          <th class="center aligned">10</th>
                          <th class="center aligned">13</th>
                          <th class="center aligned">16</th>
                          <th class="center aligned">20</th>
                          <th class="center aligned stat">Win %</th>
                          <th class="center aligned stat">Games</th>
                          <th class="center aligned stat">Popularity</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="four wide column">
              <div class="ui inverted segment" id="player-detail-map-summary">
                <div class="ui top attached label">Map Summary</div>
                <table class="ui selectable inverted table">
                  <thead>
                    <tr>
                      <th class="center aligned">Map</th>
                      <th class="center aligned stat">Win %</th>
                      <th class="center aligned stat">Games</th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
              </div>
            </div>
            <div class="two wide column">
              <div class="ui inverted segment" id="player-detail-misc-summary">
                <div class="ui top attached label">Overall Stats</div>
                <div class="ui horizontal mini inverted statistics">
                  <div class="statistic" name="overallWin">
                    <div class="value">###</div>
                    <div class="label">Win</div>
                  </div>
                  <div class="statistic" name="overallGames">
                    <div class="value">###</div>
                    <div class="label">Games</div>
                  </div>
                  <div class="statistic" name="overallTD">
                    <div class="value">###</div>
                    <div class="label">TDs</div>
                  </div>
                  <div class="statistic" name="overallDeaths">
                    <div class="value">###</div>
                    <div class="label">Deaths</div>
                  </div>
                  <div class="statistic" name="overallKDA">
                    <div class="value">###</div>
                    <div class="label">KDA</div>
                  </div>
                  <div class="statistic" name="overallMVP">
                    <div class="value">###</div>
                    <div class="label">MVP </div>
                  </div>
                  <div class="statistic" name="overallAward">
                    <div class="value">###</div>
                    <div class="label">Award</div>
                  </div>
                  <div class="statistic" name="votes">
                    <div class="value">###</div>
                    <div class="label">Votes</div>
                  </div>
                  <div class="statistic" name="soloKills">
                    <div class="value">###</div>
                    <div class="label">Solo Kills</div>
                  </div>
                  <div class="statistic" name="soloDeaths">
                    <div class="value">###</div>
                    <div class="label">Solo Deaths</div>
                  </div>
                  <div class="statistic" name="timeDead">
                    <div class="value">###</div>
                    <div class="label">Avg. Time Dead</div>
                  </div>
                  <div class="statistic" name="pctTimeDead">
                    <div class="value">###</div>
                    <div class="label">Avg. % Dead</div>
                  </div>
                  <div class="statistic" name="highestStreak">
                    <div class="value">###</div>
                    <div class="label">Best Streak</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="four wide column">
              <div class="ui inverted segment player-win" id="player-detail-with-summary">
                <div class="ui top attached label">Win Rate With Hero</div>
                <table class="ui selectable compact inverted table">
                  <thead>
                    <tr>
                      <th class="center aligned">Hero</th>
                      <th class="center aligned stat">Win %</th>
                      <th class="center aligned stat">Games</th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
              </div>
            </div>
            <div class="four wide column">
              <div class="ui inverted segment player-win" id="player-detail-against-summary">
                <div class="ui top attached label">Win Rate Against Hero</div>
                  <table class="ui selectable compact inverted table">
                    <thead>
                      <tr>
                        <th class="center aligned">Hero</th>
                        <th class="center aligned stat">Win %</th>
                        <th class="center aligned stat">Games</th>
                      </tr>
                    </thead>
                    <tbody>

                    </tbody>
                  </table>
              </div>
            </div>
            <div class="eight wide column" id="player-compare-segment">
              <div class="ui top attached menu">
                <div class="header item">
                  Compare To Collection Average
                </div>
                <div class="right menu">
                  <div class="ui fluid search selection dropdown cache-collections" id="player-compare-collection">
                    <i class="dropdown icon"></i>
                    <span class="default text">All Matches</span>
                    <div class="menu">

                    </div>
                  </div>
                </div>
              </div>
              <div class="ui attached inverted segment" id="player-compare-table">
                <table class="ui selectable inverted table">
                  <thead>
                    <tr>
                      <th>Stat</th>
                      <th class="center aligned stat" name="player">Player</th>
                      <th class="center aligned stat">Diff</th>
                      <th class="center aligned stat">Average</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="seven wide column">
              <div class="ui inverted segment player-win" id="player-detail-skin-summary">
                <div class="ui top attached label">Win Rate By Skin</div>
                <table class="ui selectable inverted table">
                  <thead>
                    <tr>
                      <th>Skin ID</th>
                      <th>Win %</th>
                      <th>Games</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="five wide column">
              <div class="ui inverted segment player-win" id="player-detail-award-summary">
                <div class="ui top attached label">Awards</div>
                <table class="ui selectable inverted table">
                  <thead>
                    <tr>
                      <th>Award</th>
                      <th class="center aligned stat">Award %</th>
                      <th class="center aligned stat">Games</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="four wide column">
              <div class="ui inverted segment" id="player-detail-taunt-summary">
                <div class="ui top attached label">Taunt Stats</div>
                <div class="ui three inverted mini statistics">
                  <div class="ui statistic" name="bstep-total">
                    <div class="value">###</div>
                    <div class="label">Bsteps</div>
                  </div>
                  <div class="ui statistic" name="bstep-tds">
                    <div class="value">###</div>
                    <div class="label">Takedowns</div>
                  </div>
                  <div class="ui statistic" name="bstep-deaths">
                    <div class="value">###</div>
                    <div class="label">Deaths</div>
                  </div>
                </div>
                <div class="ui inverted divider"></div>
                <div class="ui three inverted mini statistics">
                  <div class="ui statistic" name="taunt-total">
                    <div class="value">###</div>
                    <div class="label">Taunts</div>
                  </div>
                  <div class="ui statistic" name="taunt-tds">
                    <div class="value">###</div>
                    <div class="label">Takedowns</div>
                  </div>
                  <div class="ui statistic" name="taunt-deaths">
                    <div class="value">###</div>
                    <div class="label">Deaths</div>
                  </div>
                </div>
                <div class="ui inverted divider"></div>
                <div class="ui three inverted mini statistics">
                  <div class="ui statistic" name="spray-total">
                    <div class="value">###</div>
                    <div class="label">Sprays</div>
                  </div>
                  <div class="ui statistic" name="spray-tds">
                    <div class="value">###</div>
                    <div class="label">Takedowns</div>
                  </div>
                  <div class="ui statistic" name="spray-deaths">
                    <div class="value">###</div>
                    <div class="label">Deaths</div>
                  </div>
                </div>
                <div class="ui inverted divider"></div>
                <div class="ui three inverted mini statistics">
                  <div class="ui statistic" name="dance-total">
                    <div class="value">###</div>
                    <div class="label">Dances</div>
                  </div>
                  <div class="ui statistic" name="dance-tds">
                    <div class="value">###</div>
                    <div class="label">Takedowns</div>
                  </div>
                  <div class="ui statistic" name="dance-deaths">
                    <div class="value">###</div>
                    <div class="label">Deaths</div>
                  </div>
                </div>
                <div class="ui inverted divider"></div>
                <div class="ui three inverted mini statistics">
                  <div class="ui statistic" name="voice-total">
                    <div class="value">###</div>
                    <div class="label">Voice Lines</div>
                  </div>
                  <div class="ui statistic" name="voice-tds">
                    <div class="value">###</div>
                    <div class="label">Takedowns</div>
                  </div>
                  <div class="ui statistic" name="voice-deaths">
                    <div class="value">###</div>
                    <div class="label">Deaths</div>
                  </div>
                </div>
                <div class="ui inverted divider"></div>
              </div>
            </div>            
            <div class="eight wide column">
              <div class="ui inverted segment player-win" id="player-detail-friend-summary">
                <div class="ui top attached label">Win Rate With Player</div>
                <table class="ui selectable inverted table">
                  <thead>
                    <tr>
                      <th>Player</th>
                      <th>Win %</th>
                      <th>Games</th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
              </div>
            </div>
            <div class="eight wide column">
              <div class="ui inverted segment player-win" id="player-detail-rival-summary">
                <div class="ui top attached label">Win Rate Against Player</div>
                <table class="ui selectable inverted table">
                  <thead>
                    <tr>
                      <th>Player</th>
                      <th>Win %</th>
                      <th>Games</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui tab player-detail-wrapper" data-tab="player-hero-detail" id="player-detail-hero">
        <div id="player-hero-detail-stats" data-tab="player-hero-detail-stats">
          <div class="ui top attached small menu">
            <a class="active item" data-mode="averages">Average</a>
            <a class="item" data-mode="total">Total</a>
            <a class="item" data-mode="min">Minimum</a>
            <a class="item" data-mode="max">Maximum</a>
            <a class="item" data-mode="median">Median</a>
          </div>
          <div class="ui attached inverted segment">
            <table class="ui selectable celled inverted table">
              <thead>
                <tr>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="ui tab" data-tab="player-progression" id="player-progression">
        <div id="progression-interval-menu">
          <div class="ui label">
            Interval
          </div>
          <div class="ui selection dropdown">
            <i class="dropdown icon"></i>
            <div class="default text">Month</div>
            <div class="menu">
              <div class="item" data-value="month">Month</div>
              <div class="item" data-value="week">Week</div>
              <div class="item" data-value="season">Season</div>
              <div class="item" data-value="patch">Patch</div>
            </div>
          </div>
        </div>
        <div class="player-detail-wrapper">
          <div class="ui two column grid">
            <div class="column">
              <div class="ui inverted segment player-progression-segment">
                <div class="ui top attached label">Win %</div>
                <div class="player-detail-graph-container">
                  <canvas id="player-progression-win-rate"></canvas>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="player-detail-graph-container player-detail-stat-graph">
                <div class="ui top attached mini menu">
                  <div class="header item">Average Stats</div>
                  <div class="right menu">
                    <a class="item player-axis" data-variation="very wide">
                      <i class="chart line icon"></i> Select Stats
                    </a>
                    <div class="ui popup player-axis-settings">
                      <div class="header">Select Stats</div>
                      <div class="content">
                        <div class="ui grid">
                          <div class="three wide column">Axis 1</div>
                          <div class="thirteen wide column">
                            <div class="ui fluid multiple search selection dropdown player-stat-menu" name="axis1">
                              <i class="dropdown icon"></i>
                              <div class="default text">Select Stats</div>
                              <div class="menu">

                              </div>
                            </div>
                          </div>
                          <div class="three wide column">Axis 2</div>
                          <div class="thirteen wide column">
                            <div class="ui fluid multiple search selection dropdown player-stat-menu" name="axis2">
                              <i class="dropdown icon"></i>
                              <div class="default text">Select Stats</div>
                              <div class="menu">

                              </div>
                            </div>
                          </div>
                          <div class="sixteen wide column">
                            <div class="ui fluid small green button">
                              Graph
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ui bottom attached inverted segment">
                  <canvas id="player-progression-kda"></canvas>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="ui inverted segment player-progression-segment">
                <div class="ui top attached label">Awards</div>
                <div class="player-detail-graph-container">
                  <canvas id="player-progression-awards"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui dimmer" id="player-detail-loader">
        <div class="ui text loader">Loading Player Details</div>
      </div>
    </div>
  </div>
  <div class="ui modal" id="player-set-nickname-modal">
    <div class="ui header">Assign Nickname</div>
    <div class="content">
      <p>
        Player nicknames are shown on the Player Details and Team Roster pages.
        Assigning a nickname to a player will also allow you to search for them by nickname
        throughout the app. To remove a nickname, leave this field blank.
      </p>
      <div class="ui fluid labeled input">
        <div class="ui label">Nickname</div>
        <input type="text">
      </div>
    </div>
    <div class="actions">
      <div class="ui green approve button">Set Nickname</div>
      <div class="ui red deny button">Cancel</div>
    </div>
  </div>
  <div class="ui modal" id="player-print-sections">
    <div class="header">Select Sections to Print</div>
    <div class="content">
      <div class="ui fluid search multiple selection dropdown">
        <i class="dropdown icon"></i>
        <div class="default text">Select Sections</div>
        <div class="menu">
          <div class="item" data-value="general">Overall</div>
          <div class="item" data-value="hero">Heroes</div>
          <div class="item" data-value="pool">Hero Pool</div>
          <div class="item" data-value="maps">Maps</div>
          <div class="item" data-value="with">Win Rate With Hero</div>
          <div class="item" data-value="against">Win Rate Against Hero</div>
          <div class="item" data-value="awards">Awards</div>
          <div class="item" data-value="compare">Comparison to Average</div>
          <div class="item" data-value="with-player">Win Rate With Player</div>
          <div class="item" data-value="against-player">Win Rate With Player</div>
          <div class="item" data-value="skins">Skins</div>
          <div class="item" data-value="taunts">Taunts</div>
          <div class="item" data-value="talents">Talents</div>
          <div class="item" data-value="builds">Builds</div>
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="ui green approve button">Print</div>
      <div class="ui red deny button">Cancel</div>
    </div>
  </div>
  <div class="ui modal" id="player-alias-editor">
    <div class="header">Edit Player Aliases</div>
    <div class="content">
      <p>
        Aliases allow you to combine stats from two different players. This can be used to combine
        stats for the same player across regions (PTR and Live).
      </p>
      <p>
        The player that you are editing right now is the root player. All players aliased by this
        player will not show up in searches, stat summaries, or team rosters. Their names will
        still be displayed in match details, however their player details page will map back
        to this player. This player will combine stats from the aliased players displayed below.
      </p>
      <p>
        If you are unable to determine which player should be aliased as the root, just pick one 
        and add all of the relevant players.
      </p>
      <div class="ui fluid search multiple selection dropdown player-menu" id="player-alias-editor-menu">
        <i class="dropdown icon"></i>
        <div class="default text">No Aliases Specified</div>
        <div class="menu">

        </div>
      </div>
    </div>
    <div class="actions">
      <div class="ui green approve button">Set</div>
      <div class="ui red deny button">Cancel</div>
    </div>
  </div>
</script>

<script id="player-detail-map-summary-row" type="text/x-handlebars-template">
  <tr class="player-detail-map-summary-row">
    <td>
      <h4 class="ui inverted header">{{mapName}}</h3>
    </td>
    <td class="center aligned" data-sort-value="{{winPct}}">{{formatWinPct}}</td>
    <td class="center aligned" data-sort-value="{{games}}">{{games}}</td>
  </tr>
</script>

<script id="player-detail-player-win-row" type="text/x-handlebars-template">
  <tr>
    <td>
      <h4 class="ui inverted header">{{name}}</h4>
    </td>
    <td class="center aligned" data-sort-value="{{winPercent}}">{{formatWinPercent}}</td>
    <td class="center aligned" data-sort-value="{{games}}">{{games}}</td>
  </tr>
</script>

<script id="player-detail-hero-win-row" type="text/x-handlebars-template">
  <tr>
    <td data-sort-value="{{name}}">
      <h3 class="ui image inverted header">
        <img src="{{heroImage heroName}}" class="ui rounded image">
        <div class="content">
          {{name}}
        </div>
      </h3>
    </td>
    <td class="center aligned" data-sort-value="{{winPercent}}">{{formatWinPercent}}</td>
    <td class="center aligned" data-sort-value="{{games}}">{{games}}</td>
  </tr>
</script>

<script id="player-detail-talent-row" type="text/x-handlebars-template">
  <tr>
    <td>
      <div class="ui items">
        <div class="ui item">
          <div class="ui rounded image">
            <img src="assets/heroes-talents/images/talents/{{icon}}">
          </div>
          <div class="content">
            <div class="ui inverted header">{{name}}</div>
            <div class="description">
              {{description}}
            </div>
          </div>
        </div>
      </div>
    </td>
    <td class="center aligned talent-stat">{{formatWinPercent}}</td>
    <td class="center aligned talent-stat">{{formatPop}}</td>
    <td class="center aligned talent-stat">{{games}}</td>
  </tr>
</script>

<script id="player-detail-hero-award-row" type="text/x-handlebars-template">
  <tr>
    <td data-sort-value="{{name}}">
      <h3 class="ui image inverted header">
        <img src="assets/images/{{image}}" class="ui rounded small image">
        <div class="content">
          {{name}}
          <div class="sub header">{{subtitle}}</div>
        </div>
      </h3>
    </td>
    <td class="center aligned" data-sort-value="{{winPercent}}">{{formatWinPercent}}</td>
    <td class="center aligned" data-sort-value="{{games}}">{{games}}</td>
  </tr>
</script>