<script src="../js/player-ranking.js"></script>
<link rel="stylesheet" type="text/css" href="../assets/css/player-ranking.css">

<template id="player-ranking-page">
  <div id="player-ranking-page-content" class="is-page transition hidden" section-name="player-ranking">
    <div id="player-ranking-page-header">
      <div class="ui grid">
        <div class="twelve wide column">
          <h1 class="ui inverted header">Player Statistics</h1>
        </div>
        <div class="two wide column">
          <div class="ui fluid search selection dropdown" id="player-ranking-hero-filter-menu">
            <i class="dropdown icon"></i>
            <div class="default text">All Heroes</div>
            <div class="menu">

            </div>
          </div>
        </div>
        <div class="two wide column">
          <button class="ui labeled right floated icon button" id="player-ranking-filter-button" data-variation="very wide">
            <i class="filter icon"></i>
            Filter Matches
          </button>
        </div>
      </div>
    </div>
    <div id="player-ranking-body">
      <div class="table-wrapper">
        <table class="ui inverted sortable selectable table" id="player-ranking-general-table">
          <thead>
            <tr>
              <th>Player</th>
              <th class="center alligned stat">Win %</th>
              <th class="center alligned stat">Games</th>
              <th class="center alligned stat">KDA</th>
              <th class="center alligned stat">KP</th>
              <th class="center alligned stat">Kill Streak</th>
              <th class="center alligned stat">XP</th>
              <th class="center alligned stat">Hero Damage</th>
              <th class="center alligned stat">Siege Damage</th>
              <th class="center alligned stat">Minion Damage</th>
              <th class="center alligned stat">Creep Damage</th>
              <th class="center alligned stat">Damage Taken</th>
              <th class="center alligned stat">Healing</th>
              <th class="center alligned stat">Clutch Heals</th>
              <th class="center alligned stat">Self Healing</th>
              <th class="center alligned stat">Shields</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="17">Use the Search button in the Filter Matches menu to load player data.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<template id="player-ranking-row-template">
  <tr>
    <td data-sort-value="{{name}}">{{name}}</td>
    <td class="center aligned" data-sort-value="{{value.winPercent}}">{{formatWinPercent}}</td>
    <td class="center aligned" data-sort-value="{{value.games}}">{{games}}</td>
    <td class="center aligned" data-sort-value="{{value.totalKDA}}">{{totalKDA}}</td>
    <td class="center aligned" data-sort-value="{{value.KillParticipation}}">{{KillParticipation}}</td>
    <td class="center aligned" data-sort-value="{{value.HighestKillStreak}}">{{HighestKillStreak}}</td>
    <td class="center aligned" data-sort-value="{{value.ExperienceContribution}}">{{ExperienceContribution}}</td>
    <td class="center aligned" data-sort-value="{{value.HeroDamage}}">{{HeroDamage}}</td>
    <td class="center aligned" data-sort-value="{{value.SiegeDamage}}">{{SiegeDamage}}</td>
    <td class="center aligned" data-sort-value="{{value.MinionDamage}}">{{MinionDamage}}</td>
    <td class="center aligned" data-sort-value="{{value.CreepDamage}}">{{CreepDamage}}</td>
    <td class="center aligned" data-sort-value="{{value.DamageTaken}}">{{DamageTaken}}</td>
    <td class="center aligned" data-sort-value="{{value.Healing}}">{{Healing}}</td>
    <td class="center aligned" data-sort-value="{{value.ClutchHealsPerformed}}">{{ClutchHealsPerformed}}</td>
    <td class="center aligned" data-sort-value="{{value.SelfHealing}}">{{SelfHealing}}</td>
    <td class="center aligned" data-sort-value="{{value.ProtectionGivenToAllies}}">{{ProtectionGivenToAllies}}</td>
  </tr>
</template>