<script src="../js/settings.js"></script>

<script id="settings-page" type="text/x-handlebars-template">
    <div id="settings-page-content" class="is-page transition hidden" section-name="settings">
        <div class="ui grid" id="settings-layout">
            <div class="eleven wide column">
                <div class="ui secondary inverted menu" id="settings-submenu">
                    <a class="active item" data-tab="replay-status">Replay List</a>
                    <a class="item" data-tab="settings-collections">Collections</a>
                    <a class="item" data-tab="settings-caches">Cached Collections</a>
                    <a class="item" data-tab="settings-import-set">Import Set</a>
                </div>
                <div class="ui active tab" data-tab="replay-status">
                    <!-- replay file import status -->
                    <div class="table-wrapper">
                        <table class="ui single line compact table" id="replay-file-list">
                            <thead><tr>
                                <th>Filename</th>
                                <th>Folder</th>
                                <th>File Creation Date</th>
                                <th>Status</th>
                                <th>Upload Status</th>
                            </tr></thead> 
                            <tbody>
                                <!-- i think it's time to get handlebars and use templates to fill out the rows -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="ui tab" data-tab="settings-collections">
                    <div class="table-wrapper">
                        <table class="ui single line compact table" id="collection-list">
                            <thead><tr>
                                <th>Collection Name</th>
                                <th>Actions</th>
                            </tr></thead> 
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="ui tab" data-tab="settings-caches">
                    <div class="table-wrapper">
                        <table class="ui single line compact table" id="collection-cache-list">
                            <thead>
                                <tr>
                                    <th>Cache Name</th>
                                    <th>Collection Size</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="ui tab" data-tab="settings-import-set">
                    <div class="table-wrapper">
                        <table class="ui single line compact table" id="settings-import-set">
                            <thead>
                                <tr>
                                    <th>Folder</th>
                                    <th>Collections</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <td>
                                        <div class="ui labeled icon button" id="settings-add-import-set">
                                            <i class="plus icon"></i>
                                            Add Folder
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="five wide column">
                <div class="ui inverted segment" id="settings-db-settings">
                    <div class="ui top attached label">Database Settings</div>
                    <div class="settings-db-wrapper">
                        <div class="ui left aligned grid">
                            <div class="four wide column"><div class="item">Replay Folder</div></div>
                            <div class="twelve wide column">
                                <div class="ui inverted fluid action input" id="settings-set-replay-folder">
                                    <input type="text" value="" disabled>
                                    <div class="ui icon buttons">
                                        <button class="ui blue left labeled icon button" id="settings-set-replay-folder-button">
                                            <i class="folder icon"></i>
                                            Set
                                        </button>
                                        <button class="ui right icon button" id="settings-set-folder-options-button">
                                            <i class="settings icon"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="four wide column">Database Folder</div>
                            <div class="twelve wide column">
                                <div class="ui inverted fluid action input" id="settings-set-db-folder">
                                    <input type="text" value="" disabled>
                                    <div class="ui icon buttons">
                                        <button class="ui blue left labeled icon button" id="settings-set-db-folder-button">
                                            <i class="folder icon"></i>
                                            Set
                                        </button>
                                        <button class="ui right icon button" id="settings-reset-db-folder-button">
                                            <i class="undo icon"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="four wide column"><div class="item">File Start Date</div></div>
                            <div class="twelve wide column">
                                <div class="ui inverted fluid action input" id="settings-replay-file-start">
                                    <input type="text" value="" id="replay-file-start">
                                </div>
                            </div>
                            <div class="four wide column"><div class="item">Parser</div></div>
                            <div class="four wide column"><div class="item">
                                <div class="ui fluid green button" id="start-process-button">Start</div>
                            </div></div>
                            <div class="four wide column"><div class="item">
                                <div class="ui fluid red button" id="stop-process-button">Stop</div>
                            </div></div>
                            <div class="four wide column"><div class="item">
                                <div class="ui fluid button" id="rescan-replays-button">Refresh</div>
                            </div></div>
                            <div class="four wide column">Import to Collection</div>
                            <div class="twelve wide column">
                                <div class="ui fluid search selection dropdown collection-menu" id="settings-collection-import">
                                    <i class="dropdown icon"></i>
                                    <span class="text">[No Collection]</span>
                                    <div class="menu">
                            
                                    </div>
                                </div>
                            </div>
                            <div class="eight wide column">
                                <div class="ui toggle checkbox" id="settings-hots-api-button">
                                    <input type="checkbox" name="hotsapi">
                                    <label>Upload to HotsAPI</label>
                                </div>
                            </div>
                            <div class="eight wide column">
                                <div class="ui toggle checkbox" id="settings-hots-logs-button" data-content="Only available if uploading to HotsAPI">
                                    <input type="checkbox" name="hotslogs">
                                    <label>Upload to HotsLogs</label>
                                </div>
                            </div>
                            <div class="sixteen wide column">
                                <div class="ui toggle checkbox" id="settings-upload-only">
                                    <input type="checkbox" name="upload-only">
                                    <label>Upload Only</label>
                                </div>
                            </div>
                            <div class="sixteen wide column">
                                <div class="ui toggle checkbox" id="settings-force-duplicate">
                                    <input type="checkbox" name="force-dupes">
                                    <label>Import Duplicates. Note: this will remove the match from existing collections!</label>
                                </div>
                            </div>
                            <div class="four wide column"><div class="item">Database</div></div>
                            <div class="four wide column">
                            </div>
                            <div class="four wide column">
                                <div class="ui fluid button" id="compact-and-reload-button">Compact</div>
                            </div>
                            <div class="four wide column">
                                <div class="ui fluid red button" id="delete-db-button">Delete</div>
                            </div>
                            <div class="eight wide column"></div>
                            <div class="four wide column">
                                <div class="ui fluid button" id="settings-import-db-button">
                                    Import
                                </div>
                            </div>
                            <div class="four wide column">
                                <div class="ui fluid button" id="settings-update-from-url-button">Download</div>
                            </div>
                            <div class="four wide column">
                                Dev Tools
                            </div>
                            <div class="four wide column"></div>
                            <div class="four wide column">
                                <div class="ui fluid button" id="show-app-dev-tools">App</div>
                            </div>
                            <div class="four wide column">
                                <div class="ui fluid button" id="show-parser-dev-tools">Parser</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui inverted segment" id="settings-app-settings">
                    <div class="ui top attached label">Application Settings</div>
                    <div class="settings-db-wrapper">
                        <div class="ui left aligned grid">
                            <div class="four wide column">Collections</div>
                            <div class="eight wide column"></div>
                            <div class="four wide column">
                                <div class="ui fluid button" id="settings-new-collection-button">New</div>
                            </div>
                            <div class="four wide column">External Comparison DB</div>
                            <div class="eight wide column"></div>
                            <div class="four wide column">
                                <div class="ui fluid button" id="settings-import-external-db">Import</div>
                            </div>
                            <div class="eight wide column">Player Menu Results Limit</div>
                            <div class="eight wide column">
                                <div class="ui fluid action input" id="player-menu-thresh-input">
                                    <input type="text">
                                    <button class="ui blue button">Set Limit</button>
                                </div>
                            </div>
                            <div class="three wide column"><div class="item">My ID</div></div>
                            <div class="nine wide column">
                                <div class="ui search selection dropdown fluid player-menu" id="settings-set-player">
                                    <input type="hidden" name="player">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Player ID</div>
                                    <div class="menu">
                                    </div>
                                </div>
                            </div>
                            <div class="four wide column">
                                <div class="ui fluid button" id="settings-reset-focus-player">Reset ID</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui modal" id="confirm-db-delete-modal">
            <div class="header">Confirm Database Delete</div>
            <div class="content">
                <div class="description">
                    Are you sure you want to delete the current database? This action cannot be undone.
                    The application will restart after deleting the database.
                </div>
            </div>
            <div class="actions">
                <div class="ui red approve button">Yes</div>
                <div class="ui green cancel button">No</div>
            </div>
        </div>
        <div class="ui modal" id="confirm-db-reset-modal">
            <div class="header">Reset Database Location?</div>
            <div class="content">
                <div class="description">
                    This will reset the database location to its initial location.
                    The existing database will not be deleted.
                </div>
            </div>
            <div class="actions">
                <div class="ui red approve button">Yes</div>
                <div class="ui green cancel button">No</div>
            </div>
        </div>
        <div class="ui modal" id="settings-confirm-cache-delete-modal">
            <div class="header">Delete Cached Data?</div>
            <div class="content">
                <div class="description">
                    This will remove the cached databases from this database.
                </div>
            </div>
            <div class="actions">
                <div class="ui red approve button">Yes</div>
                <div class="ui green cancel button">No</div>
            </div>
        </div>
        <div class="ui modal" id="settings-new-cache-modal">
            <div class="header">Import and Cache External Database</div>
            <div class="content">
                <div class="description">Load an external database for use in comparison panels.</div>
                <div class="ui horizontal divider"></div>
                <div class="ui one column grid">
                    <div class="column">
                        <div class="ui fluid labeled action input" id="settings-set-cache-import-folder">
                            <div class="ui label">Database Path</div>
                            <input type="text" value="" disabled data-content="No Database Found at this location. Please select a new location.">
                            <button class="ui blue right labeled icon button">
                                <i class="folder icon"></i>
                                Set DB
                            </button>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui fluid labeled input" id="settings-set-cache-name">
                            <div class="ui label">Cache Name</div>
                            <input type="text" data-content="Pick a different name. This name already exists. Names can't be blank"></input>
                        </div>
                    </div>
                </div>
            </div>
            <div class="actions">
                <div class="ui red cancel button">Cancel</div>
                <div class="ui green approve button">Import</div>
            </div>
        </div>
    </div>
    <div class="ui popup" id="settings-replay-folder-settings-popup">
        <div class="header">Replay Folder Options</div>
        <div class="ui horizontal divider"></div>
        <div class="ui grid">
            <div class="sixteen wide column">
                <div class="ui toggle checkbox" id="settings-recursive-replay">
                    <input type="checkbox">
                    <label>Search Subdirectories</label>
                </div>
            </div>
            <div class="sixteen wide column">
                <div class="ui toggle checkbox" id="settings-use-import-set">
                    <input type="checkbox">
                    <label>Use Import Set</label>
                </div>
            </div>
            <div class="sixteen wide column">
                <div class="ui toggle checkbox" id="settings-watch-dirs">
                    <input type="checkbox">
                    <label>Auto-Import Replays</label>
                </div>
            </div>
        </div>
    </div>
    <div class="ui modal" id="settings-compact-and-reload">
        <div class="header">Compact and Reload</div>
        <div class="content">
            <div class="description">
                If you're having some problems with the database, for instance, deleted matches still show up
                or matches that you imported are just not showing up anywhere, you can try compacting the database.
                This process can take a little while, and the app will be locked down for the duration. Once the operation
                is complete, the app will restart.
                <br />
                <b>
                    DO NOT CLOSE THE APP WHILE COMPACTION IS IN PROGRESS. DOING SO 
                    MAY RESULT IN DATA LOSS OR DATABASE CORRUPTION
                </b>
            </div>
        </div>
        <div class="actions">
            <div class="ui green approve button">Start Compaction</div>
            <div class="ui red cancel button">Cancel</div>
        </div>
    </div>
    <div class="ui modal" id="settings-update-from-url">
        <div class="header">Update from URL</div>
        <div class="content">
            <div class="description">
                <p>Download a zip file of a Stats of the Storm database from the given URL and update the current database.
                Note that <strong>this will delete the current database and replace the contents with the downloaded database</strong>.
                Data may be lost if the app fails to copy the proper database files,
                so if this is a database you are the author of, maybe back it up first.
                The app will restart when the operation is complete.
                In the event of an error, the app will do its best to clean up, and then restart.</p>
            </div>
            <div class="ui segment">
                <div class="ui fluid labeled input">
                    <div class="ui label">URL</div>
                    <input type="text" placeholder="Enter a URL to a ZIP file">
                </div>
            </div>
            <div class="is-hidden update-status">
                <div class="ui active blue progress">
                    <div class="bar">
                        <div class="progress"></div>
                    </div>
                    <div class="label">Downloading File</div>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui green approve button">Start</div>
            <div class="ui red cancel button">Cancel</div>
        </div>
    </div>
    <div class="ui modal" id="settings-import-other-db">
        <div class="header">Import Database</div>
        <div class="content">
            <div class="description">
                <p>Merge the contents of a different database with the current database.</p>
                <p><strong>It is strongly recommended that you back up your current database before importing data.</strong></p>
                <p>
                    You may import match data, collections, or teams. Collections and teams with the same name
                    will be updated, but will not be duplicated. Duplicate matches might be imported, it depends on
                    if the dates match exactly.
                    You may also choose to only import a subset of the available options.
                    The app will reboot when the operation is complete.
                </p>
            </div>
            <div class="ui segment">
                <form class="ui form">
                    <div class="fields">
                        <div class="twelve wide disabled field">
                            <label>Path of Database to Import</label>
                            <input type="text" id="settings-import-other-db-path">
                        </div>
                        <div class="four wide field">
                            <label>Select Database</label>
                            <div class="ui fluid labeled blue icon button" id="settings-import-other-db-browse">
                                <i class="folder icon"></i>
                                Browse
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Data to Import</label>
                        <div class="ui fluid multiple selection dropdown" id="settings-import-other-db-menu">
                            <i class="dropdown icon"></i>
                            <div class="default text">All</div>
                            <div class="menu">
                                <div class="item" data-value="1">Matches</div>
                                <div class="item" data-value="2">Collections</div>
                                <div class="item" data-value="3">Teams</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="ui icon message is-hidden">
                <i class="notched circle loading icon"></i>
                <div class="content">
                    <div class="header">Import Status</div>
                    <p id="settings-import-other-db-status"></p>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui green approve button">Start</div>
            <div class="ui red cancel button">Cancel</div>
        </div>
    </div>
</script>

<script id="replay-row-template" type="text/x-handlebars-template">
    <tr replay-id="{{id}}">
        <td class="replay-filename">{{filename}}</td>
        <td class="replay-folder">{{folder}}</td>
        <td class="replay-date">{{fdate}}</td>
        <td class="replay-status">{{status}}</td>
        <td class="upload-status">{{upload}}</td>
    </tr>
</script>

<script id="collection-row-template" type="text/x-handlebars-template">
    <tr>
        <td>{{name}}</td>
        <td>
            <div class="ui button" collection-id="{{_id}}" collection-name="{{name}}" action="rename">Rename</div>
            <div class="ui red button" collection-id="{{_id}}" collection-name="{{name}}" action="delete">Delete</div>
        </td>
    </tr>
</script>

<script id="collection-cache-row-template" type="text/x-handlebars-template">
    <tr>
        <td collection-name="{{name}}">{{name}}</td>
        <td>{{count}}</td>
        <td>
            <div class="ui button" collection-id="{{_id}}" collection-name="{{name}}" action="update">Update</div>
            <div class="ui red button" collection-id="{{_id}}" collection-name="{{name}}" action="delete">Delete</div>
        </td>
    </tr>
</script>