<script src="../js/settings.js"></script>
<link rel="stylesheet" type="text/css" href="../assets/css/settings.css">

<template id="settings-page">
    <div id="settings-page-content" class="is-page transition hidden" section-name="settings">
        <div class="ui grid" id="settings-layout">
            <div class="stretched row">
                <div class="eleven wide column">
                    <div class="ui secondary inverted menu" id="settings-submenu">
                        <a class="active item" data-tab="replay-status">Replay List</a>
                        <a class="item" data-tab="settings-collections">Collections</a>
                    </div>
                    <div class="ui active tab" data-tab="replay-status">
                        <!-- replay file import status -->
                        <div class="table-wrapper">
                            <table class="ui single line compact table" id="replay-file-list">
                                <thead><tr>
                                    <th>Filename</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Upload Status</th>
                                </tr></thead> 
                                <tbody>
                                    <!-- i think it's time to get handlebars and use templates to fill out the rows -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="ui tab" data-tab="settings-collections">
                        <div class="table-wrapper">
                            <table class="ui single line compact table" id="collection-list">
                                <thead><tr>
                                    <th>Collection Name</th>
                                    <th>Actions</th>
                                </tr></thead> 
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="five wide column">
                    <div class="ui inverted segment">
                        <div class="ui top attached label">Database Settings</div>
                        <div class="ui left aligned grid">
                            <div class="four wide column"><div class="item">Replay Folder</div></div>
                            <div class="twelve wide column">
                                <div class="ui inverted fluid action input" id="settings-set-replay-folder">
                                    <input type="text" value="" disabled>
                                    <button class="ui blue right labeled icon button">
                                        <i class="folder icon"></i>
                                        Set
                                    </button>
                                </div>
                            </div>
                            <div class="four wide column">Database Folder</div>
                            <div class="twelve wide column">
                                <div class="ui inverted fluid action input" id="settings-set-db-folder">
                                    <input type="text" value="" disabled>
                                    <div class="ui icon buttons">
                                        <button class="ui blue right labeled icon button" id="settings-set-db-folder-button">
                                            <i class="folder icon"></i>
                                            Set
                                        </button>
                                        <button class="ui icon button" id="settings-reset-db-folder-button">
                                            <i class="undo icon"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="four wide column"><div class="item">File Start Date</div></div>
                            <div class="twelve wide column">
                                <div class="ui inverted fluid action input" id="settings-replay-file-start">
                                    <input type="text" value="" id="replay-file-start">
                                </div>
                            </div>
                            <div class="four wide column"><div class="item">Parser</div></div>
                            <div class="four wide column"><div class="item">
                                <div class="ui fluid green button" id="start-process-button">Start</div>
                            </div></div>
                            <div class="four wide column"><div class="item">
                                <div class="ui fluid red button" id="stop-process-button">Stop</div>
                            </div></div>
                            <div class="four wide column"><div class="item">
                                <div class="ui fluid button" id="rescan-replays-button">Refresh</div>
                            </div></div>
                            <div class="four wide column">Import to Collection</div>
                            <div class="twelve wide column">
                                <div class="ui fluid search selection dropdown collection-menu" id="settings-collection-import">
                                    <i class="dropdown icon"></i>
                                    <span class="text">[No Collection]</span>
                                    <div class="menu">
                            
                                    </div>
                                </div>
                            </div>
                            <div class="eight wide column">
                                <div class="ui toggle checkbox" id="settings-hots-api-button">
                                    <input type="checkbox" name="hotsapi">
                                    <label>Upload to HotsAPI</label>
                                </div>
                            </div>
                            <div class="eight wide column">
                                <div class="ui toggle checkbox" id="settings-hots-logs-button">
                                    <input type="checkbox" name="hotslogs" data-content="Only available if uploading to HotsAPI">
                                    <label>Upload to HotsLogs</label>
                                </div>
                            </div>
                            <div class="four wide column"><div class="item">Database</div></div>
                            <div class="eight wide column"><div class="item"></div></div>
                            <div class="four wide column"><div class="item">
                                <div class="ui fluid red button" id="delete-db-button">Delete</div>
                            </div></div>
                        </div>
                    </div>
                    <div class="ui inverted segment">
                        <div class="ui top attached label">Application Settings</div>
                        <div class="ui left aligned grid">
                            <div class="four wide column">Collections</div>
                            <div class="eight wide column"></div>
                            <div class="four wide column">
                                <div class="ui fluid button" id="settings-new-collection-button">New</div>
                            </div>
                            <div class="three wide column"><div class="item">My ID</div></div>
                            <div class="nine wide column">
                                <div class="ui search selection dropdown fluid player-menu" id="settings-set-player">
                                    <input type="hidden" name="player">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Player ID</div>
                                    <div class="menu">
                                    </div>
                                </div>
                            </div>
                            <div class="four wide column">
                                <div class="ui fluid button" id="settings-reset-focus-player">Reset ID</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui modal" id="confirm-db-delete-modal">
            <div class="header">Confirm Database Delete</div>
            <div class="content">
                <div class="description">Are you sure you want to delete the current database? This action cannot be undone.</div>
            </div>
            <div class="actions">
                <div class="ui red approve button">Yes</div>
                <div class="ui green cancel button">No</div>
            </div>
        </div>
        <div class="ui modal" id="confirm-db-reset-modal">
            <div class="header">Reset Database Location?</div>
            <div class="content">
                <div class="description">
                    This will reset the database location to its initial location.
                    The existing database will not be deleted.
                </div>
            </div>
            <div class="actions">
                <div class="ui red approve button">Yes</div>
                <div class="ui green cancel button">No</div>
            </div>
        </div>
    </div>
</template>

<template id="replay-row-template">
    <tr replay-id="{{id}}">
        <td class="replay-filename">{{filename}}</td>
        <td class="replay-date">{{date}}</td>
        <td class="replay-status">{{status}}</td>
        <td class="upload-status">{{upload}}</td>
    </tr>
</template>

<template id="collection-row-template">
    <tr>
        <td>{{name}}</td>
        <td>
            <div class="ui button" collection-id="{{_id}}" collection-name="{{name}}" action="rename">Rename</div>
            <div class="ui red button" collection-id="{{_id}}" collection-name="{{name}}" action="delete">Delete</div>
        </td>
    </tr>
</template>