<script src="../js/settings.js"></script>
<link rel="stylesheet" type="text/css" href="../assets/css/settings.css">

<template id="settings-page">
    <div id="settings-page-content" class="is-page transition hidden" section-name="settings">
        <div class="ui grid" id="settings-layout">
            <div class="stretched row">
                <div class="eleven wide column">
                    <!-- replay file import status -->
                    <div class="settings-table-wrapper">
                        <table class="ui sortable single line compact table" id="replay-file-list">
                            <thead><tr>
                                <th>Filename</th>
                                <th>Date</th>
                                <th>Status</th>
                            </tr></thead> 
                            <tbody>
                                <!-- i think it's time to get handlebars and use templates to fill out the rows -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="five wide column">
                    <div class="ui inverted segment">
                        <div class="ui top attached label">Database Settings</div>
                        <div class="ui left aligned grid">
                            <div class="four wide column"><div class="item">Replay Folder</div></div>
                            <div class="twelve wide column">
                                <div class="ui inverted fluid action input" id="settings-set-replay-folder">
                                    <input type="text" value="" disabled>
                                    <button class="ui blue right labeled icon button">
                                        <i class="folder icon"></i>
                                        Set
                                    </button>
                                </div>
                            </div>
                            <div class="four wide column"><div class="item">File Start Date</div></div>
                            <div class="twelve wide column">
                                <div class="ui inverted fluid action input">
                                    <input type="text" value="" id="replay-file-start">
                                </div>
                            </div>
                            <div class="four wide column"><div class="item">Parser</div></div>
                            <div class="four wide column"><div class="item">
                                <div class="ui fluid green button" id="start-process-button">Start</div>
                            </div></div>
                            <div class="four wide column"><div class="item">
                                <div class="ui fluid red button" id="stop-process-button">Stop</div>
                            </div></div>
                            <div class="four wide column"><div class="item">
                                <div class="ui fluid button" id="rescan-replays-button">Refresh</div>
                            </div></div>
                            <div class="four wide column"><div class="item">Database</div></div>
                            <div class="eight wide column"><div class="item"></div></div>
                            <div class="four wide column"><div class="item">
                                <div class="ui fluid red button" id="delete-db-button">Delete</div>
                            </div></div>
                        </div>
                    </div>
                    <div class="ui inverted segment">
                        <div class="ui top attached label">Application Settings</div>
                        <div class="ui left aligned grid">
                            <div class="four wide column"><div class="item">My ID</div></div>
                            <div class="twelve wide column">
                                <div class="ui search selection dropdown fluid player-menu" id="settings-set-player">
                                    <input type="hidden" name="player">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Player ID</div>
                                    <div class="menu">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui modal" id="confirm-db-delete-modal">
            <div class="header">Confirm Database Delete</div>
            <div class="content">
                <div class="description">Are you sure you want to delete the current database? This action cannot be undone.</div>
            </div>
            <div class="actions">
                <div class="ui red approve button">Yes</div>
                <div class="ui green cancel button">No</div>
            </div>
        </div>
    </div>
</template>

<template id="replay-row-template">
    <tr replay-id="{{id}}">
        <td class="replay-filename">{{filename}}</td>
        <td class="replay-date">{{date}}</td>
        <td class="replay-status">{{status}}</td>
    </tr>
</template>