<script src="../js/team-ranking.js"></script>

<script id="team-ranking-page" type="text/x-handlebars-template">
  <div id="team-ranking-page-content" class="is-page transition hidden" section-name="team-ranking">
    <div id="team-ranking-page-header">
      <div class="ui grid">
        <div class="four wide column">
          <h1 class="ui inverted header">Team Statistics</h1>
        </div>
        <div class="nine wide column">
          <div class="ui inverted small indicating progress transition hidden" id="team-progress-bar">
            <div class="bar"></div>
            <div class="label">Loading Teams</div>
          </div>
        </div>
        <div class="three wide column">
          <div class="ui fluid buttons">
            <button class="ui labeled icon button" id="team-ranking-filter-button">
              <i class="filter icon"></i>
              Filter
            </button>
            <div class="ui right labeled green icon button" id="team-ranking-alt-search-button">
              Search
              <i class="search icon"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="team-ranking-body">
      <div class="section-wrapper">
        <div class="ui top attached small menu">
          <a class="active item" data-mode="average">Average</a>
          <a class="item" data-mode="total">Total</a>
          <a class="item" data-mode="min">Minimum</a>
          <a class="item" data-mode="max">Maximum</a>
          <a class="item" data-mode="median">Median</a>
        </div>
        <div class="ui attached inverted segment">
          <div table-name="General" class="section" table-print="general">
            <table class="ui inverted selectable table" id="team-ranking-general-table">
              <thead>
                <tr>
                  
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>