
<script src="../js/teams.js"></script>
<link rel="stylesheet" type="text/css" href="../assets/css/teams.css">

<template id="teams-page">
  <div id="teams-page-content" class="is-page transition hidden" section-name="teams">
    <div id="teams-page-header">
      <div class="ui grid">
        <div class="ten wide column">
          <h1 class="ui inverted header team-name">[Team Name]</h1>
        </div>
        <div class="two wide column">
          <button class="ui labeled icon button" id="team-filter-button" data-variation="very wide">
            <i class="filter icon"></i>
            Filter Matches
          </button>
        </div>
        <div class="four wide column">
          <div class="ui fluid search selection dropdown team-menu" id="team-set-team">
            <i class="dropdown icon"></i>
            <span class="default text">Team</span>
            <div class="menu">

            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="team-detail-body">
    </div>
  </div>
</template>