<script src="../js/hero-trends.js"></script>
<link rel="stylesheet" type="text/css" href="../assets/css/hero-trends.css">

<template id="hero-trends-page">
  <div id="hero-trends-page-content" class="is-page transition hidden" section-name="hero-trends">
    <div id="hero-trends-page-header">
      <div class="ui grid">
        <div class="four wide column">
          <h1 class="ui inverted header">Hero Trends</h1>
        </div>
        <div class="two wide column">
          <div class="ui fluid labeled input" id="hero-trends-1-start">
            <div class="ui label">
              [1] Start
            </div>
            <input type="text" class="trends-date" name="1-start" data-content="Comparison Period 1 Start Day">
          </div>
        </div>
        <div class="two wide column">
          <div class="ui fluid labeled input" id="hero-trends-1-end">
            <div class="ui label">
              [1] End
            </div>
            <input type="text" class="trends-date" name="1-end" data-content="Comparison Period 1 End Day">
          </div>
        </div>
        <div class="two wide column">
          <div class="ui fluid labeled input" id="hero-trends-2-start">
            <div class="ui label">
              [2] Start
            </div>
            <input type="text" class="trends-date" name="2-start" data-content="Comparison Period 2 Start Day">
          </div>
        </div>
        <div class="two wide column">
          <div class="ui fluid labeled input" id="hero-trends-2-end">
            <div class="ui label">
              [2] End
            </div>
            <input type="text" class="trends-date" name="2-end" data-content="Comparison Period 2 End Day">
          </div>
        </div>
        <div class="two wide column">
          <div class="ui fluid labeled input" id="hero-trends-hero-thresh">
            <div class="ui label">
              Req. Hero Matches
            </div>
            <input type="text" data-content="A hero needs this many involved matches (picks and bans) to show up in the hero tables">
          </div>
        </div>
        <div class="two wide column">
          <button class="ui labeled fluid right floated green icon button" id="hero-trends-filter-button" data-variation="very wide">
            <i class="filter icon"></i>
            Filter Matches
          </button>
        </div>
      </div>
    </div>
    <div id="hero-trends-body">
      <div class="ui secondary inverted pointing menu" id="hero-trends-submenu">
        <a class="active item" data-tab="hero-trends-overall">Overall</a>
        <a class="item" data-tab="hero-trends-picks">Picks</a>
        <a class="item" data-tab="hero-trends-bans">Bans</a>
        <a class="item" data-tab="hero-trends-comps">Compositions</a>
      </div>
      <div class="ui active tab" data-tab="hero-trends-overall" id="hero-trends-summary" title="Overall">
        <div class="five ui buttons">
          <div class="ui Assassin red button">Assassin</div>
          <div class="ui Warrior blue button">Warrior</div>
          <div class="ui Support teal button">Support</div>
          <div class="ui Specialist violet button">Specialist</div>
          <div class="ui Multiclass purple button">Multiclass</div>
        </div>
        <div class="hero-trends-wrapper">
          <div class="table-wrapper">
            <table class="ui sortable compact selectable inverted table">
              <thead>
                <tr>
                  <th>Hero</th>
                  <th class="center aligned stat">[1] Win %</th>
                  <th class="center aligned stat">[2] Win %</th>
                  <th class="center aligned stat">Win % Δ</th>
                  <th class="center aligned stat">[1] Ban %</th>
                  <th class="center aligned stat">[2] Ban %</th>
                  <th class="center aligned stat">Ban % Δ</th>
                  <th class="center aligned stat">[1] Popularity</th>
                  <th class="center aligned stat">[2] Popularity</th>
                  <th class="center aligned stat">Popularity Δ</th>
                  <th class="center aligned stat">[1] Games</th>
                  <th class="center aligned stat">[2] Games</th>
                  <th class="center aligned stat">Games Δ</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="ui tab" data-tab="hero-trends-picks" id="hero-trends-picks" title="Picks">
        <div class="five ui buttons">
          <div class="ui Assassin red button">Assassin</div>
          <div class="ui Warrior blue button">Warrior</div>
          <div class="ui Support teal button">Support</div>
          <div class="ui Specialist violet button">Specialist</div>
          <div class="ui Multiclass purple button">Multiclass</div>
        </div>
        <div class="hero-trends-wrapper">
          <div class="table-wrapper">
            <table class="ui sortable compact selectable inverted table">
              <thead>
                <tr>
                  <th>Hero</th>
                  <th class="center aligned stat">[1] Games</th>
                  <th class="center aligned stat">[2] Games</th>
                  <th class="center aligned stat">Games Δ</th>
                  <th class="center aligned stat">[1] Round 1</th>
                  <th class="center aligned stat">[2] Round 1</th>
                  <th class="center aligned stat">Round 1 Δ</th>
                  <th class="center aligned stat">[1] Round 2</th>
                  <th class="center aligned stat">[2] Round 2</th>
                  <th class="center aligned stat">Round 2 Δ</th>
                  <th class="center aligned stat">[1] Round 3 %</th>
                  <th class="center aligned stat">[2] Round 3 %</th>
                  <th class="center aligned stat">Round 3 Δ</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="ui tab" data-tab="hero-trends-bans" id="hero-trends-bans" title="Bans">
        <div class="five ui buttons">
          <div class="ui Assassin red button">Assassin</div>
          <div class="ui Warrior blue button">Warrior</div>
          <div class="ui Support teal button">Support</div>
          <div class="ui Specialist violet button">Specialist</div>
          <div class="ui Multiclass purple button">Multiclass</div>
        </div>
        <div class="hero-trends-wrapper">
          <div class="table-wrapper">
            <table class="ui sortable compact selectable inverted table">
              <thead>
                <tr>
                  <th>Hero</th>
                  <th class="center aligned stat">[1] Ban %</th>
                  <th class="center aligned stat">[2] Ban %</th>
                  <th class="center aligned stat">Ban % Δ</th>
                  <th class="center aligned stat">[1] 1st Ban</th>
                  <th class="center aligned stat">[2] 1st Ban</th>
                  <th class="center aligned stat">1st Ban Δ</th>
                  <th class="center aligned stat">[1] 2nd Ban</th>
                  <th class="center aligned stat">[2] 2nd Ban</th>
                  <th class="center aligned stat">2nd Ban Δ</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="ui tab" data-tab="hero-trends-comps" id="hero-trends-comps" title="Compositions">
        <div class="hero-trends-wrapper">
          <div class="table-wrapper">
            <table class="ui sortable compact selectable inverted table">
              <thead>
                <tr>
                  <th class="center aligned">Team Composition</th>
                  <th class="center aligned stat">[1] Win %</th>
                  <th class="center aligned stat">[2] Win %</th>
                  <th class="center aligned stat">Win % Δ</th>
                  <th class="center aligned stat">[1] Popularity</th>
                  <th class="center aligned stat">[2] Popularity</th>
                  <th class="center aligned stat">Popularity Δ</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui modal" id="trends-print-sections">
    <div class="header">Select Sections to Print</div>
    <div class="content">
      <div class="ui fluid search multiple selection dropdown">
        <i class="dropdown icon"></i>
        <div class="default text">Select Sections</div>
        <div class="menu">
          <div class="item" data-value="hero-trends-summary">Overall</div>
          <div class="item" data-value="hero-trends-picks">Picks</div>
          <div class="item" data-value="hero-trends-bans">Bans</div>
          <div class="item" data-value="hero-trends-comps">Compositions</div>
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="ui green approve button">Print</div>
      <div class="ui red deny button">Cancel</div>
    </div>
  </div>
</template>

<template id="trends-hero-summary-row-template">
  <tr class="trends-hero-summary-row {{heroRole}}">
    <td data-sort-value="{{heroName}}">
      <h3 class="ui image inverted header">
        <img src="assets/heroes-talents/images/heroes/{{heroImg}}" class="ui rounded image">
        <div class="content">
          {{heroName}}
        </div>
      </h3>
    </td>
    <td class="center aligned" data-sort-value="{{period1.win.winPercent}}">{{formatPct period1.win.winPercent}}</td>
    <td class="center aligned" data-sort-value="{{period2.win.winPercent}}">{{formatPct period2.win.winPercent}}</td>
    <td class="center aligned {{statSign.winPercent}}" data-sort-value="{{delta.winPercent}}">{{deltaFmt.winPercent}}</td>
    <td class="center aligned" data-sort-value="{{period1.win.banPercent}}">{{formatPct period1.win.banPercent}}</td>
    <td class="center aligned" data-sort-value="{{period2.win.banPercent}}">{{formatPct period2.win.banPercent}}</td>
    <td class="center aligned {{statSign.banPercent}}" data-sort-value="{{delta.banPercent}}">{{deltaFmt.banPercent}}</td>
    <td class="center aligned" data-sort-value="{{period1.win.popPercent}}">{{formatPct period1.win.popPercent}}</td>
    <td class="center aligned" data-sort-value="{{period2.win.popPercent}}">{{formatPct period2.win.popPercent}}</td>
    <td class="center aligned {{statSign.popPercent}}" data-sort-value="{{delta.popPercent}}">{{deltaFmt.popPercent}}</td>
    <td class="center aligned" data-sort-value="{{period1.win.games}}">{{period1.win.games}}</td>
    <td class="center aligned" data-sort-value="{{period2.win.games}}">{{period2.win.games}}</td>
    <td class="center aligned {{statSign.games}}" data-sort-value="{{delta.games}}">{{deltaFmt.games}}</td>
  </tr>
</template>

<template id="trends-hero-pick-row-template">
  <tr class="trends-hero-pick-row {{heroRole}}">
    <td data-sort-value="{{heroName}}">
      <h3 class="ui image inverted header">
        <img src="assets/heroes-talents/images/heroes/{{heroImg}}" class="ui rounded image">
        <div class="content">
          {{heroName}}
        </div>
      </h3>
    </td>
    <td class="center aligned" data-sort-value="{{period1.win.games}}">{{period1.win.games}}</td>
    <td class="center aligned" data-sort-value="{{period2.win.games}}">{{period2.win.games}}</td>
    <td class="center aligned {{statSign.games}}" data-sort-value="{{delta.games}}">{{deltaFmt.games}}</td>
    <td class="center aligned" data-sort-value="{{period1.draft.picks.round1.pct}}">{{formatPct period1.draft.picks.round1.pct}}</td>
    <td class="center aligned" data-sort-value="{{period2.draft.picks.round1.pct}}">{{formatPct period2.draft.picks.round1.pct}}</td>
    <td class="center aligned {{statSign.r1}}" data-sort-value="{{delta.r1}}">{{deltaFmt.r1}}</td>
    <td class="center aligned" data-sort-value="{{period1.draft.picks.round2.pct}}">{{formatPct period1.draft.picks.round2.pct}}</td>
    <td class="center aligned" data-sort-value="{{period2.draft.picks.round2.pct}}">{{formatPct period2.draft.picks.round2.pct}}</td>
    <td class="center aligned {{statSign.r2}}" data-sort-value="{{delta.r2}}">{{deltaFmt.r2}}</td>
    <td class="center aligned" data-sort-value="{{period1.draft.picks.round3.pct}}">{{formatPct period1.draft.picks.round3.pct}}</td>
    <td class="center aligned" data-sort-value="{{period2.draft.picks.round3.pct}}">{{formatPct period2.draft.picks.round3.pct}}</td>
    <td class="center aligned {{statSign.r3}}" data-sort-value="{{delta.r3}}">{{deltaFmt.r3}}</td>
  </tr>
</template>

<template id="trends-hero-pick-ban-template">
  <tr class="trends-hero-ban-row {{heroRole}}">
    <td data-sort-value="{{heroName}}">
      <h3 class="ui image inverted header">
        <img src="assets/heroes-talents/images/heroes/{{heroImg}}" class="ui rounded image">
        <div class="content">
          {{heroName}}
        </div>
      </h3>
    </td>
    <td class="center aligned" data-sort-value="{{period1.win.banPercent}}">{{formatPct period1.win.banPercent}}</td>
    <td class="center aligned" data-sort-value="{{period2.win.banPercent}}">{{formatPct period2.win.banPercent}}</td>
    <td class="center aligned {{statSign.banPercent}}" data-sort-value="{{delta.banPercent}}">{{deltaFmt.banPercent}}</td>
    <td class="center aligned" data-sort-value="{{period1.draft.firstBanPercent}}">{{formatPct period1.draft.firstBanPercent}}</td>
    <td class="center aligned" data-sort-value="{{period2.draft.firstBanPercent}}">{{formatPct period2.draft.firstBanPercent}}</td>
    <td class="center aligned {{statSign.firstBanPercent}}" data-sort-value="{{delta.firstBanPercent}}">{{deltaFmt.firstBanPercent}}</td>
    <td class="center aligned" data-sort-value="{{period1.draft.secondBanPercent}}">{{formatPct period1.draft.secondBanPercent}}</td>
    <td class="center aligned" data-sort-value="{{period2.draft.secondBanPercent}}">{{formatPct period2.draft.secondBanPercent}}</td>
    <td class="center aligned {{statSign.secondBanPercent}}" data-sort-value="{{delta.secondBanPercent}}">{{deltaFmt.secondBanPercent}}</td>
  </tr>
</template>
